body {
    padding: 0;
}

#ventu-canvas {
    width: 100%;
    height: 100%;
}

.ventu-content {
    width: 50%;
    height: calc(100% - 148px);
    position: absolute;
    left: 50%;
    top: 84px;
}

.ventu-stack-container {
    width: 100%;
    height: 100%;
}



@media (max-width: 1200px) {

    .ventu-filter {
        width: 360px;
    }

    .ventu-content {
        width: 500px;
    }

    .ventu-stack-container {
        width: 100%;
    }

}



@media (max-width: 1024px) {
    /* tablet */

    body {
        padding: 100px 20px 20px;
        overflow: hidden;
    }

    body.ventu-app {
        padding-left: 0; /* because of this bug: http://stackoverflow.com/questions/11520728/overflow-yvisible-not-working-when-overflow-xhidden-is-present we move the padding to the filter box itself. */
    }

    .ventu-filter {
        width: calc(100% - 580px);
        margin-right: 40px;
    }

    .ventu-content {
        width: 500px;
        margin-right: 40px;
    }

}



@media (max-width: 768px) {
    /* mobile */

    body {
        font-size: 12px;
        line-height: 16px;
        padding: 100px 20px 20px;
    }

    body.ventu-app {
        padding: 0;
    }

    .ventu-content {
        float: none;
        width: 100%;
        margin-right: 0;
    }

    .ventu-app .ventu-content {
        padding: 108px 12px 12px;
        max-height: 100%;
        overflow: hidden;
    }

}
