/* bootstrap overrides */

ul.nav {
    padding-top: 10px;
}

.navbar-default .navbar-nav > li {
    margin-right: 8px;
}

.navbar-default .navbar-nav > li > a {
    padding: 8px 16px;
    font-size: 12px;
    transition: all 0.2s ease;
    border-bottom: 2px solid transparent;
}

.btn {
    border-radius: 0;
    font-size: 12px;
    padding: 16px 20px;
    border: 0;
    cursor: pointer;
    transition: all 0.2s ease;
}


.btn-with-icon {
    padding: 4px 12px 4px 6px;
    border: 0;
    background: transparent;
    color: #fff;
}

.btn-with-icon .ventu-icon {
    padding-top: 0;
}

.btn-with-icon:hover {
    border-radius: 0;
    color: #1F1F1F;
}

.btn-with-icon:hover .ventu-icon {
    color: #1F1F1F;
}
