.ventu-filter-label {
    display: none;
}

/* map */

.ventu-filter-box {
    margin-bottom: 10px;
    transition: height 0.5s ease;
    padding-bottom: 10px;
}

.ventu-filter-box-head {
    display: none;
}

.ventu-filter-box {
    overflow: hidden;
}

.ventu-map {
    width: 100%;
    height: 280px;
    position: relative;
    overflow: hidden;
}

#ventu-canvas {
    width: 100%;
    height: 100%;
}

.ventu-map-tools {
    background: #00E5A9;
    height: 32px;
}

.ventu-map-tools .ventu-icon {
    color: #fff;
}

.ventu-map-search {
    position: absolute;
    left: 12px;
    top: 12px;
    background: #fff;
    height: 42px;
    width: 120px;
    transition: width 0.2s ease;
    border: 0.75px solid #727272;
}

.ventu-map-search input {
    height: 100%;
    background: transparent;
    padding: 6px 12px;
    width: calc(100% - 44px);
    border: 0;
    transition: width 0.2s ease;
    vertical-align: top;
}

.ventu-map-search.active input {
    width: calc(100% - 80px);
}

.ventu-map-search.active {
    width: calc(100% - 24px);
}

.ventu-map-search-tools {
    padding: 5px 8px 5px 0;
    display: inline-block;
}

.ventu-map-search .ventu-icon-remove {
    display: none;
}

.ventu-map-search-results {
    display: none;
    position: absolute;
    left: 0;
    top: 32px;
    width: 100%;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    border-top: 0.5px solid #D5D5D5;
    max-height: 200px;
    overflow: auto;
}

.ventu-map-search-result {
    padding: 8px;
    border-bottom: 0.5px solid #D5D5D5;
}

.ventu-map-search-result-text {
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
}

.ventu-map-search-result-actions {
    display: inline-block;
    float: right;
}

.ventu-map-circle {
    position: absolute;
    left: 140px;
    top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: rgba(0,0,0,0.4);
    cursor: move;
}

.ventu-map-circle:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #00E5A9;
    content: '';
}

/* slider */

.ventu-slider .slider.slider-horizontal {
    width: 100%;
    margin-top: 30px;
}

.ventu-slider .slider.slider-horizontal .slider-track {
    height: 3px;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

.ventu-slider .slider.slider-horizontal .slider-handle {
    background: transparent;
    border-radius: 0;
    margin-top: -13px;
}

.ventu-slider .slider.slider-horizontal .slider-handle:after {
    position: absolute;
    top: -2px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 12px solid #164dca;
    content: '';
}

.min-slider-handle.slider-handle:after{
    left: 1px;
}

.max-slider-handle.slider-handle:after{
    left: 1px;
}

.ventu-slider .slider-track-low, .ventu-filter .slider-track-high {
    background: #fff;
    border-radius: 0;
    border: 0.5px solid #1F1F1F;
    box-shadow: none;
}

.ventu-slider .slider-selection {
    background: #164dca;
    border-radius: 0;
    box-shadow: none;
}

.ventu-slider .tooltip-arrow {
    display: none;
}

.ventu-slider .tooltip-inner {
    background: #164dca;
    border-radius: 0;
    font-size: 8px;
    padding: 4px 12px;
    margin-top: 2px;
    color: #fff;
    cursor: pointer;
}

.ventu-slider .tooltip-inner:after {
    content: ' m²';
}

/* types */

.ventu-filter-type {
    background: #fff;
    font-size: 10px;
    padding: 6px 16px;
    border: 0.75px solid #727272;
    color: #959595;
    display: inline-block;
    margin: 0 4px 8px 0;
    cursor: pointer;
}

.ventu-filter-type:hover {
    background: #727272;
    color: #fff;
    border: 0.75px solid transparent;
}

.ventu-filter-type.active {
    background: #164DC8;
    color: #E1F0FF;
    border: 0.75px solid transparent;
}


@media (max-width: 1024px) {

    /* filter boxes expandable */
    .ventu-filter-box {
        border-bottom: 1px solid #fff;
        margin: 0;
    }

    .ventu-filter-box-head {
        display: block;
        padding: 12px 24px;
        cursor: pointer;
        position: relative;
    }

    .ventu-filter-box-head:after {
        position: absolute;
        right: 16px;
        top: 16px;
        content: '';
        font-family: 'fontAwesome';
        font-size: 10px;
    }

    .closed .ventu-filter-box-head:after {
        content: '';
    }

    .ventu-filter-box-body {
        padding: 0 12px 12px 12px;
    }
}



@media (max-width: 768px) {

    .ventu-filter-box:last-child {
        border-bottom: 1px solid #727272;
    }

    /* filter as overlay */

    .ventu-filter {
        position: fixed;
        left: 0;
        background: #EDEDEC;
        width: 100%;
        z-index: 1;
        height: auto;
        float: none;
        margin: 0;
        overflow: visible;
        transition: all 0.5s ease;
    }

    .ventu-filter-label {
        display: inline-block;
        position: absolute;
        bottom: -36px;
        height: 36px;
        right: 10px;
        padding: 4px 10px;
        font-size: 9px;
        background: #727272;
        cursor: pointer;
        color: #fff;
    }

    .ventu-filter-label .ventu-icon {
        color: #fff;
    }

    .ventu-filter-label .ventu-filter-label-text {
        display: inline-block;
        vertical-align: top;
        padding-top: 7px;
        margin-right: 8px;
        white-space: nowrap;
    }

    .ventu-filter-type {
        background: #fff;
    }

    .ventu-map {
        height: 200px;
    }

}