.ventu-filter-label {
    display: none;
}

/* map */

.ventu-filter-box {
    margin-bottom: 10px;
    transition: height 0.5s ease;
    padding-bottom: 10px;
}

.ventu-filter-box-head {
    display: none;
}

.ventu-filter-box {
    overflow: hidden;
}

.ventu-map {
    width: 100%;
    height: 280px;
    position: relative;
    overflow: hidden;
}

#ventu-canvas {
    width: 100%;
    height: 100%;
}

.ventu-map-tools {
    background: #00E5A9;
    height: 32px;
}

.ventu-map-tools .ventu-icon {
    color: #fff;
}

.ventu-map-search {
    position: absolute;
    left: 12px;
    top: 12px;
    background: #fff;
    height: 42px;
    width: 120px;
    transition: width 0.2s ease;
    border: 0.75px solid #727272;
}

.ventu-map-search input {
    height: 100%;
    background: transparent;
    padding: 6px 12px;
    width: calc(100% - 44px);
    border: 0;
    transition: width 0.2s ease;
    vertical-align: top;
}

.ventu-map-search.active input {
    width: calc(100% - 80px);
}

.ventu-map-search.active {
    width: calc(100% - 24px);
}

.ventu-map-search-tools {
    padding: 5px 8px 5px 0;
    display: inline-block;
}

.ventu-map-search .ventu-icon-remove {
    display: none;
}

.ventu-map-search-results {
    display: none;
    position: absolute;
    left: 0;
    top: 32px;
    width: 100%;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    border-top: 0.5px solid #D5D5D5;
    max-height: 200px;
    overflow: auto;
}

.ventu-map-search-result {
    padding: 8px;
    border-bottom: 0.5px solid #D5D5D5;
}

.ventu-map-search-result-text {
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
}

.ventu-map-search-result-actions {
    display: inline-block;
    float: right;
}

.ventu-map-circle {
    position: absolute;
    left: 140px;
    top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: rgba(0,0,0,0.4);
    cursor: move;
    border: 2px solid #727272;
    transition: all 0.5s ease;
}

.ventu-map-circle:hover {
    border: 2px solid #00E5A9;
}

.ventu-get-locations {
    animation-name: ventu-loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.ventu-get-locations .ventu-map-circle-handle {
    display: none;
}

@keyframes ventu-loading {
    0% {border: 2px solid #727272;}
    50% {border: 5px solid #00E5A9;}
    100% {border: 2px solid #727272;}
}

.ventu-map-circle-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 2px solid #727272;
    background: #fff;
    content: '';
    transition: all 0.5s ease;
}

.ventu-map-circle-handle:hover {
    border: 2px solid #00E5A9;
}

.ventu-map-circle-handle-n {
    top: -8px;
    left: calc(50% - 8px);
    cursor: ns-resize;
}

.ventu-map-circle-handle-s {
    bottom: -8px;
    left: calc(50% - 8px);
    cursor: ns-resize;
}

.ventu-map-circle-handle-w {
    top: calc(50% - 8px);
    left: -8px;
    cursor: ew-resize;
}

.ventu-map-circle-handle-e {
    top: calc(50% - 8px);
    right: -8px;
    cursor: ew-resize;
}

/* slider */

.ventu-slider .slider.slider-horizontal {
    width: 100%;
    margin-top: 30px;
}

.ventu-slider .slider.slider-horizontal .slider-track {
    height: 3px;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

.ventu-slider .slider.slider-horizontal .slider-handle {
    background: transparent;
    border-radius: 0;
    margin-top: -13px;
}

.ventu-slider .slider.slider-horizontal .slider-handle:after {
    position: absolute;
    top: -2px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 12px solid #164dca;
    content: '';
}

.min-slider-handle.slider-handle:after{
    left: 1px;
}

.max-slider-handle.slider-handle:after{
    left: 1px;
}

.ventu-slider .slider-track-low, .ventu-filter .slider-track-high {
    background: #fff;
    border-radius: 0;
    border: 0.5px solid #1F1F1F;
    box-shadow: none;
}

.ventu-slider .slider-selection {
    background: #164dca;
    border-radius: 0;
    box-shadow: none;
}

.ventu-slider .tooltip-arrow {
    display: none;
}

.ventu-slider .tooltip-inner {
    background: #164dca;
    border-radius: 0;
    font-size: 8px;
    padding: 4px 12px;
    margin-top: 2px;
    color: #fff;
    cursor: pointer;
}

.ventu-slider .tooltip-inner:after {
    content: ' m²';
}

/* types */

.ventu-filter-type {
    border-radius: 0px;
    font-size: 10px;
    padding: 8px 16px 8px 36px;
    border: 0.75px solid #727272;
    color: #727272;
    display: inline-block;
    margin: 0 4px 8px 0;
    cursor: pointer;
    position: relative;
    background-color: #EDEDEC;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    background-size: 26px;
    opacity: 0.3;
}

.ventu-filter-type-2 {
    padding-left: 16px;
}

.ventu-filter-type:hover, .ventu-filter-type.active {
    border: 0.75px solid #727272;
    opacity: 1;
}

.ventu-filter-type-kantoor {
    background-image: url('../img/triangles/3.png')!important;
}

.ventu-filter-type-werkplek {
    background-image: url('../img/triangles/2.png')!important;
}

.ventu-filter-type-bedrijfsruimte {
    background-image: url('../img/triangles/4.png')!important;
}

.ventu-filter-type-distributie {
    background-image: url('../img/triangles/5.png')!important;
}

.ventu-filter-type-winkel {
    background-image: url('../img/triangles/1.png')!important;
}

.ventu-filter-type-horeca {
    background-image: url('../img/triangles/8.png')!important;
}

.ventu-filter-type-grond {
    background-image: url('../img/triangles/6.png')!important;
}

.ventu-filter-type-overige {
    background-image: url('../img/triangles/7.png')!important;
}


@media (max-width: 1024px) {

    /* filter boxes expandable */
    .ventu-filter-box {
        border-bottom: 1px solid #fff;
        margin: 0;
    }

    .ventu-filter-box-head {
        display: block;
        padding: 12px 24px;
        cursor: pointer;
        position: relative;
    }

    .ventu-filter-box-head:after {
        position: absolute;
        right: 16px;
        top: 16px;
        content: '';
        font-family: 'fontAwesome';
        font-size: 10px;
    }

    .closed .ventu-filter-box-head:after {
        content: '';
    }

    .ventu-filter-box-body {
        padding: 0 12px 12px 12px;
    }
}



@media (max-width: 768px) {

    .ventu-filter-box:last-child {
        border-bottom: 1px solid #727272;
    }

    /* filter as overlay */

    .ventu-filter {
        position: fixed;
        left: 0;
        background: #EDEDEC;
        width: 100%;
        z-index: 1;
        height: auto;
        float: none;
        margin: 0;
        overflow: visible;
        transition: all 0.5s ease;
    }

    .ventu-filter-label {
        display: inline-block;
        position: absolute;
        bottom: -36px;
        height: 36px;
        right: 15px;
        padding: 4px 10px;
        font-size: 9px;
        background: #727272;
        cursor: pointer;
        color: #fff;
    }

    .ventu-filter-label .ventu-icon {
        color: #fff;
    }

    .ventu-filter-label .ventu-filter-label-text {
        display: inline-block;
        vertical-align: top;
        padding-top: 7px;
        margin-right: 8px;
        white-space: nowrap;
    }

    .ventu-filter-type {
        background-color: #fff;
    }

    .ventu-map {
        height: 200px;
    }

}