/* bootstrap overrides */

nav.navbar-default {
    position: fixed;
    z-index: 2;
    background: #fff!important;
    border-bottom: 0.75px solid #727272;
}

#navbar {
    height: 100%;
}

#navbar > ul {
    height: 100%;
}

.navbar-header {
    min-height: 60px;
}

.navbar-brand {
    padding: 0;
}

.navbar-default .navbar-toggle {
    border-radius: 0;
    border: 1px solid #727272;
    margin-top: 15px;
}

.navbar-default .navbar-toggle:hover {
    background: #727272;
}

.navbar-default .navbar-toggle .icon-bar {
    border-radius: 0;
    background-color: #727272;
    height: 1px;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}

.dropdown-menu {
    border-radius: 0;
    border: 0.75px solid #727272;
    box-shadow: none;
    top: 30px;
}

.dropdown-menu > li > a {
    padding: 8px 20px;
    font-size: 12px;
}

/* form */

.form-signin {
    padding: 20px;
    width: 300px;
}

.form-signin h2 {
    font-size: 22px;
    line-height: 32px;
    margin-top: 0;
}

.form-signin input {
    border-radius: 0;
    border: 0.75px solid #727272;
    margin-bottom: 10px;
    color: #727272;
}


/* map search */

.ventu-map-search {
    background: #fff;
    margin-top: 14px;
    height: 42px;
    transition: width 0.2s ease;
    border: 0.75px solid #727272;
}

.ventu-map-search input {
    height: 100%;
    background: transparent;
    padding: 6px 12px;
    width: 300px;
    border: 0;
    transition: width 0.2s ease;
    vertical-align: top;
}

.ventu-map-search-tools {
    padding: 5px 8px 5px 0;
    display: inline-block;
}

.ventu-map-search .ventu-icon-remove {
    display: none;
}

.ventu-map-search-results {
    display: none;
    position: absolute;
    left: -0.75px;
    top: 40px;
    width: calc(100% + 1.5px);
    background: #fff;
    border: 0.5px solid #727272;
    border-top: 0.5px solid #D5D5D5;
    max-height: 200px;
    overflow: auto;
}

.ventu-map-search-result {
    padding: 8px;
    border-bottom: 0.5px solid #D5D5D5;
    cursor: pointer;
}

.ventu-map-search-result:hover {
    background: #D5D5D5;
}

.ventu-map-search-result:last-child {
    border-bottom: none;
}

.ventu-map-search-result-text {
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
}


/* -- identity - */

.ventu-identity {
    display: inline-block;
    margin-right: 20px;
    border-right: 0.75px solid #727272;
}

.ventu-menu-buttons {
    display: inline-block;
}

.ventu-smartphone-popup {
    display: none;
}

.only-smartphone {
    display: none!important;
}

.ventu-menu-dropdowns {
    margin: 0;
    display: inline-block;
    height: 100%;
    padding: 22px;
    float: right;
    font-size: 18px;
    border-left: 0.75px solid #727272;
}

.ventu-menu-dropdowns .dropdown {
    margin-right: 6px;
}

.ventu-menu-dropdowns a {
    text-decoration: none;
}

.ventu-settings {
    display: inline-block;
    height: 100%;
    padding: 20px;
    float: right;
    font-size: 18px;
    border-left: 0.75px solid #727272;
}

.ventu-social-media i {
    margin-left: 8px;
    cursor: pointer;
    color: #00DFF3;
}

.ventu-settings i {
    margin-left: 8px;
    cursor: pointer;
    color: #FF632C;
}

.ventu-settings i:hover, .ventu-social-media i:hover, .ventu-settings i.active, .ventu-social-media i.active {
    color: #1f1f1f;
}

.ventu-social-media {
    display: inline-block;
    height: 100%;
    padding: 22px;
    float: right;
    font-size: 18px;
    border-left: 0.5px solid #727272;
}

.ventu-favorites-navigation {
    float: right;
    display: inline-block;
    height: 100%;
    width: 200px;
    position: relative;
}

.ventu-dropdown {
    display: none;
    position: absolute;
    right: 10px;
    top: 60px;
    background: #FF632C;
    min-height: 100px;
    border: 0.5px solid #727272;
    box-shadow: 0 3px 3px rgba(0,0,0,0.5);
    font-family: 'Graphik';
    font-size: 12px;
    line-height: 17px;
}

.ventu-dropdown-menu {
    padding: 20px 0;
}

.ventu-dropdown-menu-button, .ventu-dropdown-menu-checkmark-set {
    color: #1F1F1F;
    padding: 6px 10px;
}

.ventu-dropdown-menu-button.inactive {
    opacity: 0.25;
    cursor: default;
}

.ventu-dropdown-menu-button.inactive:hover {
    background: transparent;
}

.ventu-dropdown-menu-button:hover {
    background: #fff;
}

.ventu-dropdown-menu-divider {
    border-bottom: 0.5px solid #727272;
    padding-bottom: 5px;
    margin-bottom: 5px;
}



@media (max-width: 1024px) {
    /* tablet */


    /* temp hidden */
    .ventu-social-media {
        display: none;
    }

    /* favorites inside menu */
    .ventu-favorites-navigation {
        width: 150px;
    }

    .ventu-favorites-navigation.ventu-app {
        width: 70px;
    }

    .ventu-app .ventu-favorites-counter-container {
        text-align: left;
    }

}

@media (max-width: 768px) {

    .ventu-smartphone-popup {
        display: none;
        top: 10px;
        position: fixed;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        overflow: auto;
        z-index: 100000000;
    }

    .ventu-smartphone-popup-close {
        position: absolute;
        right: 10px;
        bottom: 10px;
        z-index: 1000000;
    }

    .dropdown-menu {
        margin-top: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 0!important;
    }

    #navbar {
        border-top: 0.75px solid #727272;
        width: 100%;
    }

    .ventu-menu-dropdowns {
        padding: 0;
        border: 0;
    }
    
    .ventu-menu-dropdowns .dropdown-toggle {
        display: none;
    }

    .ventu-menu-buttons, .only-smartphone {
        display: inline-block!important;
    }

    .navbar-default .navbar-nav > li {
        margin-right: 0;
        padding: 4px 8px;
    }

    .navbar-default .navbar-nav > li > a{
        margin-right: 0;
        padding: 4px 8px;
        display: inline-block;
    }



}

