

html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    font-size: 12px;
    line-height: 17px;
    padding: 80px 40px 40px;
    color: #1F1F1F;
    font-family: 'graphik';
}

input {
    font-size: 12px;
    color: #1F1F1F;
}

* {
    box-sizing: border-box;
}

.ventu-unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}


/* architecture */


.ventu-filter {
    width: 360px;
    height: 100%;
    overflow: auto;
    float: left;
    margin-right: 60px;
}

.ventu-content {
    width: 500px;
    float: left;
    height: 100%;
    position: relative;
    max-height: 570px;
}

.ventu-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 10000;
}



/* menu */

.ventu-menu {
    position: fixed;
    z-index: 2;
    background: #fff;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

.ventu-identity {
    display: inline-block;
    padding: 8px;
    margin-right: 20px;
}

.ventu-menu-buttons {
    display: inline-block;
}

.ventu-settings {
    display: inline-block;
    height: 100%;
    padding: 20px;
    float: right;
    font-size: 18px;
    border-left: 0.5px solid #727272;
}

.ventu-social-media i {
    margin-left: 8px;
    cursor: pointer;
    color: #00DFF3;
}

.ventu-settings i {
    margin-left: 8px;
    cursor: pointer;
    color: #FF632C;
}

.ventu-settings i:hover, .ventu-social-media i:hover, .ventu-settings i.active, .ventu-social-media i.active {
    color: #1f1f1f;
}

.ventu-social-media {
    display: inline-block;
    height: 100%;
    padding: 20px;
    float: right;
    font-size: 18px;
    border-left: 0.5px solid #727272;
}

.ventu-favorites-navigation {
    float: right;
    display: inline-block;
    height: 100%;
    width: 200px;
    position: relative;
}

.ventu-dropdown {
    display: none;
    position: absolute;
    right: 10px;
    top: 60px;
    background: #FF632C;
    min-height: 100px;
    border: 0.5px solid #727272;
    box-shadow: 0 3px 3px rgba(0,0,0,0.5);
    font-family: 'Graphik';
    font-size: 12px;
    line-height: 17px;
}

.ventu-dropdown-menu {
    padding: 20px 0;
}

.ventu-dropdown-menu-button, .ventu-dropdown-menu-checkmark-set {
    color: #1F1F1F;
    padding: 6px 10px;
}

.ventu-dropdown-menu-button.inactive {
    opacity: 0.25;
    cursor: default;
}

.ventu-dropdown-menu-button.inactive:hover {
    background: transparent;
}

.ventu-dropdown-menu-button:hover {
    background: #fff;
}

.ventu-dropdown-menu-divider {
    border-bottom: 0.5px solid #727272;
    padding-bottom: 5px;
    margin-bottom: 5px;
}



/* buttons */

.ventu-button {
    display: inline-block;
    padding: 16px 20px;
    border: 0.5px solid #727272;
    color: #727272;
    cursor: pointer;
    transition: all 0.2s ease;
}

a.ventu-button:hover {
    text-decoration: none;
}

.ventu-button-small.ventu-button {
    padding: 8px 20px;
}

.ventu-button-with-icon {
    padding: 4px 12px 4px 6px;
}

.ventu-button:hover {
    border: 0.5px solid #00E5A9;
    color: #00E5A9;
}

.ventu-menu-button.ventu-button {
    padding: 8px 16px;
    margin-right: 4px;
    font-size: 10px;
}

.ventu-button-blue {
     background: #164DC8;
     border: 0;
     color: #fff;
}

.ventu-button-blue:hover {
    background: #03256B;
    border: 0;
    color: #fff;
}

.ventu-button-light-blue {
    background: #3e86ff;
    border: 0;
    color: #fff;
}

.ventu-button-light-blue:hover, .ventu-button-light-blue.current {
    background: #164DC8;
    border: 0;
    color: #fff;
}

.ventu-button-white-line {
    background: transparent;
    border: 0.5px solid #fff;
    color: #fff;
}

.ventu-button-white-line:hover {
    border: 0.5px solid #1F1F1F;
    color: #1F1F1F;
}

.ventu-button-no-line-white {
    border: 0;
    background: transparent;
    color: #fff;
    padding: 0;
}

.ventu-button-no-line-white:hover {
    border: 0;
    color: #1F1F1F;
}

.ventu-button-no-line-white:hover .ventu-icon {
    color: #1F1F1F;
}

.ventu-button-white-line:hover .ventu-icon {
    color: #1F1F1F;
}

.ventu-button-white {
    background: #fff;
    border: 1px solid transparent;
    color: #1f1f1f;
}

.ventu-button-white:hover {
    background: #fff;
    border: 0.5px solid #1f1f1f;
    color: #1f1f1f;
}



/* triangle */

.ventu-triangle {
    position: relative;
}

.ventu-triangle:after {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
}

.ventu-triangle-cover {
    position: absolute;
    left: -1px;
    top: 0;
    width: 0;
    height: 100%;
    z-index: 1;
}

.ventu-triangle-bottom:after, .ventu-triangle-top:after {
    left: calc(50% - 12px);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.ventu-triangle-left:after, .ventu-triangle-right:after {
    top: calc(50% - 12px);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.ventu-triangle-left:after {
    left: 0;
}

.ventu-triangle-right:after {
    right: 0;
}

.ventu-triangle-bottom:after {
    bottom: 0;
}

.ventu-triangle-top:after {
    top: 0;
}

.ventu-triangle-bottom.ventu-triangle-light-grey:after {
    border-bottom: 17px solid #EDEDEC;
}

.ventu-triangle-bottom.ventu-triangle-grey:after {
    border-bottom: 17px solid #d3d3d3;
}

.ventu-triangle-bottom.ventu-triangle-white:after {
    border-bottom: 17px solid #FFFFFF;
}

.ventu-triangle-bottom.ventu-triangle-green:after {
    border-bottom: 17px solid #00E3A7;
}

.ventu-triangle-bottom.ventu-triangle-black:after {
    border-bottom: 17px solid #1F1F1F;
}

.ventu-triangle-top.ventu-triangle-light-grey:after {
    border-top: 17px solid #EDEDEC;
}

.ventu-triangle-top.ventu-triangle-grey:after {
    border-top: 17px solid #d3d3d3;
}

.ventu-triangle-top.ventu-triangle-white:after {
    border-top: 17px solid #FFFFFF;
}

.ventu-triangle-top.ventu-triangle-green:after {
    border-top: 17px solid #00E3A7;
}

.ventu-triangle-top.ventu-triangle-black:after {
    border-top: 17px solid #1F1F1F;
}

.ventu-triangle-left.ventu-triangle-light-grey:after {
    border-left: 17px solid #EDEDEC;
}

.ventu-triangle-left.ventu-triangle-grey:after {
    border-left: 17px solid #d3d3d3;
}

.ventu-triangle-left.ventu-triangle-white:after {
    border-left: 17px solid #FFFFFF;
}

.ventu-triangle-left.ventu-triangle-green:after {
    border-left: 17px solid #00E3A7;
}

.ventu-triangle-left.ventu-triangle-black:after {
    border-left: 17px solid #1F1F1F;
}

.ventu-triangle-right.ventu-triangle-light-grey:after {
    border-right: 17px solid #EDEDEC;
}

.ventu-triangle-right.ventu-triangle-grey:after {
    border-right: 17px solid #d3d3d3;
}

.ventu-triangle-right.ventu-triangle-white:after {
    border-right: 17px solid #FFFFFF;
}

.ventu-triangle-right.ventu-triangle-green:after {
    border-right: 17px solid #00E3A7;
}

.ventu-triangle-right.ventu-triangle-black:after {
    border-right: 17px solid #1F1F1F;
}



/* icons */

.ventu-icon {
    cursor: pointer;
    display: inline-block;
    font-family: 'ventu';
    text-align: center;
    transition: all 0.2s ease;
}

.ventu-icon-white {
    color: #fff;
}

.ventu-icon-white.ventu-icon-hover:hover {
    color: #1F1F1F!important;
}

.ventu-icon:after {
    content: 'x'; /* fallback when no icon content is set */
}

.ventu-icon-hover:hover {
    color: #00E5A9;
}

.ventu-icon-big {
    width: 32px;
    height: 32px;
    margin-right: 2px;
    padding-top: 8px;
    font-size: 26px;
}

.ventu-icon-med {
    width: 30px;
    height: 30px;
    margin-right: 2px;
    padding-top: 7px;
    font-size: 25px;
}

.ventu-icon-right {
    float: right;
    margin-right: 0;
    margin-left: 2px;
}

.ventu-icon-box {
    /*border: 0.75px solid #1F1F1F;*/
}

.ventu-icon-photo:after {
    content: 'p';
}

.ventu-icon-download:after {
    content: 'd';
}

.ventu-icon-search:after {
    content: 's';
}

.ventu-icon-comment:after {
    content: 'R';
}

.ventu-icon-add:after {
    content: '+';
}

.ventu-icon-remove:after, .ventu-icon-close:after {
    content: 'x';
}

.ventu-icon-reload:after {
    content: 'r';
}

.ventu-icon-prev:after {
    content: '<';
}

.ventu-icon-next:after {
    content: '>';
}

.ventu-icon-login:after {
    content: 'l';
}

.ventu-icon-filter:after {
    content: '-';
}

.ventu-text-along-icon {
    display: inline-block;
    padding-top: 8px;
    vertical-align: top;
    font-size: 10px;
}



/* typography */


.ventu-quote {
    font-family: 'freight';
    font-size: 32px;
    line-height: 38px;
}

h2 {
    font-weight: 100;
    font-size: 32px;
    line-height: 38px;
    margin: 50px 0 30px 0;
}



/* guides */

.ventu-guide {
    display: none;
    background: #FFDE00;
    padding: 20px 20px 60px 20px;
    font-size: 10px;
    font-family: 'graphik';
    font-weight: 400;
    position: fixed;
    width: 300px;
    z-index: 100000;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

.ventu-guide.ventu-guide-big {
}

.ventu-guide:after {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
}

.ventu-guide-left:after, .ventu-guide-right:after {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 50px;
}

.ventu-guide-big.ventu-guide-left:after, .ventu-guide-big.ventu-guide-right:after {
    top: 75px;
}

.ventu-guide-left:after {
    left: -16px;
    border-right: 16px solid #FFDE00;
}

.ventu-guide-right:after, .ventu-guide-right:after {
    right: -16px;
    border-left: 16px solid #FFDE00;
}

.ventu-guide-top:after {
    left: calc(50% - 10px);
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 16px solid #FFDE00;
}

.ventu-guide-bottom:after {
    left: 145px;
    bottom: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid #FFDE00;
}

.ventu-guide-button {
    position: absolute;
    bottom: 10px;
}

.ventu-guide-button.ventu-guide-next {
    left: 16px;
}

.ventu-guide-button.ventu-guide-close {
    right: 10px;
}



/* tooltips */

.tooltip {
    font-family: 'graphik';
    font-size: 9px;
}

.tooltip.in {
    opacity: 1;
}

.tooltip-inner {
    background: #959595;
    border-radius: 0;
    color: #fff;
}


.tooltip.top .tooltip-arrow {
    border-top-color: #959595;
    border-width: 11px 7px 0;
    bottom: -4px;
    margin-left: -7px;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #959595;
    border-width: 0 7px 11px;
    top: -4px;
}



/* filter */

.ventu-filter-label {
    display: none;
}

/* map */

.ventu-filter-box {
    margin-bottom: 10px;
    transition: height 0.5s ease;
}

.ventu-filter-box-head {
    display: none;
}

.ventu-filter-box {
    overflow: hidden;
}

.ventu-map {
    width: 100%;
    height: 280px;
    position: relative;
    overflow: hidden;
}

#ventu-canvas {
    width: 100%;
    height: 100%;
}

.ventu-map-tools {
    background: #00E5A9;
    height: 32px;
}

.ventu-map-search {
    position: absolute;
    left: 12px;
    top: 12px;
    background: #fff;
    height: 42px;
    width: 120px;
    transition: width 0.2s ease;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.ventu-map-search input {
    height: 100%;
    background: transparent;
    padding: 6px 12px;
    width: calc(100% - 44px);
    border: 0;
    transition: width 0.2s ease;
    vertical-align: top;
}

.ventu-map-search.active input {
    width: calc(100% - 80px);
}

.ventu-map-search.active {
    width: calc(100% - 24px);
}

.ventu-map-search-tools {
    padding: 5px 8px 5px 0;
    display: inline-block;
}

.ventu-map-search .ventu-icon-remove {
    display: none;
}

.ventu-map-search-results {
    display: none;
    position: absolute;
    left: 0;
    top: 32px;
    width: 100%;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    border-top: 0.5px solid #D5D5D5;
    max-height: 200px;
    overflow: auto;
}

.ventu-map-search-result {
    padding: 8px;
    border-bottom: 0.5px solid #D5D5D5;
}

.ventu-map-search-result-text {
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
}

.ventu-map-search-result-actions {
    display: inline-block;
    float: right;
}

.ventu-map-circle {
    position: absolute;
    left: 140px;
    top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: rgba(0,0,0,0.4);
    cursor: move;
}

.ventu-map-circle:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #00E5A9;
    content: '';
}

/* slider */

.ventu-slider .slider.slider-horizontal {
    width: 100%;
    margin-top: 30px;
}

.ventu-slider .slider.slider-horizontal .slider-track {
    height: 3px;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

.ventu-slider .slider.slider-horizontal .slider-handle {
    width: 16px;
    height: 24px;
    background: transparent;
    border-radius: 0;
    margin-top: -10px;
}

.ventu-slider .slider .slider-handle:after {
    position: absolute;
    left: 10px;
    top: 0;
    width: 0.5px;
    height: 16px;
    background: #1F1F1F;
    content: '';
}

.ventu-slider .slider-track-low, .ventu-filter .slider-track-high {
    background: #fff;
    border-radius: 0;
    border: 0.5px solid #1F1F1F;
    box-shadow: none;
}

.ventu-slider .slider-track-low {
    border-right: none;
}

.ventu-slider .slider-track-high {
    border-left: none;
}

.ventu-slider .slider-selection {
    background: #00E5A9;
    border-radius: 0;
    box-shadow: none;
}

.ventu-slider .tooltip-arrow {
    display: none;
}

.ventu-slider .tooltip-inner {
    background: transparent;
    border-radius: 0;
    color: #00E3A7;
}

.ventu-slider .tooltip-inner:after {
    content: ' m²';
}

/* types */

.ventu-filter-type-container {
    border-left: 1px solid #164DC8;
    padding-left: 20px;
}

.ventu-filter-type {
    background: #EDEDEC;
    font-size: 10px;
    padding: 10px 16px;
    border-radius: 10px;
    color: #959595;
    display: inline-block;
    margin: 0 4px 4px 0;
    cursor: pointer;
}

.ventu-filter-type:hover {
    background: #727272;
    color: #fff;
}

.ventu-filter-type.active {
    background: #164DC8;
    color: #E1F0FF;
}




/* stack */

.ventu-stack-container {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    perspective: 600px;
    -webkit-perspective: 600px;
    width: 100%;
    height: 500px;
    max-height: 100%;
    position: relative;
}

.ventu-card, .ventu-shade, .ventu-stack-shade {
    position: absolute;
    width: 500px;
    height: 400px;
    opacity: 1;
    border-bottom: 1px solid #ccc;
    background: #EDEDEC;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    perspective: 2500px;
    -webkit-perspective: 2500px;
    transition: all 0.5s ease;
}

.ventu-shade, .ventu-stack-shade {
    background: rgba(0,0,0,0.2);
    filter: blur(20px);
    -webkit-filter: blur(20px);
}

.ventu-shade {
    opacity: 0;
    border-radius: 50px;
}

.ventu-shade.current {
    opacity: 0.8;
    filter: blur(50px);
    -webkit-filter: blur(50px);
}

.ventu-card.no-transition, .ventu-shade.no-transition {
    transition: none;
}

.ventu-card-image {
    opacity: 0;
    width: 100%;
    height: 60%;
    transition: opacity 2s;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.ventu-card.current {
    cursor: pointer;
    position: relative;
    border: 0;
}

.ventu-card.current .ventu-card-image {
    opacity: 1;
}

.ventu-card-text {
    width: 100%;
    height: 40%;
    padding: 30px;
    font-weight: 300;
    display: none;
}

.ventu-card-text ul {
    padding-left: 10px;
}

h3 {
    font-weight: 100;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
}

.ventu-card-text h4 {
    font-family: 'freight';
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}


/* suggest */

.ventu-suggest {
    display: none;
    position: absolute;
    left: calc(50% - 40px);
    top: -10px;
    background: #fff;
    padding: 10px;
    text-align: center;
    width: 80px;
    color: #D5D5D5;
}



/* counter */

.ventu-counter {
    position: absolute;
    left: calc(50% - 15px);
    bottom: -8px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    padding-top: 7px;
    background: #3E86FF;
    color: #fff;
    font-size: 8px;
}


/* favorites */

.ventu-favorites {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.ventu-favorites-icon {
    text-align: center;
    padding: 10px 0 10px 0;
    position: relative;
}

.ventu-favorites-counter-container {
    width: 100%;
    font-size: 8px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

.ventu-favorites-counter {
    background: #00E3A7;
    padding: 6px;
    color: #fff;
    transition: all 0.5s ease;
}

.ventu-favorites-counter.shine {
    padding: 10px;
}



/* form */

.ventu-form.ventu-form-hidden {
    overflow: hidden;
    transition: all 0.5s ease;
}

.ventu-form-container {
    padding: 30px;
}

.ventu-form-with-close {
    padding-bottom: 70px;
    position: relative;
}



.ventu-form-blue {
    background: #3E86FF;
    color: #fff;
}

.ventu-form-intro {
    margin-bottom: 40px;
}

.ventu-form input {
    width: 100%;
    border: 0;
    color: #fff;
    border-bottom: 0.5px solid #fff;
    margin-bottom: 20px;
    background: transparent;
    padding: 4px;
    max-width: 400px;
    display: block;
}

.ventu-form-send {
    margin-top: 40px;
}

.ventu-form-send .ventu-button {
    margin-right: 10px;
}

.ventu-form .ventu-icon-close {
    position: absolute;
    right: 16px;
    bottom: 16px;
}



/* lightbox */

.ventu-lightbox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1000000;
}

.ventu-lightbox-card .ventu-card-image {
   opacity: 1;
   height: 90%;
    position: relative;
}

.ventu-lightbox-card .ventu-card-text {
    height: 10%;
    padding: 18px 30px;
}

.ventu-lightbox-nav-icon {
    position: absolute;
    top: calc(50% - 11px);
}

.ventu-lightbox .ventu-icon-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.ventu-lightbox-left {
    left: 10px;
}

.ventu-lightbox-right {
    right: 10px;
}





/* single page */

body.ventu-single {
    background: #D3D3D3;
    overflow: auto;
    padding: 0;
}

body.ventu-menu-single {
    padding-top: 80px;
}

.ventu-single-page {
    margin-bottom: 200px;
}

.ventu-single-content {
    width: 600px;
    margin: 0 auto 40px auto;
    transition: all 0.5s ease;
}

.ventu-inside-text-frame {
    padding-bottom: 30px;
}

.ventu-favorites-navigation .ventu-icon-prev {
    position: absolute;
    left: 20px;
    top: 16px;
}

.ventu-favorites-navigation .ventu-icon-next {
    position: absolute;
    right: 20px;
    top: 16px;
}

.ventu-favorites-icon {
    margin-top: 10px;
}

.ventu-single-main-image {
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.ventu-single-image-overlay {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 500px;
    max-width: calc(100% - 80px);
}

/* cards */

.ventu-single-card {
    padding: 40px;
    border: 1px solid #fff;
    margin-top: 10px;
}

.ventu-single-card-semi {
    display: inline-block;
    width: calc(50% - 5px);
}

.ventu-single-card-semi:nth-child(even) {
    margin-left: 10px;
}

.ventu-single-address {
    padding: 20px;
    background: #fff;
    max-width: 300px;
    margin-top: 10px;
}

.ventu-card-text.ventu-card-text-main {
    display: block;
    background: #fff;
    max-width: 300px;
}

.ventu-card-price {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 100;
}

/* quote */

.ventu-single .ventu-quote {
    color: #fff;
    margin: 40px 0 20px 0;
    padding: 0 15px;
}

/* tools */

.ventu-single-tools {
    padding: 30px;
    background: #00e3a7;
    color: #fff;
}

.ventu-single-tools .ventu-button-with-icon {
    display: block;
    margin-bottom: 6px;
}

/* share */

.ventu-single-share {
    border-top: 1px solid #fff;
    padding: 15px;
    color: #fff;
}

.ventu-single-share i {
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.ventu-single-share i:hover {
    color: #1F1F1F;
}

/* content */

.ventu-single-follow-up {
    margin-top: 10px;
    padding: 30px;
    background: #fff;
}

.ventu-single-map {
    height: 300px;
    position: relative;
}

/* footer */

.ventu-single-footer {
    text-align: center;
    margin-bottom: 100px;
}

.ventu-like-as-well {
    padding: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.ventu-like-as-well-set {
    margin-top: 20px;
}

.ventu-mini-card {
    width: 160px;
    height: 170px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    transition: all 0.5s ease;
}

.ventu-mini-card .ventu-card-image:after {
    transition: all 0.3s ease;
}

.ventu-mini-card .ventu-card-image {
    opacity: 1;
}

.ventu-mini-card .ventu-card-text {
    text-align: left;
    padding: 20px;
    transition: all 0.3s ease;
    display: block;
    background: #fff;
    margin-bottom: 10px;
}

.ventu-mini-card:hover {
    transform: scale(1.1);
}

.ventu-mini-card h3 {
    font-size: 14px;
    line-height: 19px;
}

.ventu-single .ventu-stack-container {
    margin: -580px auto 0 auto;
    width: 500px;
    z-index: -1;
}

.ventu-single .ventu-counter {
    bottom: 8px;
}



@media (max-width: 1024px) {
    /* tablet */

    /* borders < 1px don't show on tablet */

    .ventu-settings, .ventu-social-media {
        border-left: 1px solid #727272;
    }

    .ventu-dropdown, .ventu-button-white-line:hover {
        border: 1px solid #727272;
    }
    .ventu-dropdown-menu-divider {
        border-bottom: 1px solid #727272;
    }

    .ventu-button-white-line {
        border: 1px solid #fff;
    }

    .ventu-button-white:hover, .ventu-filter .slider-track-low, .ventu-filter .slider-track-high { /*, .ventu-icon-box */
        border: 1px solid #1f1f1f;
    }

    .ventu-map-search-results {
        border-top: 1px solid #D5D5D5;
    }

    .ventu-map-search-result {
        border-bottom: 1px solid #D5D5D5;
    }

    .ventu-form input {
        border-bottom: 1px solid #fff;
    }

    .ventu-filter .slider .slider-handle:after {
        width: 1px;
    }

    body {
        padding: 80px 20px 20px;
        overflow: hidden;
    }

    .ventu-filter {
        width: 248px;
        margin-right: 40px;
    }

    .ventu-content {
        width: calc(100% - 288px);
        max-width: 500px;
    }

    /* filter boxes expandable */

    .ventu-filter-box {
        border-bottom: 1px solid #fff;
        margin: 0;
    }

    .ventu-filter-box-head {
        display: block;
        padding: 12px 24px;
        cursor: pointer;
        position: relative;
    }

    .ventu-filter-box-head:after {
        position: absolute;
        right: 16px;
        top: 16px;
        content: '';
        font-family: 'fontAwesome';
        font-size: 10px;
    }

    .closed .ventu-filter-box-head:after {
        content: '';
    }

    .ventu-filter-box-body {
        padding: 0 12px 12px 12px;
    }

    /* temp hidden */
    .ventu-social-media {
        display: none;
    }


    /* favorites inside menu */

    .ventu-favorites-navigation {
        width: 150px;
    }

    .ventu-favorites-navigation.ventu-app {
        width: 70px;
    }

    .ventu-app .ventu-favorites-counter-container {
        text-align: left;
    }

    .ventu-favorites {
        position: relative;
        display: inline-block;
        bottom: 0;
        right: 0;
    }

    .ventu-favorites-icon {
        margin-top: 13px;
    }

    .ventu-favorites-icon > img {
        display: none;
    }

    .ventu-favorites-counter-container {
        position: relative;
    }

    .ventu-favorites > .ventu-button {
        padding: 2px 6px;
        margin-left: 2px;
    }

}




@media (max-width: 768px) {
    /* mobile */

    body {
        font-size: 10px;
        line-height: 16px;
        padding: 100px 20px 20px;
    }

    body.ventu-app {
        padding: 0;
    }

    .ventu-menu-buttons {
        display: none;
    }

    h2 {
        font-size: 24px;
        line-height: 34px;
        margin: 30px 0 20px 0;
    }

    /* filter as overlay */

    .ventu-filter {
        position: fixed;
        left: 0;
        background: #EDEDEC;
        box-shadow: 0 3px 3px rgba(0,0,0,0.4);
        width: 100%;
        z-index: 1;
        height: auto;
        float: none;
        margin: 0;
        overflow: visible;
        transition: all 0.5s ease;
    }

    .ventu-filter-label {
        display: inline-block;
        position: absolute;
        bottom: -31px;
        right: 10px;
        padding: 0 10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: 9px;
        background: #EDEDEC;
        box-shadow: 0 3px 3px rgba(0,0,0,0.4);
        cursor: pointer;
    }

    .ventu-filter-label .ventu-filter-label-text {
        display: inline-block;
        vertical-align: top;
        padding-top: 8px;
        margin-right: 4px;
    }

    .ventu-filter-type {
        background: #fff;
    }

    .ventu-map {
        height: 200px;
    }

    /* content */

    .ventu-content {
        float: none;
        width: 100%;
    }

    .ventu-app .ventu-content {
        padding: 100px 20px 20px;
        max-height: 100%;
        overflow: hidden;
    }

    .ventu-stack-container {
        width: 100%;
    }

    .ventu-card.current {
        /* width and height is set upon measuring */
    }

    .ventu-card-text {
        padding: 20px;
    }



    /* single page */

    .ventu-quote {
        font-size: 24px;
        line-height: 28px;
    }

    h3 {
        font-size: 16px;
        line-height: 24px;
    }

     .ventu-card-price {
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    .ventu-single-content {
        width: 100%;
        padding: 0 20px;
    }

    .ventu-mini-card {
        width: 80px;
        height: 85px;
        margin-right: 6px;
    }

    .ventu-mini-card .ventu-card-text {
        padding: 8px;
    }

    .ventu-mini-card h3 {
        font-size: 8px;
        line-height: 10px;
    }

    .ventu-single .ventu-stack-container {
        width: 100%;
    }

    .ventu-single-image-overlay {
        left: 20px;
        max-width: calc(100% - 40px);
    }


}




