/* borders < 1px don't show on tablet */

@media (max-width: 1024px) {

    .ventu-settings, .ventu-social-media {
        border-left: 1px solid #727272;
    }

    .ventu-dropdown, .ventu-button-white-line:hover {
        border: 1px solid #727272;
    }
    .ventu-dropdown-menu-divider {
        border-bottom: 1px solid #727272;
    }

    .ventu-button-white-line {
        border: 1px solid #fff;
    }

    .ventu-button-white:hover, .ventu-filter .slider-track-low, .ventu-filter .slider-track-high { /*, .ventu-icon-box */
        border: 1px solid #1f1f1f;
    }

    .ventu-map-search-results {
        border-top: 1px solid #D5D5D5;
    }

    .ventu-map-search-result {
        border-bottom: 1px solid #D5D5D5;
    }

    .ventu-form input {
        border-bottom: 1px solid #fff;
    }

    .ventu-filter .slider .slider-handle:after {
        width: 1px;
    }

}





