#ventu-hangout-list {
  padding-top: 60px!important;
}
#ventu-hangout-list.ventu-hangout-list-love .ventu-hangout-list-header {
  background: #2ECC71;
}
#ventu-hangout-list.ventu-hangout-list-hate .ventu-hangout-list-header {
  background: #DF0040;
}
#ventu-hangout-list.ventu-hangout-list-share .ventu-hangout-list-header {
  background: #00A2FF;
}
#ventu-hangout-list.ventu-hangout-list-follow .ventu-hangout-list-header {
  background: #8400C6;
}
#ventu-hangout-list #ventu-hangout-list-cards {
  padding-top: 32px!important;
}
