.ventu-hangout-tools {
  margin: 30px 90px 20px 90px;
}
.ventu-hangout-tools .ventu-hangouts-tools-search {
  height: 32px;
}
.ventu-hangout-tools .ventu-hangouts-tools-search .ventu-search-common {
  width: calc(100% - 50px);
  float: left;
}
.ventu-hangout-tools .ventu-hangouts-tools-search .ventu-sort {
  width: 43px;
  height: 32px;
  cursor: pointer;
  float: right;
  background: #fff;
  border-radius: 4px;
  background-image: url(img/tools/sort-grey.svg);
  background-position: 50% 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
