#ventu-hangout-header-back {
  padding-top: 90px;
  padding-bottom: 30px;
}
#ventu-hangout-header-back .ventu-hangout-header-back-button {
  cursor: pointer;
  position: relative;
  padding-left: 24px;
  color: #17141f;
  display: inline-block;
}
#ventu-hangout-header-back .ventu-hangout-header-back-button:after {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 12px;
  height: 15px;
  background-size: 100% 100%;
  background-image: url(img/tools/arrow-back-grey.svg);
}
#ventu-hangout-header-title {
  padding-top: 20px;
  padding-bottom: 20px;
}
#ventu-hangout-header-title h1 {
  text-align: center;
  margin: 0;
}
#ventu-hangout-header-back.ventu-hangout-header--share,
#ventu-hangout-header-title.ventu-hangout-header--share,
#ventu-hangout-header-tools.ventu-hangout-header--share {
  background: #00A2FF;
}
#ventu-hangout-header-back.ventu-hangout-header--follow,
#ventu-hangout-header-title.ventu-hangout-header--follow,
#ventu-hangout-header-tools.ventu-hangout-header--follow {
  background: #8400C6;
}
#ventu-hangout-header-back.ventu-hangout-header--love,
#ventu-hangout-header-title.ventu-hangout-header--love,
#ventu-hangout-header-tools.ventu-hangout-header--love {
  background: #2ECC71;
}
#ventu-hangout-header-back.ventu-hangout-header--hate,
#ventu-hangout-header-title.ventu-hangout-header--hate,
#ventu-hangout-header-tools.ventu-hangout-header--hate {
  background: #DF0040;
}
#ventu-hangout-header-back.ventu-hangout-header--share,
#ventu-hangout-header-title.ventu-hangout-header--share,
#ventu-hangout-header-tools.ventu-hangout-header--share,
#ventu-hangout-header-back.ventu-hangout-header--follow,
#ventu-hangout-header-title.ventu-hangout-header--follow,
#ventu-hangout-header-tools.ventu-hangout-header--follow,
#ventu-hangout-header-back.ventu-hangout-header--love,
#ventu-hangout-header-title.ventu-hangout-header--love,
#ventu-hangout-header-tools.ventu-hangout-header--love,
#ventu-hangout-header-back.ventu-hangout-header--hate,
#ventu-hangout-header-title.ventu-hangout-header--hate,
#ventu-hangout-header-tools.ventu-hangout-header--hate {
  border-bottom: 1px solid #fff;
}
#ventu-hangout-header-back.ventu-hangout-header--share h1,
#ventu-hangout-header-title.ventu-hangout-header--share h1,
#ventu-hangout-header-tools.ventu-hangout-header--share h1,
#ventu-hangout-header-back.ventu-hangout-header--follow h1,
#ventu-hangout-header-title.ventu-hangout-header--follow h1,
#ventu-hangout-header-tools.ventu-hangout-header--follow h1,
#ventu-hangout-header-back.ventu-hangout-header--love h1,
#ventu-hangout-header-title.ventu-hangout-header--love h1,
#ventu-hangout-header-tools.ventu-hangout-header--love h1,
#ventu-hangout-header-back.ventu-hangout-header--hate h1,
#ventu-hangout-header-title.ventu-hangout-header--hate h1,
#ventu-hangout-header-tools.ventu-hangout-header--hate h1,
#ventu-hangout-header-back.ventu-hangout-header--share a,
#ventu-hangout-header-title.ventu-hangout-header--share a,
#ventu-hangout-header-tools.ventu-hangout-header--share a,
#ventu-hangout-header-back.ventu-hangout-header--follow a,
#ventu-hangout-header-title.ventu-hangout-header--follow a,
#ventu-hangout-header-tools.ventu-hangout-header--follow a,
#ventu-hangout-header-back.ventu-hangout-header--love a,
#ventu-hangout-header-title.ventu-hangout-header--love a,
#ventu-hangout-header-tools.ventu-hangout-header--love a,
#ventu-hangout-header-back.ventu-hangout-header--hate a,
#ventu-hangout-header-title.ventu-hangout-header--hate a,
#ventu-hangout-header-tools.ventu-hangout-header--hate a {
  color: #fff;
}
#ventu-hangout-header-back.ventu-hangout-header--share .ventu-hangout-header-back-button:after,
#ventu-hangout-header-title.ventu-hangout-header--share .ventu-hangout-header-back-button:after,
#ventu-hangout-header-tools.ventu-hangout-header--share .ventu-hangout-header-back-button:after,
#ventu-hangout-header-back.ventu-hangout-header--follow .ventu-hangout-header-back-button:after,
#ventu-hangout-header-title.ventu-hangout-header--follow .ventu-hangout-header-back-button:after,
#ventu-hangout-header-tools.ventu-hangout-header--follow .ventu-hangout-header-back-button:after,
#ventu-hangout-header-back.ventu-hangout-header--love .ventu-hangout-header-back-button:after,
#ventu-hangout-header-title.ventu-hangout-header--love .ventu-hangout-header-back-button:after,
#ventu-hangout-header-tools.ventu-hangout-header--love .ventu-hangout-header-back-button:after,
#ventu-hangout-header-back.ventu-hangout-header--hate .ventu-hangout-header-back-button:after,
#ventu-hangout-header-title.ventu-hangout-header--hate .ventu-hangout-header-back-button:after,
#ventu-hangout-header-tools.ventu-hangout-header--hate .ventu-hangout-header-back-button:after {
  background-image: url(img/tools/arrow-back-white.svg);
}
