.ventu-hangout-add-member.ventu-popup input {
  display: inline-block;
  margin-bottom: 10px;
}
.ventu-hangout-add-member.ventu-popup label.error,
.ventu-hangout-add-member.ventu-popup .error {
  color: #c21e32;
}
.ventu-hangout-add-member.ventu-popup #messages ul {
  list-style-type: none;
  margin-top: 20px;
  padding-left: 0;
}
.ventu-hangout-add-member.ventu-popup .externalMemberContainer {
  margin-top: 20px;
}
