body.ventu-application {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  background: #727272;
}
body.ventu-application #ventu-application-container {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: calc(100% - 60px);
  overflow: hidden;
}
body.ventu-application #ventu-application-container #ventu-canvas {
  width: 100%;
  height: 100%;
}
body.ventu-application #ventu-application-container #ventu-stack {
  position: absolute;
  right: 100px;
  top: 50px;
}
body.ventu-application #ventu-application-container #ventu-bottom-bar {
  position: absolute;
  right: 80px;
  bottom: 0;
}
@media (max-width: 767px) {
  body.ventu-application #ventu-application-container #ventu-canvas {
    display: none;
  }
  body.ventu-application #ventu-application-container #ventu-stack {
    position: absolute;
    right: calc(50% - 160px);
    top: calc(50% - 225px);
  }
  body.ventu-application #ventu-application-container #ventu-bottom-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  body.ventu-application #ventu-filters {
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    z-index: 100000;
  }
}
@media (max-width: 340px) {
  body.ventu-application #ventu-application-container #ventu-stack {
    right: calc(50% - 150px);
    top: 30px;
  }
}
@media (max-height: 480px) {
  body.ventu-application #ventu-application-container #ventu-stack {
    top: 10px;
  }
}
