body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;


    #ventu-canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    #ventu-filters {
        position: absolute;
        left: 0;
        top: 64px;
    }

    #ventu-bottom-bar {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    #ventu-stack {
        position: absolute;
        right: 40px;
        top: 104px;
    }
}



