#ventu-bottom-bar {
  height: 50px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
#ventu-bottom-bar #ventu-bottom-bar-counter {
  background: #ededec;
  padding: 13px 30px!important;
}
#ventu-bottom-bar #ventu-bottom-bar-counter #ventu-filter-button {
  display: none;
}
#ventu-bottom-bar #ventu-bottom-bar-counter #ventu-bottom-bar-counter-label {
  display: inline-block;
  padding: 5px 0;
  vertical-align: top;
}
#ventu-bottom-bar .ventu-bottom-bar-sub {
  border-right: 1px solid #ededec;
  height: 100%;
  padding: 18px 30px;
  float: right;
  position: relative;
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-status {
  position: absolute;
  top: 0;
  height: 100%;
  content: '';
  z-index: 0;
}
#ventu-bottom-bar .ventu-bottom-bar-sub#ventu-bottom-bar-hate .ventu-bottom-bar-sub-status {
  background: rgba(223, 0, 65, 0.5);
  right: 0;
}
#ventu-bottom-bar .ventu-bottom-bar-sub#ventu-bottom-bar-love .ventu-bottom-bar-sub-status {
  left: 0;
  background: rgba(46, 204, 113, 0.5);
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content {
  position: relative;
  z-index: 1;
  width: 120px;
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content .ventu-bottom-bar-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: 100% 100%;
  display: inline-block;
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content .ventu-bottom-bar-icon.ventu-bottom-bar-icon--love {
  background-color: #2ECC71;
  background-image: url(img/icons/buttons/love.svg);
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content .ventu-bottom-bar-icon.ventu-bottom-bar-icon--hate {
  background-color: #DF0040;
  background-image: url(img/icons/buttons/hate.svg);
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content .ventu-bottom-bar-label-container {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 150px;
  perspective: 150px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content .ventu-bottom-bar-label-container .venu-bottom-bar-label-rotor {
  transform: translateZ(-5px) rotateX(0deg);
  transition: all 0.8s ease;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content .ventu-bottom-bar-label-container .venu-bottom-bar-label-rotor > div {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.8s ease;
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content .ventu-bottom-bar-label-container .venu-bottom-bar-label-rotor .venu-bottom-bar-label-front {
  -ms-transform: translateZ(-1px) translateY(0px);
  -webkit-transform: translateZ(-1px) translateY(0px);
  transform: translateZ(-1px) translateY(0px);
  opacity: 1;
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content .ventu-bottom-bar-label-container .venu-bottom-bar-label-rotor .venu-bottom-bar-label-back {
  -ms-transform: translateZ(-5px) rotateY(180deg) rotateZ(180deg);
  -webkit-transform: translateZ(-5px) rotateY(180deg) rotateZ(180deg);
  transform: translateZ(-5px) rotateY(180deg) rotateZ(180deg);
  opacity: 0;
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content .ventu-bottom-bar-label-container .venu-bottom-bar-label-rotor .ventu-bottom-bar-label-text {
  text-align: right;
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content .ventu-bottom-bar-label-container.ventu-bottom-bar-label-container--rotated .venu-bottom-bar-label-rotor {
  transform: translateZ(-5px) rotateX(180deg);
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content .ventu-bottom-bar-label-container.ventu-bottom-bar-label-container--rotated .venu-bottom-bar-label-rotor .venu-bottom-bar-label-front {
  opacity: 0;
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content .ventu-bottom-bar-label-container.ventu-bottom-bar-label-container--rotated .venu-bottom-bar-label-rotor .venu-bottom-bar-label-back {
  opacity: 1;
}
#ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content .ventu-bottom-bar-label-text {
  width: 30px;
  height: 20px;
  padding: 2px;
  display: inline-block;
  vertical-align: top;
}
#ventu-bottom-bar .ventu-bottom-bar-sub:last-child {
  border-right: 0;
}
@media (max-width: 767px) {
  #ventu-bottom-bar {
    box-shadow: none;
  }
  #ventu-bottom-bar .ventu-bottom-bar-sub {
    padding: 18px 12px;
    width: 80px;
  }
  #ventu-bottom-bar .ventu-bottom-bar-sub .ventu-bottom-bar-sub-content > .ventu-bottom-bar-label-text {
    display: none;
  }
  #ventu-bottom-bar #ventu-bottom-bar-counter {
    width: calc(100% - 160px);
  }
  #ventu-bottom-bar #ventu-bottom-bar-counter #ventu-filter-button {
    display: inline-block;
  }
}
