#ventu-filter-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
#ventu-filter-content .ventu-filter-section {
  border-bottom: 1px solid #ededec;
  padding: 16px;
  font-family: ProximaNova;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-header {
  position: relative;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-header .ventu-filter-read-more {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding-right: 14px;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-header .ventu-filter-read-more:after {
  width: 8px;
  height: 5px;
  background-size: 100% 100%;
  content: '';
  position: absolute;
  right: 0;
  top: 6px;
  background-image: url(img/tools/arrow-down.svg);
}
#ventu-filter-content .ventu-filter-section .ventu-filter-header .ventu-filter-read-more.ventu-filter-read-more--open:after {
  background-image: url(img/tools/arrow-up.svg);
}
#ventu-filter-content .ventu-filter-section .ventu-filter-header .ventu-filter-read-more.ventu-filter-read-more--open .ventu-filter-read-more-label .ventu-filter-read-more-label--close {
  display: none;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-header .ventu-filter-read-more.ventu-filter-read-more--open .ventu-filter-read-more-label .ventu-filter-read-more-label--open {
  display: block;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-header .ventu-filter-read-more .ventu-filter-read-more-label {
  text-align: right;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-header .ventu-filter-read-more .ventu-filter-read-more-label .ventu-filter-read-more-label--close {
  display: block;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-header .ventu-filter-read-more .ventu-filter-read-more-label .ventu-filter-read-more-label--open {
  display: none;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-label-container {
  margin-top: 16px;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-full-text-container {
  overflow: hidden;
  transition: all 0.2s ease;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-full-text-container .ventu-filter-full-text {
  border-top: 1px solid #ededec;
  padding: 16px 0;
  margin-top: 16px;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-full-text-container .ventu-filter-full-text .ventu-filter-button {
  padding: 6px 10px;
  height: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-full-text-container .ventu-filter-full-text .ventu-filter-button:after {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 20px;
  height: 20px;
  content: '';
  background-size: 100% 100%;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-full-text-container .ventu-filter-full-text .ventu-filter-button:hover {
  background: #ededec;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-full-text-container .ventu-filter-full-text .ventu-filter-button.ventu-filter-button--active {
  background: #00e5a9;
  color: #03256b;
}
#ventu-filter-content .ventu-filter-section .ventu-filter-full-text-container .ventu-filter-full-text .ventu-filter-button.ventu-filter-button--office:after {
  background-image: url(img/icons/office.svg);
}
#ventu-filter-content .ventu-filter-section .ventu-filter-full-text-container .ventu-filter-full-text .ventu-filter-button.ventu-filter-button--shop:after {
  background-image: url(img/icons/shop.svg);
}
#ventu-filter-content .ventu-filter-section .ventu-filter-passive-text {
  color: #727272;
  font-style: italic;
}
#ventu-filter-content .ventu-filter-section:last-child {
  border-bottom: 0;
}
#ventu-filter-content #ventu-filter-result h5 {
  text-align: center;
}
#ventu-filter-content #ventu-filter-tools .ventu-filter-tools-button {
  position: relative;
  cursor: pointer;
  padding: 6px 6px 6px 34px;
}
#ventu-filter-content #ventu-filter-tools .ventu-filter-tools-button:hover {
  background: #ededec;
}
#ventu-filter-content #ventu-filter-tools .ventu-filter-tools-button:after {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 20px;
  height: 20px;
  content: '';
  background-size: 100% 100%;
}
#ventu-filter-content #ventu-filter-tools .ventu-filter-tools-button.ventu-filter-tools-button--save:after {
  background-image: url(img/icons/save.svg);
}
#ventu-filter-content #ventu-filter-tools .ventu-filter-tools-button .ventu-filter-tools-button-label {
  text-decoration: underline;
}
#ventu-filter-label {
  position: absolute;
  left: 100%;
  top: 116px;
  background: #ff8d00;
  color: #fff;
  padding: 20px 10px;
  width: 22px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  background-image: url(img/tools/label-arrow-left.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
