.ventu-filter-box {
    display: inline-block;
    background: #fff;
    box-shadow: @ventu-box-shadow-1;
    position: relative;
    cursor: default;
    vertical-align: top;
    max-width: 300px;


    &:hover {

        .ventu-filter-head {
            padding: 20px 40px 20px 20px;

            .ventu-filter-title {
                font-weight: 700;
            }
        }

        .ventu-filter-edit {
            display: block;
        }
    }

    &.filter-active {

        .ventu-filter-head {
            padding: 20px !important;
            font-weight: 700;
        }

        .ventu-filter-title {
            font-weight: 700;
        }
    }

    &:not(:first-child) {
        margin-left: -5px;
    }

    &:nth-child(1) {
        z-index: 4;
    }

    &:nth-child(2) {
        z-index: 3;
    }

    &:nth-child(3) {
        z-index: 2;
    }

    &:nth-child(4) {
        z-index: 1;
    }
    
    .ventu-filter-head {
        transition: all 0.2s ease;
        padding: 10px;
    
        .ventu-filter-title {
            display: inline-block;      
        }
        
        .ventu-filter-summary {
            display: inline-block;
        }
     
    }

    .ventu-filter-edit {
        position: absolute;
        right: 10px;
        top: 16px;
        display: none;
        
        &.hidden {
            display: none!important;
        }
    }


    .ventu-filter-body {
        display: none;


        .ventu-filter-body-content {
            padding: 20px;

            input {
                padding: 4px;
            }

            span {
                vertical-align: top;
                line-height: 22px;
            }

            #ventu-filter-circle {
                width: 40px;
                height: 24px;
                display: none;
            }

            .ventu-filter-circle-cover {
                width: 40px;
                background: #ddd;
                height: 24px;
                display: inline-block;
            }

            .ventu-filter-toggle {
                padding: 10px;
                background: #ddd;
                display: inline-block;
                margin: 0 3px 3px 0;
                cursor: pointer;

                &.ventu-filter-toggle-active {
                    background: @ventu-color-1;
                }
            }
        }


        .ventu-filter-buttons {
            border-top: @ventu-border-1;
            padding: 20px;
            margin-top: 20px;
            text-align: right;
        }
    }
}


.ventu-filter-button {
    padding: 4px 6px;
    background: #ddd;
    display: inline-block;

    &:hover {
        background: @ventu-color-1;
    }
}