@import '../mixins';

.ventu-card-button-container {

    &.ventu-card-button--love {

        &:hover {
            background-color: @ventu-color-love-hover;
        }

        .ventu-card-button-icon {
            background-color: @ventu-color-love;
            background-image: url(img/icons/buttons/love.svg);
        }
    }

    &.ventu-card-button--hate {

        &:hover {
            background-color: @ventu-color-hate-hover;
        }

        .ventu-card-button-icon {
            background-color: @ventu-color-hate;
            background-image: url(img/icons/buttons/hate.svg);

        }
    }

    &.ventu-card-button--share {

        &:hover {
            background-color: @ventu-color-share-hover;
        }

        .ventu-card-button-icon {
            background-color: @ventu-color-share;
            background-image: url(img/icons/buttons/share.svg);

        }
    }

    &.ventu-card-button--read-more {

        &:hover {
            background-color: @ventu-color-details-hover;
        }

        .ventu-card-button-icon {
            background-color: @ventu-color-details;
            background-image: url(img/icons/buttons/read-more-down.svg);

        }
    }

    &.ventu-card-button--group {

        &:hover {
            background-color: @ventu-color-group-hover;
        }

        .ventu-card-button-icon {
            background-color: @ventu-color-group;
            background-image: url(img/icons/buttons/group.svg);

        }
    }

    &.ventu-card-button--rating-good {

        &:hover {
            background-color: @ventu-main-grey-light;
        }

        .ventu-card-button-icon {
            background-image: url(img/icons/rating/good.svg);

        }
    }

    &.ventu-card-button--rating-neutral {

        &:hover {
            background-color: @ventu-main-grey-light;
        }

        .ventu-card-button-icon {
            background-image: url(img/icons/rating/neutral.svg);

        }
    }

    &.ventu-card-button--rating-bad {

        &:hover {
            background-color: @ventu-main-grey-light;
        }

        .ventu-card-button-icon {
            background-image: url(img/icons/rating/bad.svg);

        }
    }

    &.ventu-card-button--rating--active {
        background-color: @ventu-main-grey-light;
        cursor: default!important;
    }

    .ventu-card-button {
        width: 64px;
        height: 64px;
        padding: 16px;
        border-radius: 50%;
        background: #fff;

        .ventu-card-button-icon {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
        }
    }
}