.ventu-card {

    &.ventu-card--dynamic {
        display: block;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        perspective-origin: 50% 50%;
        -webkit-perspective-origin: 50% 50%;
        perspective: 2500px;
        -webkit-perspective: 2500px;
        transition: all 0.5s ease;
        cursor: pointer;
        box-shadow: none;
        position: absolute;

        &.no-transition {
            transition: none;
        }

        .ventu-card-text {
            height: 180px;
        }
    }
}