.ventu-mobility-index {
    width: 60px;
    height: 30px;
    background-image: url(img/icons/mobility-index.png);
    background-size: cover;
    color: #D5E8EF;
    padding: 6px 40px 2px 5px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}