#ventu-stack {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective-origin: 100% 100%;
    -webkit-perspective-origin: 100% 100%;
    perspective: 5000px;
    -webkit-perspective: 5000px;
}

.ventu-card-float {
    animation: float 3s 1;
    -webkit-animation: float 3s 1;
    transition: none!important;
}

.ventu-card-shade-float {
    animation: float-shade 3s 1;
    -webkit-animation: float-shade 3s 1;
    transition: none!important;
}


@media (max-width: 767px) {


}