body {
  background: #ededec;
  font-size: 16px;
  line-height: 1.25;
  color: #17141f;
  font-family: 'ProximaNova';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
    overflow: hidden;
  }
}
h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  color: #03256b;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  color: #03256b;
  font-family: 'Alegreya Sans';
}
h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: #03256b;
  font-family: 'Alegreya Sans';
}
h5 {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 700;
  color: #03256b;
  font-family: 'Alegreya Sans';
}
h55 {
  font-size: 18px;
  line-height: 1.25;
  font-weight: 700;
  color: #03256b;
  font-family: 'Alegreya Sans';
  display: block;
}
h6 {
  font-size: 16px;
  line-height: 1.25;
  color: #17141f;
  font-family: 'Alegreya Sans';
}
h7 {
  color: #17141f;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Alegreya Sans';
  display: block;
}
@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 25px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
}
body.ventu-home section {
  padding: 80px 90px;
}
#ventu-dialog-entry {
  background-image: url('img/home/rotterdam.jpg');
  position: relative;
}
#ventu-dialog-entry h1 {
  color: #fff;
}
#ventu-chat-entry {
  height: 800px;
  background-image: url('img/home/ventu-samen-map.jpg');
}
#ventu-chat-entry .ventu-chat-pins-container {
  position: relative;
  height: 400px;
}
#ventu-search-entry {
  background-image: url('img/home/skyline.png');
  background-size: contain!important;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
#ventu-discover-entry {
  background-image: url('img/home/discover-bg.jpg');
}
#ventu-home-card-container {
  height: 500px;
  position: relative;
}
#ventu-card-button-container {
  position: relative;
  height: 200px;
}
#ventu-card-button-container .ventu-card-button {
  position: absolute;
}
#ventu-card-button-container .ventu-card-button--love {
  left: calc(50% - 182px);
  top: 20px;
}
#ventu-card-button-container .ventu-card-button--hate {
  left: calc(50% + 118px);
  top: 20px;
}
#ventu-card-button-container .ventu-card-button--read-more {
  left: calc(50% - 32px);
  top: 120px;
}
@media (max-width: 767px) {
  #ventu-home-card-container {
    margin-top: 40px;
  }
}
section.detail-text .detail-text-short {
  max-height: 300px;
  overflow-y: hidden;
}
.news-text section.detail-text .detail-text-short {
  max-height: 62px;
}
#ventu-sign-in {
  background-image: url('img/content/rotterdam.jpg');
  height: 500px;
}
#ventu-sign-in input {
  background: #fff;
}
nav.navbar-default {
  border: 0!important;
  margin: 0;
  background: #00e5a9 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
nav.navbar-default .navbar-header .navbar-brand {
  padding: 0;
}
nav.navbar-default .navbar-header .navbar-toggle {
  border-radius: 0;
  border: 0;
  padding: 20px;
  margin: 0;
  width: 60px;
  height: 60px;
  background: white;
}
nav.navbar-default .navbar-header .navbar-toggle:hover {
  background: #00e5a9;
}
nav.navbar-default .navbar-header .navbar-toggle .icon-bar {
  border-radius: 0;
  background-color: #03256b;
  height: 3px;
}
nav.navbar-default #navbar {
  height: 100%;
}
nav.navbar-default #navbar ul {
  height: 100%;
  margin: 0;
}
nav.navbar-default #navbar ul li {
  display: block;
  height: 100%;
  background: #fff;
  border-left: 1px solid #ededec;
}
nav.navbar-default #navbar ul li:hover {
  background: #ededec;
}
nav.navbar-default #navbar ul li a {
  padding: 20px 24px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
  color: #03256b;
  display: block;
  height: 100%;
  font-family: 'ProximaNova';
}
@media (max-width: 767px) {
  nav.navbar-default {
    background: transparent!important;
    box-shadow: none;
  }
  nav.navbar-default .navbar-header {
    background: #00e5a9 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  }
  nav.navbar-default #navbar ul li {
    background: transparent;
    border-left: none;
  }
  nav.navbar-default #navbar ul:hover {
    background: transparent;
  }
}
.ventu-usp-item {
  text-align: center;
}
.ventu-usp-item .ventu-usp-item-image {
  height: 80px;
}
.ventu-usp-item .ventu-usp-item-image img {
  width: 75px;
  height: auto;
}
.ventu-usp-item h3 {
  margin: 40px 0;
}
@media (max-width: 767px) {
  .ventu-usp-item {
    margin-bottom: 50px;
  }
}
.ventu-inspiration {
  height: 280px;
  background-size: cover;
  position: relative;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.09);
  margin-bottom: 30px;
}
.ventu-inspiration:after {
  position: absolute;
  width: 70px;
  height: 54px;
  content: '';
  background-image: url(img/identity/ventu-icon--inspiration.png);
  z-index: 1;
  left: calc(50% - 35px);
  top: 30%;
}
.ventu-inspiration .ventu-inspiration-text {
  position: absolute;
  left: 0;
  width: 100%;
  top: calc(30% + 74px);
}
.ventu-inspiration .ventu-inspiration-text h3 {
  text-align: center;
  color: #fff;
  max-width: 300px;
  margin: 0 auto;
}
.ventu-discover-icon-container {
  margin: 50px 0;
}
.ventu-discover-icon-container .ventu-discover-icon {
  display: inline-block;
  margin: 0 25px;
}
#ventu-direct-links {
  padding-top: 48px;
  padding-bottom: 48px;
  border-bottom: 1px solid #ededec;
}
#ventu-about h3:first-child,
#ventu-direct-links h3:first-child {
  margin-top: 0;
}
#ventu-about a,
#ventu-direct-links a {
  font-family: ProximaNova;
  color: #17141f;
  text-decoration: none;
}
#ventu-about a:hover,
#ventu-direct-links a:hover {
  color: #03256b;
  text-decoration: underline;
}
@media (max-width: 767px) {
  #ventu-about h3:first-child,
  #ventu-direct-links h3:first-child {
    margin-top: 20px;
  }
}
.ventu-contact-icon-button {
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
}
.ventu-contact-icon-button .ventu-contact-icon-button-img {
  display: inline-block;
  width: 30px;
}
.ventu-contact-icon-button .ventu-contact-icon-button-text {
  color: #17141f;
  font-family: ProximaNova;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  display: inline-block;
}
.ventu-contact-icon-button:hover {
  text-decoration: none!important;
}
.ventu-contact-icon-button:hover .ventu-contact-icon-button-text {
  border-bottom: 1px solid #17141f;
}
#ventu-footer {
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: ProximaNova;
}
#ventu-footer #ventu-footer-legal {
  text-align: center;
  padding-top: 8px;
}
#ventu-footer #ventu-footer-legal a {
  color: #17141f;
}
#ventu-footer #ventu-footer-social {
  text-align: right;
  padding-top: 3px;
}
#ventu-footer #ventu-footer-social a {
  margin-left: 10px;
}
#ventu-footer #ventu-footer-social a i {
  color: #727272;
  font-size: 20px;
}
#ventu-footer #ventu-footer-social a:hover {
  text-decoration: none;
}
#ventu-footer #ventu-footer-social a:hover i {
  color: #00e5a9;
}
@media (max-width: 767px) {
  #ventu-footer #ventu-footer-legal,
  #ventu-footer #ventu-footer-social {
    text-align: left;
  }
}
#ventu-features ol,
#ventu-features-icons ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#ventu-features ol li,
#ventu-features-icons ol li {
  margin: 0 20px 10px 0;
}
#ventu-features ol li img,
#ventu-features-icons ol li img {
  margin-right: 8px;
}
section.features,
section.parties {
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 40px;
  padding-bottom: 20px;
}
section.features h4,
section.parties h4 {
  padding: 20px 20px 0 20px;
  margin: 0;
}
section.features h5,
section.parties h5 {
  padding: 0;
  margin: 0;
}
section.features ol {
  list-style-type: none;
  padding: 0;
  line-height: 1.88;
  margin-left: 20px;
}
section.features a.button {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  display: block;
}
section.features a.button,
section.proximity a.button {
  color: #ffffff;
}
section.features .divider,
section.parties .divider {
  margin: 20px 0;
}
@media (min-width: 768px) {
  ol.features li {
    float: left;
    margin-bottom: 0;
  }
  div.background,
  div.background::before {
    min-height: 346.5px;
  }
  .news-text {
    margin: 0 auto;
    max-width: 60%;
  }
}
#ventu-social .btn-wrapper {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}
#ventu-social .btn-wrapper a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  position: relative;
  padding-left: 40px;
  color: #03256b;
}
#ventu-social .btn-wrapper a i {
  width: 33px;
  height: 33px;
  display: inline-block;
  margin-right: 4px;
  position: absolute;
  left: 0;
  top: 15px;
  background-repeat: no-repeat;
  border-radius: 50%;
}
#ventu-social .btn-wrapper a i.like {
  background-color: #00e5a9;
  background-image: url('img/icons/love.svg');
}
#ventu-social .btn-wrapper a i.share {
  background-color: #727272;
  background-image: url('img/icons/share.svg');
}
#ventu-location .ventu-location-legend {
  margin-top: 40px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section {
  margin-bottom: 20px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section h55 {
  margin-bottom: 10px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section .switch-wrapper {
  margin-bottom: 6px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section .switch-wrapper img {
  margin-right: 20px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section .legenda-wrapper {
  margin-bottom: 2px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section .legenda-wrapper img {
  margin-right: 6px;
}
#ventu-location .real-estate-mix {
  margin-top: 40px;
}
section.detail-text .detail-text-overflow {
  height: 80px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 32%, #ffffff);
  margin-top: -80px;
  position: relative;
}
section.proximity .button {
  margin-top: 40px;
  display: inline-block;
}
section.proximity .ventu-card .button {
  margin-top: 20px;
  margin-bottom: 20px;
}
#ventu-about {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  border-bottom: 1px solid #ededec;
}
.hangout-list-entry {
  height: 150px;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  font-family: 'ProximaNova';
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.hangout-list-entry .hangout-list-entry-title {
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: 700;
}
.hangout-list-entry .hangout-list-entry-title .hangout-list-entry-title-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 6px;
  background-size: 100% 100%;
  border-radius: 50%;
}
.hangout-list-entry .hangout-list-entry-title .hangout-list-entry-title-icon.hangout-list-entry-title-icon-love {
  background-color: #2ECC71;
  background-image: url(img/icons/love.svg);
}
.hangout-list-entry .hangout-list-entry-title .hangout-list-entry-title-icon.hangout-list-entry-title-icon-share {
  background-color: #00A2FF;
  background-image: url(img/icons/plus.svg);
}
.hangout-list-entry .hangout-list-entry-title .hangout-list-entry-title-icon.hangout-list-entry-title-icon-follow {
  background-color: #8400C6;
  background-image: url(img/icons/follow.svg);
}
.hangout-list-entry .hangout-list-entry-title .hangout-list-entry-title-icon.hangout-list-entry-title-icon-hate {
  background-color: #DF0040;
  background-image: url(img/icons/hate.svg);
}
.hangout-list-entry .hangout-list-entry-title .hangout-list-entry-title-label {
  display: inline-block;
  vertical-align: top;
  padding-top: 6px;
}
.hangout-list-entry .hangout-list-entry-content {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 14px;
}
.hangout-list-entry .hangout-list-entry-shared-with {
  position: absolute;
  left: 14px;
  bottom: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.hangout-list-entry .hangout-list-entry-shared-with .ventu-avatar-image {
  margin-left: -4px;
}
.hangout-list-entry .hangout-list-entry-shared-with .hangout-list-entry-shared-with-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #00A2FF;
  padding-top: 6px;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  margin-left: -4px;
}
#ventu-hangout-list {
  padding-top: 60px!important;
}
#ventu-hangout-list.ventu-hangout-list-love .ventu-hangout-list-header {
  background: #2ECC71;
}
#ventu-hangout-list.ventu-hangout-list-hate .ventu-hangout-list-header {
  background: #DF0040;
}
#ventu-hangout-list.ventu-hangout-list-share .ventu-hangout-list-header {
  background: #00A2FF;
}
#ventu-hangout-list.ventu-hangout-list-follow .ventu-hangout-list-header {
  background: #8400C6;
}
#ventu-hangout-list .ventu-hangout-list-header {
  color: #fff;
  font-family: 'ProximaNova';
  padding-top: 15px;
  padding-bottom: 15px;
}
#ventu-hangout-list .ventu-hangout-list-header h3 {
  color: #fff;
  text-align: center;
}
#ventu-hangout-list .ventu-hangout-list-header .ventu-hangout-list-back {
  height: 50px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  padding: 4px 4px 4px 16px;
  position: relative;
}
#ventu-hangout-list .ventu-hangout-list-header .ventu-hangout-list-back:after {
  content: '<';
  position: absolute;
  left: 0;
  top: 3px;
}
#ventu-hangout-list .ventu-hangout-list-header .ventu-hangout-list-search {
  height: 32px;
}
#ventu-hangout-list .ventu-hangout-list-header .ventu-hangout-list-search .ventu-search-common {
  width: calc(100% - 50px);
  float: left;
}
#ventu-hangout-list .ventu-hangout-list-header .ventu-hangout-list-search .ventu-sort {
  width: 43px;
  height: 32px;
  cursor: pointer;
  float: right;
  background: #fff;
  border-radius: 4px;
  background-image: url(img/tools/sort.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#ventu-hangout-list #ventu-hangout-list-cards {
  padding-top: 32px!important;
}
.ventu-card {
  position: absolute;
  background: #fff;
  width: 320px;
  height: 360px;
}
.ventu-card.ventu-card--dynamic {
  display: none;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective-origin: 50% 50%;
  -webkit-perspective-origin: 50% 50%;
  perspective: 2500px;
  -webkit-perspective: 2500px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.ventu-card .ventu-card-image {
  width: 100%;
  height: 200px;
  transition: opacity 2s;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.ventu-card .ventu-card-text {
  width: 100%;
  height: calc(100% - 200px);
  font-size: 13px;
  line-height: 18px;
}
.ventu-card .ventu-card-text .ventu-card-header {
  padding: 12px;
}
.ventu-card .ventu-card-text .ventu-card-header h4 {
  font-size: 14px;
  line-height: 1.25;
  margin: 0;
  color: #03256b;
}
.ventu-card .ventu-card-text .ventu-card-header h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  margin: 8px 0 0;
  color: #03256b;
}
.ventu-card .ventu-card-text .ventu-features {
  padding: 12px;
}
.ventu-card .ventu-card-text .ventu-card-buttons {
  border-top: 1px solid #ededec;
  height: 51px;
  color: #17141f;
  font-family: ProximaNova;
  font-size: 12px;
}
.ventu-card .ventu-card-text .ventu-card-buttons .ventu-card-button-container {
  width: 50%;
  float: left;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
}
.ventu-card .ventu-card-text .ventu-card-buttons .ventu-card-button-container.ventu-card-button-container--full {
  width: 100%;
}
.ventu-card .ventu-card-text .ventu-card-buttons .ventu-card-button-container .ventu-card-button {
  width: 50px;
  height: 50px;
  padding: 9px;
  display: inline-block;
}
.ventu-card .ventu-card-text .ventu-card-buttons .ventu-card-button-container .ventu-card-button-label {
  display: inline-block;
  vertical-align: top;
  padding-top: 16px;
}
.ventu-card .ventu-card-text .ventu-card-buttons .ventu-card-button-container:not(:last-child) {
  border-right: 1px solid #ededec;
}
.ventu-card .ventu-card-text a {
  color: #333;
  text-decoration: underline;
}
#ventu-stack {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective-origin: 100% 100%;
  -webkit-perspective-origin: 100% 100%;
  perspective: 5000px;
  -webkit-perspective: 5000px;
}
#ventu-stack .ventu-card-shade {
  position: absolute;
  display: none;
  right: 0;
  width: 500px;
  height: 400px;
  transition: all 0.5s ease;
  background-image: url('img/shade.png');
  background-color: transparent;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
#ventu-stack .ventu-card-shade.no-transition {
  transition: none;
}
#ventu-stack .ventu-card-shade.slow-transition {
  transition: all 2s ease;
}
.ventu-card-float {
  animation: float 3s 1;
  -webkit-animation: float 3s 1;
  transition: none!important;
}
.ventu-card-shade-float {
  animation: float-shade 3s 1;
  -webkit-animation: float-shade 3s 1;
  transition: none!important;
}
.ventu-card.ventu-card--static {
  cursor: default;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
}
.ventu-card.ventu-card--grid {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .ventu-card.ventu-card--static {
    width: 320px;
    height: 360px;
  }
}
.ventu-card {
  height: auto!important;
}
.ventu-card .ventu-card-text {
  height: auto!important;
}
.ventu-search-common {
  background: #fff;
  border-radius: 4px;
  position: relative;
  height: 32px;
}
.ventu-search-common:after {
  position: absolute;
  left: 9px;
  top: 9px;
  width: 14px;
  height: 14px;
  background-image: url(img/tools/glass.svg);
  background-size: 100% 100%;
  content: '';
}
.ventu-search-common input {
  width: calc(100% - 40px);
  position: absolute;
  left: 32px;
  height: 32px;
  background: transparent;
  border: 0;
  padding: 4px;
  color: #17141f;
  font-family: ProximaNova;
  font-weight: 300;
}
.ventu-chat-pin {
  position: absolute;
  width: 83px;
  height: 91px;
  background-image: url(img/chat/pin.png);
  background-size: 100% 100%;
  padding: 10px 0 0 9px;
}
.ventu-chat-pin .ventu-chat-pin-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
}
.ventu-chat-balloon-container {
  position: absolute;
  top: 40px;
  z-index: 1;
  width: 200px;
}
.ventu-chat-balloon-container.ventu-chat-balloon-right {
  right: 68px;
  text-align: right;
}
.ventu-chat-balloon-container.ventu-chat-balloon-right .ventu-chat-balloon {
  float: right;
}
.ventu-chat-balloon-container.ventu-chat-balloon-right .ventu-chat-balloon-top {
  background-image: url(img/chat/balloon/balloon-right--top.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-right .ventu-chat-balloon-top:before {
  background-image: url(img/chat/balloon/balloon-right--top-left.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-right .ventu-chat-balloon-top:after {
  background-image: url(img/chat/balloon/balloon-right--top-right.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-right .ventu-chat-balloon-middle {
  padding-right: 8px;
}
.ventu-chat-balloon-container.ventu-chat-balloon-right .ventu-chat-balloon-middle:before {
  background-image: url(img/chat/balloon/balloon-right--left.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-right .ventu-chat-balloon-middle:after {
  background-image: url(img/chat/balloon/balloon-right--right.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-right .ventu-chat-balloon-bottom {
  background-image: url(img/chat/balloon/balloon-right--bottom.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-right .ventu-chat-balloon-bottom:before {
  background-image: url(img/chat/balloon/balloon-right--bottom-left.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-right .ventu-chat-balloon-bottom:after {
  background-image: url(img/chat/balloon/balloon-right--bottom-right.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-left {
  left: 68px;
  text-align: left;
}
.ventu-chat-balloon-container.ventu-chat-balloon-left .ventu-chat-balloon {
  float: left;
}
.ventu-chat-balloon-container.ventu-chat-balloon-left .ventu-chat-balloon-top {
  background-image: url(img/chat/balloon/balloon-left--top.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-left .ventu-chat-balloon-top:before {
  background-image: url(img/chat/balloon/balloon-left--top-left.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-left .ventu-chat-balloon-top:after {
  background-image: url(img/chat/balloon/balloon-left--top-right.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-left .ventu-chat-balloon-middle {
  padding-left: 8px;
}
.ventu-chat-balloon-container.ventu-chat-balloon-left .ventu-chat-balloon-middle:before {
  background-image: url(img/chat/balloon/balloon-left--left.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-left .ventu-chat-balloon-middle:after {
  background-image: url(img/chat/balloon/balloon-left--right.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-left .ventu-chat-balloon-bottom {
  background-image: url(img/chat/balloon/balloon-left--bottom.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-left .ventu-chat-balloon-bottom:before {
  background-image: url(img/chat/balloon/balloon-left--bottom-left.png);
}
.ventu-chat-balloon-container.ventu-chat-balloon-left .ventu-chat-balloon-bottom:after {
  background-image: url(img/chat/balloon/balloon-left--bottom-right.png);
}
.ventu-chat-balloon {
  display: inline-block;
}
.ventu-chat-balloon .ventu-chat-balloon-top,
.ventu-chat-balloon .ventu-chat-balloon-bottom,
.ventu-chat-balloon .ventu-chat-balloon-middle {
  position: relative;
}
.ventu-chat-balloon .ventu-chat-balloon-top:after,
.ventu-chat-balloon .ventu-chat-balloon-bottom:after,
.ventu-chat-balloon .ventu-chat-balloon-middle:after,
.ventu-chat-balloon .ventu-chat-balloon-top:before,
.ventu-chat-balloon .ventu-chat-balloon-bottom:before,
.ventu-chat-balloon .ventu-chat-balloon-middle:before {
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  content: '';
  z-index: 1;
  background-size: 100% 100%;
}
.ventu-chat-balloon .ventu-chat-balloon-top:before,
.ventu-chat-balloon .ventu-chat-balloon-bottom:before,
.ventu-chat-balloon .ventu-chat-balloon-middle:before {
  left: -12px;
}
.ventu-chat-balloon .ventu-chat-balloon-top:after,
.ventu-chat-balloon .ventu-chat-balloon-bottom:after,
.ventu-chat-balloon .ventu-chat-balloon-middle:after {
  right: -12px;
}
.ventu-chat-balloon .ventu-chat-balloon-top,
.ventu-chat-balloon .ventu-chat-balloon-bottom {
  height: 12px;
  background-size: 100% 100%;
}
.ventu-chat-balloon .ventu-chat-balloon-middle {
  background: #fff;
  padding-right: 6px;
}
.ventu-chat-balloon .ventu-chat-balloon-middle:before {
  height: 100%;
}
.ventu-chat-balloon .ventu-chat-balloon-middle:after {
  height: 100%;
}
.ventu-card-button {
  width: 64px;
  height: 64px;
  padding: 16px;
  border-radius: 50%;
  background: #fff;
}
.ventu-card-button.ventu-card-button--love .ventu-card-button-icon {
  background: #2ECC71;
  background-image: url(img/icons/love.svg);
}
.ventu-card-button.ventu-card-button--hate .ventu-card-button-icon {
  background-color: #DF0040;
  background-image: url(img/icons/hate.svg);
}
.ventu-card-button.ventu-card-button--share .ventu-card-button-icon {
  background-color: #00A2FF;
  background-image: url(img/icons/share.svg);
}
.ventu-card-button.ventu-card-button--read-more .ventu-card-button-icon {
  background-color: #FF8D00;
  background-image: url(img/icons/read-more.svg);
}
.ventu-card-button .ventu-card-button-icon {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.ventu-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
}
.ventu-popup {
  margin: 100px auto;
  background: #fff;
  position: relative;
  display: none;
}
.ventu-popup.ventu-login {
  width: 350px;
}
.ventu-popup.ventu-settings {
  width: 300px;
}
.ventu-popup .ventu-popup-head {
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.ventu-popup .ventu-popup-head h2 {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
}
.ventu-popup .ventu-popup-body {
  padding-bottom: 30px;
}
.ventu-popup .ventu-popup-body .dropdown-menu {
  border-top: 0;
  border-radius: 0;
  box-shadow: none;
  display: block!important;
  float: none;
  position: relative;
}
.ventu-popup .ventu-popup-body .dropdown-menu li a {
  padding: 8px 32px;
}
.ventu-popup .ventu-popup-body .dropdown-menu li a:hover {
  background: #ddd;
}
.ventu-popup .ventu-popup-body.with-padding {
  padding: 30px;
}
.ventu-close-popup {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  text-align: center;
  padding-top: 2px;
  border-radius: 16px;
}
.ventu-close-popup:hover {
  background: #ddd;
  color: #000;
}
@media (max-width: 767px) {
  .ventu-overlay .ventu-popup {
    margin: 40px auto;
    max-width: calc(100% - 40px);
  }
  .ventu-overlay .ventu-popup.ventu-login {
    width: 350px;
  }
  .ventu-overlay .ventu-popup.ventu-settings {
    width: 300px;
  }
}
.ventu-form,
form {
  font-size: 16px;
  line-height: 1.25;
}
.ventu-form h2,
form h2 {
  margin-top: 0;
}
.ventu-form input,
form input {
  width: 100%;
  border: 1px solid #ededec;
  color: #333;
  margin-bottom: 20px;
  background: transparent;
  max-width: 400px;
  display: block;
  border-radius: 0;
  box-shadow: 0;
  padding: 8px;
  font-size: 16px;
  line-height: 1.25;
  font-family: ProximaNova;
}
.ventu-form input:focus,
form input:focus {
  box-shadow: none!important;
}
.ventu-form label,
form label {
  font-weight: 400;
  font-size: 14px;
}
.ventu-form .ventu-form-send,
form .ventu-form-send {
  margin-top: 40px;
}
.ventu-form .checkbox label,
form .checkbox label {
  line-height: 1.3;
}
.ventu-form a,
form a {
  font-family: ProximaNova;
  color: #17141f;
  text-decoration: none;
  display: block;
}
.ventu-form a:hover,
form a:hover {
  color: #03256b;
  text-decoration: underline;
}
.ventu-form button[type=submit],
form button[type=submit] {
  margin-top: 20px;
}
.btn {
  border-radius: 20px;
  height: 40px;
  font-size: 16px;
  line-height: 1;
  padding: 12px 20px;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #fff;
  display: inline-block;
}
.btn.orange {
  background: #FE8A1A;
  box-shadow: 1px 1px 0 #E38625;
}
.btn.btn-big {
  padding: 8px 16px;
  color: #fff;
  display: inline-block;
  vertical-align: top;
}
.btn.ventu-green:hover {
  background: #03EDAA;
}
.btn-with-icon {
  padding: 4px 12px 4px 6px;
  border: 0;
  background: transparent;
  color: #fff;
}
.btn-with-icon.btn-big span {
  display: inline-block;
  vertical-align: top;
  padding-top: 9px;
}
.btn-with-icon .ventu-icon {
  padding-top: 0;
  color: inherit;
}
.btn-with-icon:hover {
  border-radius: 0;
}
.ventu-green {
  background: #16E5A9;
}
.ventu-white {
  background: #fff;
  color: #1F1F1F!important;
}
.ventu-continue {
  position: absolute!important;
  left: 0;
  bottom: 50px;
  width: 100%;
  text-align: center;
}
.ventu-continue .ventu-continue-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ff8d00;
  display: inline-block;
  background-image: url(img/tools/continue.svg);
  background-size: 100% 100%;
  cursor: pointer;
}
.ventu-continue .ventu-continue-button:hover {
  background-color: #17141f;
}
.ventu-continue .ventu-continue-text {
  max-width: 500px;
  margin: 20px auto 0 auto;
  color: #fff;
}
@media (max-width: 767px) {
  .ventu-continue {
    bottom: 20px;
  }
  .ventu-continue .ventu-continue-text {
    margin-top: 10px;
  }
}
.ventu-pointer-area {
  position: absolute;
  width: 344px;
  height: 344px;
  background-image: url(img/tools/ventu-pointer-area.svg);
  background-size: 100% 100%;
  margin: -172px 0 0 -172px;
}
#ventu-carousel {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}
img.projectCarousel {
  width: 100%;
}
.ventu-avatar {
  padding: 15px!important;
  height: 60px!important;
}
.ventu-avatar .ventu-avatar-label {
  display: inline-block;
  margin-right: 6px;
  vertical-align: top;
  padding-top: 6px;
}
.ventu-avatar-image {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: cover;
  vertical-align: top;
}
.ventu-avatar-image.ventu-avatar-image--no-avatar {
  background-color: #ededec;
  background-image: url(img/icons/no-avatar.svg);
}
.ventu-features {
  padding: 10px 0;
}
.ventu-features ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ventu-features ul li {
  margin: 0 20px 10px 0;
  height: 16px;
  padding-left: 20px;
  position: relative;
  display: inline-block;
}
.ventu-features ul li:after {
  position: absolute;
  left: 0;
  top: 2px;
  width: 12px;
  height: 12px;
  background-size: 100% 100%;
  content: '';
}
.ventu-features ul li.ventu-features-shop:after {
  background-image: url(img/icons/shop.svg);
}
.ventu-features ul li.ventu-features-office:after {
  background-image: url(img/icons/office.svg);
}
.ventu-features ul li.ventu-features-area:after {
  background-image: url(img/icons/area.svg);
}
.ventu-features ul li.ventu-features-price:after {
  background-image: url(img/icons/price.svg);
}
.ventu-features ul li.ventu-features-location:after {
  background-image: url(img/icons/location.svg);
}
.ventu-icon {
  cursor: pointer;
  display: inline-block;
  font-family: 'ventu';
  text-align: center;
  transition: all 0.2s ease;
  color: #17141f;
}
.ventu-icon-white {
  color: #fff;
}
.ventu-icon-white.ventu-icon-hover:hover {
  color: #1F1F1F!important;
}
.ventu-icon:after {
  content: 'x';
  /* fallback when no icon content is set */
}
.ventu-icon-big {
  width: 32px;
  height: 32px;
  margin-right: 2px;
  padding-top: 8px;
  font-size: 26px;
}
.ventu-icon-med {
  width: 30px;
  height: 30px;
  margin-right: 2px;
  padding-top: 7px;
  font-size: 25px;
}
.ventu-icon-right {
  float: right;
  margin-right: 0;
  margin-left: 2px;
}
.ventu-icon-box {
  /*border: 0.75px solid #1F1F1F;*/
}
.ventu-icon-photo:after,
.ventu-icon-image:after {
  content: 'p';
}
.ventu-icon-download:after {
  content: 'd';
}
.ventu-icon-search:after {
  content: 's';
}
.ventu-icon-comment:after {
  content: 'R';
}
.ventu-icon-add:after {
  content: '+';
}
.ventu-icon-remove:after,
.ventu-icon-close:after,
.ventu-icon-hate:after {
  content: 'x';
}
.ventu-icon-reload:after {
  content: 'r';
}
.ventu-icon-prev:after,
.ventu-icon-home:after {
  content: '<';
}
.ventu-icon-next:after,
.ventu-icon-details:after {
  content: '>';
}
.ventu-icon-login:after {
  content: 'l';
}
.ventu-icon-filter:after {
  content: '-';
}
.ventu-icon-video:after {
  content: 'P';
}
.ventu-icon-document:after {
  content: 'D';
}
.ventu-icon-3d:after {
  content: '3';
}
.ventu-icon-love:after {
  content: 'L';
}
.ventu-text-along-icon {
  display: inline-block;
  padding: 8px 0 0 1px;
  vertical-align: top;
  font-size: 10px;
}
#breadcrumb {
  margin-top: 60px;
  border-bottom: 0;
}
#breadcrumb h1 {
  font-size: 30px;
  line-height: 0.67;
  color: #ffffff;
}
#breadcrumb .breadcrumb {
  background: none;
  border-radius: 0;
  padding: 20px 0;
  margin: 0;
}
#breadcrumb .breadcrumb > .active,
#breadcrumb .breadcrumb a,
#breadcrumb .breadcrumb > li + li:before,
#breadcrumb .breadcrumb h3 {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
#breadcrumb .breadcrumb > li + li:before {
  content: "\3E";
}
section {
  padding: 70px 32px;
  background: #fff;
  border-bottom: solid 0.5px #ededec;
}
section .section-color-fill {
  width: 100%;
  height: 100%;
  background-color: rgba(58, 101, 192, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
section.section--transparent {
  background: transparent;
}
section.section--with-background {
  background-size: cover;
}
section.section--without-padding {
  padding: 0;
}
section.section--without-side-padding {
  padding: 20px 0;
}
section.section--without-top-padding {
  padding-top: 0;
  padding-bottom: 0;
}
section.section--small-padding {
  padding: 20px;
}
section.section--with-shadow {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}
section.section--grey {
  background: #ebebeb;
}
section.section--with-color-fill {
  position: relative;
}
section.section--with-color-fill > *:not(.section-color-fill) {
  position: relative;
  z-index: 1;
}
section .section-header {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
section .section-header.section-header--left {
  text-align: left;
}
section .section-header .section-header-text {
  margin-bottom: 40px;
}
section .section-header .section-header-text h1 {
  margin: 0 0 20px 0;
}
section .section-header .section-header-text h2 {
  margin: 0 0 20px 0;
}
section .section-header .section-header-text h5 {
  margin: 0;
}
section .section-header .section-header-text h6 {
  margin: 0;
}
section .section-header .section-header-text.section-header-text--white h1,
section .section-header .section-header-text.section-header-text--white h2,
section .section-header .section-header-text.section-header-text--white h5,
section .section-header .section-header-text.section-header-text--white h6 {
  color: #fff;
}
@media (max-width: 1024px) {
  section {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1024px) {
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.divider {
  border-bottom: solid 0.5px #ededec;
  margin: 20px 0;
}
section.section--small-padding .divider {
  margin-left: -20px;
  margin-right: -20px;
}
#ventu-slider-slide-types .ventu-slider-slide-body {
  padding-top: 10px;
}
#ventu-slider-slide-types .ventu-slider-slide-body .ventu-slider-type-button {
  width: 110px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
}
#ventu-slider-slide-types .ventu-slider-slide-body .ventu-slider-type-button .ventu-slider-type-button-icon {
  height: 80px;
}
#ventu-slider-slide-types .ventu-slider-slide-body .ventu-slider-type-button .ventu-slider-type-button-icon img {
  width: 50px;
  height: auto;
}
#ventu-slider-slide-types .ventu-slider-slide-body .ventu-slider-type-button .ventu-slider-type-button-label {
  color: #fff;
  padding: 6px;
  height: 30px;
  display: inline-block;
}
#ventu-slider-slide-types .ventu-slider-slide-body .ventu-slider-type-button:hover .ventu-slider-type-button-label {
  background: #fff;
  color: #03256b;
}
#ventu-slider-slide-types .ventu-slider-slide-body .ventu-slider-type-button.ventu-slider-type-button--active .ventu-slider-type-button-label {
  background: #00e5a9;
  color: #03256b;
}
#ventu-slider-slide-area .ventu-slider-slide-body {
  padding-top: 38px;
}
#ventu-slider-slide-area .ventu-slider-slide-body span {
  vertical-align: top;
  padding: 4px;
  display: inline-block;
}
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker {
  display: inline-block;
  margin: 0 4px;
  height: 30px;
}
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker .ventu-slider-area-picker-label,
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker input {
  display: inline-block;
  padding: 4px 6px;
  background: #fff;
  color: #03256b;
  height: 30px;
  border: 0;
  vertical-align: top;
  font-size: 16px;
  line-height: 1.4;
}
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker input {
  width: 80px;
}
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker.ventu-slider-area-picker--picked .ventu-slider-area-picker-label,
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker.ventu-slider-area-picker--picked input {
  background: #00e5a9;
}
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker.ventu-slider-area-picker--error .ventu-slider-area-picker-label,
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker.ventu-slider-area-picker--error input {
  background: red;
}
#ventu-slider-slide-location .ventu-slider-slide-body {
  padding-top: 20px;
}
#ventu-slider-slide-location .ventu-slider-slide-body .ventu-search {
  border-bottom: 0 !important;
}
#ventu-slider-slide-location .ventu-slider-slide-body .ventu-search .ventu-search-results {
  top: calc(100% - 1px) !important;
}
#ventu-slider-slide-transaction .ventu-slider-slide-body {
  padding-top: 38px;
}
#ventu-slider-slide-transaction .ventu-slider-slide-body .ventu-slider-transaction-button {
  padding: 6px 24px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  background: #fff;
  border-right: 1px solid #ededec;
  color: #03256b;
}
#ventu-slider-slide-transaction .ventu-slider-slide-body .ventu-slider-transaction-button:last-child {
  border-right: 0;
}
#ventu-slider-slide-transaction .ventu-slider-slide-body .ventu-slider-transaction-button:hover {
  background: #ededec;
}
#ventu-slider-slide-transaction .ventu-slider-slide-body .ventu-slider-transaction-button.ventu-slider-transaction-button--active {
  background: #00e5a9;
}
#ventu-slider-slide-end .ventu-slider-slide-body .ventu-slider-slide-end-container {
  width: 220px;
  padding-top: 28px;
  margin: 20px auto 0 auto;
  height: 120px;
  background-image: url(img/tools/glass-results.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  animation-name: background-bounce;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}
@keyframes background-bounce {
  0% {
    background-size: 30%;
  }
  50% {
    background-size: 50%;
  }
  100% {
    background-size: 30%;
  }
}
@media (max-width: 767px) {
  .ventu-slider-slide-frame {
    height: 300px;
  }
  .ventu-slider-slide-frame .ventu-slider-navigation-button {
    top: auto;
    bottom: 0;
  }
  .ventu-slider-slide-frame .ventu-slider-navigation-button.ventu-slider-navigation-next {
    right: 0;
  }
  .ventu-slider-slide-frame .ventu-slider-navigation-button.ventu-slider-navigation-prev {
    left: 0;
  }
}
.ventu-slider-header {
  height: 140px;
  text-align: center;
  color: #fff;
}
.ventu-slider-header .ventu-slider-header-section-labels {
  display: inline-block;
}
.ventu-slider-header .ventu-slider-header-section-labels .ventu-slider-header-section-label {
  background: #00e5a9;
  color: #03256b;
  padding: 4px 6px;
  margin: 0 4px 4px 4px;
  cursor: default;
  display: inline-block;
  transform: scale(0.01);
  transition: transform 0.2s ease;
}
.ventu-slider-header .ventu-slider-header-section-labels .ventu-slider-header-section-label.show-label {
  transform: scale(1);
}
@media (max-width: 767px) {
  .ventu-slider-header {
    height: 100px;
    text-align: left;
  }
  .ventu-slider-header .ventu-slider-header-section-text {
    font-size: 16px;
  }
}
.ventu-search {
  width: 100%;
  border-bottom: 2px solid #cacaca;
  position: relative;
  height: 60px;
  padding: 4px 0 8px 0;
}
.ventu-search .ventu-search-icon {
  display: inline-block;
  background-size: 100% 100%;
  float: left;
  height: 24px;
  width: 24px;
  margin: 11px 10px;
  background-image: url(img/tools/glass.svg);
}
.ventu-search.ventu-search-marker .ventu-search-icon {
  height: 45px;
  width: 28px;
  margin: 1px 12px 0 4px;
  background-image: url(img/tools/marker.svg);
}
.ventu-search input {
  width: calc(100% - 44px);
  height: 40px;
  border: 0;
  background: transparent;
  font-size: 16px;
  font-weight: 300;
  float: left;
  margin-top: 5px;
}
.ventu-search .ventu-search-chosen {
  position: absolute;
  left: 40px;
  top: 15px;
  height: 30px;
  display: none;
  padding: 6px;
  color: #03256b;
  background: #00e5a9;
  cursor: default;
}
.ventu-search.ventu-search--white-label .ventu-search-chosen {
  background: #fff;
}
.ventu-search.ventu-search--white {
  border-bottom: 2px solid #fff;
}
.ventu-search.ventu-search--white input {
  color: #fff;
}
.ventu-search-open {
  float: right;
  width: 60px;
  height: 60px;
  background: #ededec;
  background-image: url(img/tools/glass.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}
.ventu-search-open .ventu-search-container {
  position: absolute;
  right: 100%;
  top: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}
.ventu-search-open.ventu-search-open--opened {
  background-image: url(img/tools/close.svg);
}
.ventu-search-open.ventu-search-open--opened .ventu-search-container {
  width: 500px;
  overflow: visible;
}
@media (max-width: 767px) {
  .ventu-search-open .ventu-search-container {
    position: fixed;
    left: 0;
    top: 60px;
    background: #fff;
  }
  .ventu-search-open.ventu-search-open--opened .ventu-search-container {
    width: 100%;
  }
}
.ventu-search-results {
  position: absolute;
  left: 0;
  top: calc(100% + 2px);
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 100;
  max-height: 250px;
  overflow: auto;
}
.ventu-search-results .ventu-search-result {
  padding: 12px;
  border-bottom: 1px solid #ededec;
  cursor: pointer;
  color: #17141f;
  text-align: left;
}
.ventu-search-results .ventu-search-result:hover {
  background: #ededec;
}
.ventu-slider {
  height: 340px;
  position: relative;
}
.ventu-slider .ventu-slider-header-section-text {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  font-family: ProximaNova;
  margin: 0 4px 4px 0;
  padding: 4px 6px 4px 0;
}
.ventu-slider .ventu-slider-slide-frame {
  height: 500px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 140px;
  width: 100%;
}
.ventu-slider .ventu-slider-slide-frame .ventu-slider-slide-container {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  transition: left 0.5s ease;
}
.ventu-slider .ventu-slider-slide-frame .ventu-slider-slide-container .ventu-slider-slide {
  float: left;
  color: #fff;
  height: 100%;
  position: relative;
}
.ventu-slider .ventu-slider-slide-frame .ventu-slider-slide-container .ventu-slider-slide .ventu-slider-slide-content {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
.ventu-slider .ventu-slider-slide-frame .ventu-slider-slide-container .ventu-slider-slide .ventu-slider-slide-content .ventu-slider-slide-header {
  height: 34px;
}
.ventu-slider-center-line {
  position: absolute;
  left: 50px;
  top: 116px;
  width: calc(100% - 100px);
}
.ventu-slider-center-line > div {
  height: 1px;
  position: relative;
}
.ventu-slider-center-line .ventu-slider-center-line-left {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 16px 1px;
  background-repeat: repeat-x;
  float: left;
}
.ventu-slider-center-line .ventu-slider-center-line-left.ventu-slider-center-line--hidden {
  background-image: none;
}
.ventu-slider-center-line .ventu-slider-center-line-middle {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  float: left;
}
.ventu-slider-center-line .ventu-slider-center-line-middle.ventu-slider-center-line--hidden {
  border-bottom: none;
}
.ventu-slider-center-line .ventu-slider-center-line-right {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  float: left;
  transition: width 0.5s ease;
}
.ventu-slider-navigation-button {
  position: absolute;
  top: calc(50% - 37px);
  z-index: 1;
  width: 74px;
  height: 74px;
  cursor: pointer;
}
.ventu-slider-navigation-button.ventu-slider-navigation-prev {
  left: -37px;
}
.ventu-slider-navigation-button.ventu-slider-navigation-prev:hover:after {
  border-right: 14px solid #00e5a9;
}
.ventu-slider-navigation-button.ventu-slider-navigation-prev:after {
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 14px solid #fff;
  content: '';
  position: absolute;
  left: 29px;
  top: 27px;
}
.ventu-slider-navigation-button.ventu-slider-navigation-next {
  right: -37px;
}
.ventu-slider-navigation-button.ventu-slider-navigation-next:after {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 20px solid #00e5a9;
  content: '';
  position: absolute;
  left: 29px;
  top: 22px;
}
.ventu-slider-navigation-button.ventu-slider-navigation-next .ventu-slider-navigation-button-wave {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 50%;
}
.ventu-slider-navigation-button.ventu-slider-navigation-next.waving .ventu-slider-navigation-button-wave,
.ventu-slider-navigation-button.ventu-slider-navigation-next:hover .ventu-slider-navigation-button-wave {
  animation-name: waving;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
@keyframes waving {
  0% {
    border: 1px solid #ffffff;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
  }
  100% {
    border: 1px solid rgba(255, 255, 255, 0);
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
  }
}
