@import '../mixins';

.ventu-guide {
    display: none;
    background: #FFDE00;
    padding: 20px 20px 60px 20px;
    font-size: 12px;
    font-family: 'graphik';
    font-weight: 400;
    position: fixed;
    width: 300px;
    z-index: 100000;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);

    .ventu-icon {
        color: #333;
    }

    &:after {
        position: absolute;
        width: 0;
        height: 0;
        content: '';
    }

    .ventu-guide-button {
        position: absolute;
        bottom: 10px;

        &.ventu-guide-close {
            right: 10px;
        }

        .ventu-icon {
            border-radius: 15px;
            padding-top: 8px;
        }

        .ventu-guide-button-sub {
            display: inline-block;
            vertical-align: top;
            padding-top: 8px;
            font-style: italic;
            cursor: pointer;
            opacity: 0;
            transition: all 0.3s ease;
            margin-right: 6px;
        }

        &:hover .ventu-icon {
            background: #fff;
        }

        &:hover .ventu-guide-button-sub {
            opacity: 1;
        }
    }
}



.ventu-guide-left:after,
.ventu-guide-right:after
{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 50px;
}


.ventu-guide-left:after {
    left: -16px;
    border-right: 32px solid #FFDE00;
}

.ventu-guide-right:after,
.ventu-guide-right:after
{
    right: -16px;
    border-left: 16px solid #FFDE00;
}

.ventu-guide-top:after {
    left: calc(50% - 10px);
    top: -30px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 32px solid #FFDE00;
}

.ventu-guide-bottom:after {
    right: 145px;
    bottom: -20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 32px solid #FFDE00;
}

.ventu-guide-bottom-right:after {
    right: 10px;
    bottom: -20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 32px solid #FFDE00;
}

