h1 {
  text-align: center;
  margin: 0;
  padding: 60px 0;
  font-size: 40px;
  font-weight: 700;
}
.ventu-img-stretch {
  height: 800px;
  width: 100%;
  background-position: center top;
  background-size: cover;
  color: #fff;
  position: relative;
}
.ventu-img-stretch .ventu-text-overlay {
  top: 140px;
  left: 0;
}
.ventu-img-stretch .ventu-text-overlay h3 {
  font-size: 56px;
  line-height: 56px;
  margin-bottom: 0;
}
.ventu-img-stretch .ventu-text-overlay h4 {
  font-size: 64px;
  line-height: 64px;
  font-family: 'freight';
  margin: 0 0 40px 0;
}
.ventu-text-overlay {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.ventu-home-panel .ventu-text-overlay {
  top: 70px;
  left: 40px;
}
.ventu-home-content {
  background: #fff;
}
.ventu-home-content .ventu-home-block {
  clear: both;
}
.ventu-home-content .ventu-home-panel {
  width: calc(50% - 10px);
  margin-right: 10px;
  margin-bottom: 40px;
  height: 400px;
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  float: left;
}
.ventu-home-content .ventu-home-panel h3 {
  font-size: 36px;
  line-height: 36px;
}
.ventu-home-content .ventu-home-panel h4 {
  font-size: 48px;
  line-height: 48px;
  font-family: 'freight';
  margin: 0 0 30px 0;
}
.ventu-home-content .ventu-home-panel:nth-child(even) {
  margin-right: 0;
  margin-left: 10px;
}
.ventu-home-content .ventu-home-quote-panel {
  width: calc(33% - 8px);
  padding: 20px 80px;
  margin-bottom: 40px;
  height: 400px;
  color: #1f1f1f;
  float: left;
  font-family: 'freight';
  font-size: 22px;
  line-height: 20px;
  text-align: center;
  font-style: italic;
}
.ventu-home-content .ventu-home-quote-panel img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.ventu-home-content .ventu-home-quote-panel .ventu-quote-sender {
  font-family: 'graphik';
  font-size: 12px;
  font-style: normal;
  margin-top: 10px;
}
.ventu-home-content .ventu-home-footer {
  text-align: center;
  padding-bottom: 100px;
}
