.ventu-card.ventu-mini-card {
  width: 200px;
  height: 160px;
  display: inline-block;
  margin: 0 20px 20px 0;
  position: relative;
  right: auto;
  left: 0;
  top: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.ventu-card.ventu-mini-card .ventu-card-text {
  padding: 8px;
}
.ventu-card.ventu-mini-card .ventu-card-text h3 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px!important;
}
.ventu-card.ventu-mini-card .ventu-card-buttons {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 30px;
  background: transparent;
  border: 0;
  display: none;
}
.ventu-card.ventu-mini-card .ventu-card-buttons .ventu-card-button {
  width: auto;
  float: none;
}
.ventu-card.ventu-mini-card:hover .ventu-card-buttons {
  display: block;
}
body.ventu-list {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body.ventu-list #ventu-canvas-list {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
}
body.ventu-list #ventu-list-content {
  position: absolute;
  right: 0;
  top: 63px;
  width: 60%;
  height: calc(100% - 63px);
  background: #fff;
  border-left: 1px solid #727272;
}
body.ventu-list #ventu-list-content #ventu-list-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 63px;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 24px 30px;
}
body.ventu-list #ventu-list-content #ventu-list-listing {
  position: absolute;
  left: 0;
  top: 63px;
  height: calc(100% - 63px);
  width: 100%;
  overflow: auto;
  padding: 30px;
}
