.ventu-continue {
  position: absolute!important;
  left: 0;
  bottom: 50px;
  width: 100%;
  text-align: center;
  z-index: 10;
}
.ventu-continue .ventu-continue-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ff8d00;
  display: inline-block;
  background-image: url(../img/tools/continue.svg);
  background-size: 100% 100%;
}
.ventu-continue .ventu-continue-text {
  max-width: 500px;
  margin: 20px auto 0 auto;
  color: #fff;
}
