.ventu-dialog-slide .ventu-dialog-slide-header {
  font-family: ProximaNova;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.ventu-dialog-slide .ventu-dialog-slide-buttons-container {
  margin-top: 30px;
}
.ventu-dialog-slide .ventu-dialog-slide-buttons-container .ventu-dialog-type-button {
  width: 110px;
  float: left;
  text-align: center;
}
.ventu-dialog-slide .ventu-dialog-slide-buttons-container .ventu-dialog-type-button .ventu-dialog-type-button-icon {
  height: 60px;
}
.ventu-dialog-slide .ventu-dialog-slide-buttons-container .ventu-dialog-type-button .ventu-dialog-type-button-icon img {
  width: 50px;
  height: auto;
}
.ventu-dialog-slide .ventu-dialog-slide-buttons-container .ventu-dialog-type-button .ventu-dialog-type-button-label {
  color: #fff;
  padding: 12px;
}
