.ventu-search {
  width: 100%;
  border-bottom: 2px solid #cacaca;
  position: relative;
  height: 64px;
  padding: 6px 0 12px 0;
  max-width: 400px;
}
.ventu-search .ventu-search-icon {
  display: inline-block;
  background-size: 100% 100%;
  float: left;
}
.ventu-search.ventu-search-glass .ventu-search-icon {
  height: 24px;
  width: 24px;
  margin: 11px 10px;
  background-image: url(../img/tools/glass.svg);
}
.ventu-search.ventu-search-marker .ventu-search-icon {
  height: 45px;
  width: 28px;
  margin: 1px 8px 0 8px;
  background-image: url(../img/tools/marker.svg);
}
.ventu-search input {
  width: calc(100% - 44px);
  height: 40px;
  border: 0;
  background: transparent;
  font-size: 16px;
  font-weight: 300;
  float: left;
  margin-top: 5px;
}
.ventu-search .ventu-search-chosen {
  position: absolute;
  left: 48px;
  top: 10px;
  display: none;
  padding: 4px;
  color: #fff;
}
.ventu-search.ventu-search--white {
  border-bottom: 2px solid #fff;
}
.ventu-search.ventu-search--white input {
  color: #fff;
}
