nav.navbar-default {
  border: 0!important;
  margin: 0;
  background: #00e5a9 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
nav.navbar-default .navbar-header .navbar-brand {
  padding: 0;
}
nav.navbar-default .navbar-header .navbar-brand .ventu-identity {
  display: inline-block;
  background-image: url('../img/identity/ventu-logo-navbar.svg');
  background-size: cover;
  width: 215px;
  height: 60px;
}
nav.navbar-default .navbar-header .navbar-toggle {
  border-radius: 0;
  border: 0;
  padding: 20px;
  margin: 0;
  width: 60px;
  height: 60px;
  background: white;
}
nav.navbar-default .navbar-header .navbar-toggle:hover {
  background: #00e5a9;
}
nav.navbar-default .navbar-header .navbar-toggle .icon-bar {
  border-radius: 0;
  background-color: #03256b;
  height: 3px;
}
nav.navbar-default #navbar {
  height: 100%;
}
nav.navbar-default #navbar ul {
  height: 100%;
  margin: 0;
}
nav.navbar-default #navbar ul li {
  display: block;
  height: 100%;
  background: #fff;
  border-left: 1px solid #ededec;
}
nav.navbar-default #navbar ul li:hover {
  background: #ededec;
}
nav.navbar-default #navbar ul li a {
  padding: 20px 24px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
  color: #03256b;
  display: block;
  height: 100%;
  font-family: 'ProximaNova';
  text-align: right;
}
@media (max-width: 768px) {
  nav.navbar-default {
    background: transparent!important;
    box-shadow: none;
  }
  nav.navbar-default .navbar-header {
    background: #00e5a9 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  }
  nav.navbar-default .navbar-header .navbar-brand .ventu-identity {
    background-image: url('../img/identity/ventu-icon.svg');
    width: 82.5px;
    height: 60px;
  }
  nav.navbar-default #navbar ul li {
    background: transparent;
    border-left: none;
  }
  nav.navbar-default #navbar ul:hover {
    background: transparent;
  }
}
