.ventu-lightbox {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000000;
}
.ventu-lightbox-card .ventu-card-image {
  opacity: 1;
  height: 90%;
  position: relative;
}
.ventu-lightbox-card .ventu-card-text {
  height: 10%;
  padding: 18px 30px;
}
.ventu-lightbox-nav-icon {
  position: absolute;
  top: calc(39%);
}
.ventu-lightbox .ventu-icon-close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.ventu-lightbox-left {
  left: 10px;
}
.ventu-lightbox-right {
  right: 10px;
}
