nav.navbar-default {
  position: fixed;
  z-index: 1000;
  background: #00e5a9 !important;
  height: 60px;
  border-bottom: 0;
}
nav.navbar-default .navbar-header .navbar-brand {
  padding: 0;
}
nav.navbar-default .navbar-header .navbar-brand .ventu-identity {
  display: inline-block;
  background-image: url('../img/identity/ventu-logo-small.png');
  background-size: cover;
  width: 153px;
  height: 60px;
  margin-right: 20px;
}
nav.navbar-default .navbar-header .navbar-toggle {
  border-radius: 0;
  border: 1px solid #17141f;
  margin-top: 21px;
  margin-right: 18px;
  padding: 6px;
}
nav.navbar-default .navbar-header .navbar-toggle:hover {
  background: white;
}
nav.navbar-default .navbar-header .navbar-toggle .icon-bar {
  border-radius: 0;
  background-color: #17141f;
  height: 1px;
}
nav.navbar-default #navbar {
  height: 100%;
}
nav.navbar-default #navbar ul {
  height: 100%;
}
nav.navbar-default #navbar ul li {
  border-left: 1px solid #dcdce2;
  display: block;
  height: 100%;
  background: #fff;
}
nav.navbar-default #navbar ul li:hover {
  background: #dcdce2;
}
nav.navbar-default #navbar ul li a {
  padding: 20px 24px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
  color: #03256b;
  display: block;
  height: 100%;
  font-family: 'ProximaNova';
}
nav.navbar-default #navbar ul li .dropdown-menu {
  background-color: #fff;
  border: 0;
  height: auto;
  border-radius: 0;
  padding: 0;
}
nav.navbar-default #navbar ul li .dropdown-menu li {
  border-left: 0;
  border-bottom: 1px solid #ddd;
}
nav.navbar-default #navbar ul li .dropdown-menu li:hover {
  background: transparent;
}
nav.navbar-default #navbar ul li .dropdown-menu li a {
  padding: 16px 32px;
  height: auto;
}
nav.navbar-default #navbar ul li .dropdown-menu li a:hover {
  background: #ddd;
}
@media (max-width: 1024px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  nav.navbar {
    min-height: 63px;
  }
  nav.navbar #navbar {
    clear: both;
    width: 100%;
    float: none;
    overflow: auto;
    background: #fff;
    border-top: 1px solid #727272;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  }
  nav.navbar #navbar ul li {
    border-bottom: 1px solid #ddd;
  }
  nav.navbar #navbar ul li:hover {
    background: transparent;
  }
  nav.navbar #navbar ul li:last-child {
    border-bottom: 0 !important;
  }
  nav.navbar #navbar ul li a {
    padding: 16px 32px;
    height: auto;
  }
  nav.navbar #navbar ul li a:hover {
    background: #ddd;
  }
  nav.navbar #navbar ul li .dropdown-menu a {
    padding: 8px 32px 8px 48px !important;
  }
}
@media (max-width: 768px) {
  nav.navbar {
    min-height: 50px;
  }
  nav.navbar .navbar-header .navbar-brand .ventu-identity {
    background-image: url('../img/ventu-icon.png');
    width: 50px;
    height: 50px;
    margin-right: 12px;
  }
  nav.navbar .navbar-header #ventu-type-picker {
    margin-top: 10px;
  }
  nav.navbar .navbar-header .ventu-map-search {
    margin-top: 10px;
    width: 200px;
  }
  nav.navbar .navbar-header .ventu-search-results-feedback {
    margin-top: 20px;
  }
  nav.navbar .navbar-header .navbar-toggle {
    margin-top: 13px;
    margin-right: 14px;
  }
}
@media (max-width: 767px) {
  nav.navbar .navbar-header #ventu-type-picker {
    display: none;
  }
  nav.navbar .navbar-header .ventu-search-results-feedback {
    position: fixed;
    left: 12px;
    bottom: 16px;
    font-weight: 700;
  }
  .to-filter .ventu-search-results-feedback {
    display: none!important;
  }
}
