@ventu-black: #17141f;
@ventu-color-primary: #00e5a9;
@ventu-color-secundary: #03256b;

@ventu-color-hate: #DF0040;
@ventu-color-love: #2ECC71;
@ventu-color-details: #FF8D00;
@ventu-color-follow: #8400C6;
@ventu-color-share: #00A2FF;
@ventu-color-group: #83B8C6;
@ventu-color-rating-active: #164DC8;

@ventu-color-hate-hover: rgba(223,0,65,0.5);
@ventu-color-love-hover: rgba(46,204,113,0.5);
@ventu-color-details-hover: rgba(255,141,0,0.5);
@ventu-color-follow-hover: rgba(132,0,198,0.5);
@ventu-color-share-hover: rgba(0,162,255,0.5);
@ventu-color-group-hover: rgba(131,184,198,0.5);

@ventu-main-grey-dark: #727272;
@ventu-main-grey-light: #ededec;
@button-hover-color: #ddd;

@ventu-box-shadow-1: 0 2px 4px rgba(0,0,0,0.4);
@ventu-box-shadow-2: 0 0 20px 0 rgba(0, 0, 0, 0.08);
@ventu-box-shadow-3: 0 4px 8px 0 rgba(0, 0, 0, 0.3);


@ventu-border-1: 1px solid #727272;
@ventu-menu-bar-grey: #dcdce2;
@ventu-divider-border: solid 0.5px @ventu-main-grey-light;

@ventu-active-button: #FE8A1A;
@ventu-active-button-hover: #D87800;