@ventu-black: #17141f;
@ventu-color-primary: #00e5a9;
@ventu-color-secundary: #03256b;

@ventu-color-hate: #DF0040;
@ventu-color-love: #2ECC71;
@ventu-color-details: #FF8D00;
@ventu-color-follow: #8400C6;
@ventu-color-shared: #00A2FF;

@ventu-main-grey: #727272;
@ventu-main-grey-2: #ededec;
@button-hover-color: #ddd;

@ventu-box-shadow-1: 0 2px 4px rgba(0,0,0,0.4);
@ventu-box-shadow-2: 0 0 20px 0 rgba(0, 0, 0, 0.08);
@ventu-box-shadow-3: 0 4px 8px 0 rgba(0, 0, 0, 0.3);


@ventu-border-1: 1px solid #727272;
@ventu-menu-bar-grey: #dcdce2;
@ventu-divider-border: solid 0.5px @ventu-main-grey-2;