@ventu-color-1: #00e5a9;
@ventu-color-2: #03256b;

@ventu-main-grey: #727272;
@button-hover-color: #ddd;

@ventu-black: #17141f;
@ventu-color-hate: #DF0040;
@ventu-color-love: #00e5a9;
@ventu-color-details: #FF8D00;

@ventu-box-shadow-1: 0 2px 4px rgba(0,0,0,0.4);


@ventu-border-1: 1px solid #727272;

@ventu-menu-bar-grey: #dcdce2;