.ventu-single-page {

    .ventu-pagewrap {
        background: #fff;
        padding: 100px 30px;
        border: @ventu-border-1;
        font-size: 15px;
        line-height: 19px;

        h1 {
            text-align: left;
            padding-bottom: 40px;
        }

        p {
            margin-bottom: 30px;
        }

        .ventu-social-media {
            display: block;
            padding-top: 6px;

            a {
                font-size: 20px;
                margin-right: 8px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}