#ventu-bottom-bar-love, #ventu-bottom-bar-hate {
    cursor: pointer;
}

.popover {
    background-color: #727272;
}

.popover.top>.arrow:after {
    border-top-color: #727272;
}

.not-in-team ul {
    list-style-type: none;
    padding-left: 0;
}

.not-in-team a {
    color: #ffffff;
    cursor: pointer;
}

.social-media-icons {
    list-style-type: none;  
    padding-left: 0;  
    font-size: 16px;
    font-family: 'ProximaNova';
}

.social-media-icons a {
    color: #ffffff;
}

.social-media-icons i {
    font-size: 1.4em;
    width: 28px;
}

.social-media-icons i.fa-facebook {
    color: #3B5998;
}

.social-media-icons i.fa-linkedin {
    color: #0077B5;
}

.social-media-icons i.fa-twitter {
    color: #00ACED;
}

.social-media-icons i.fa-google-plus {
    color: #DC4A38;
}

.social-media-icons i.fa-pinterest {
    color: #CB2027;
}

.ventu-hangout-add-member.ventu-popup input {
    display: inline-block;
    margin-bottom: 10px;
}

.ventu-hangout-add-member.ventu-popup label.error, .error {
    color: #c21e32;
}

.ventu-hangout-member {
    height: 84px;
}

.ventu-hangout-add-member.ventu-popup #messages ul {
    list-style-type: none;
    margin-top: 20px;
    padding-left: 0;
}

.ventu-card-shade {
    width: 324px;
}
.externalMemberContainer{
    margin-top:20px;
}

/* ventu teamstack feedback*/


@media (max-width: 767px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    h3, h4 {
        font-size: 16px;
    }

    body, .ventu-search input {
        font-size: 14px;
    }

    #ventu-hangout-list-cards .ventu-card .ventu-card-image {
        height: auto;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

}
