.main-col {

    section {
        border-bottom: @ventu-divider-border;
    }
}


section.detail-text .detail-text-short {
    max-height: 300px;
    overflow-y: hidden;
}

.news-text section.detail-text .detail-text-short {
    max-height: 62px;
}
