.ventu-dialog-flow {
    height: 100%;
}

.section--dialog {

    .section-header {

        h1, h2 {
            color: #fff;
        }

    }

    .dialog__container {
        margin: 40px auto 40px auto;
        width: 600px;
    }
}