#breadcrumb {
    margin-top: 60px;

    h1 {
        font-size: 30px;
        line-height: 0.67;
        color: #ffffff;
    }

    .breadcrumb {
        background: none;
        border-radius: 0;
        padding: 20px 0;
        margin: 0;

        > .active,
        a,
        > li + li:before,
        h3 {
            color: #fff;
        }

        > li + li:before {
            content: "\3E";
        }
    }
}