@import '../../mixins';

.divider {
    border-bottom: solid 0.5px @ventu-main-grey-2;
    margin: 20px 0;
}

section.section--small-padding {

    .divider {
        margin-left: -20px;
        margin-right: -20px;
    }
}