#ventu-chat-entry {
    height: 800px;
    background-image: url('../img/home/ventu-samen-map.jpg');

    .ventu-chat-pins-container {
        position: relative;
    }
}



.ventu-home-panel .ventu-text-overlay {
    top: 70px;
    left: 40px;
}

.ventu-home-content {
    background: #fff;
    font-size: 16px;
    line-height: 1.25;
    color: @ventu-black;

    .ventu-home-block {
        clear: both;
        padding: 80px 40px;

        &.ventu-home-block-with-background {
            background-size: cover;
        }

        .ventu-home-block-header {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            text-align: center;

            .ventu-home-block-header-text {
                margin-bottom: 40px;

                h1 {
                    text-align: center;
                    font-weight: 700;
                    margin: 0 0 20px 0;
                    padding: 0;
                    font-size: 40px;
                    color: @ventu-color-2;

                }

                h6 {
                    font-size: 16px;
                    line-height: 1.25;
                    color: @ventu-black;
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }


    .ventu-usp-item {
        width: ~'calc(33% - 8px)';
        padding: 20px 30px;
        margin-bottom: 40px;
        height: 400px;
        float: left;
        text-align: center;

        .ventu-usp-item-image {

            img {
                width: 75px;
                height: auto;
            }
        }

        h3 {
            font-size: 30px;
            font-weight: 700;
            line-height: 0.67;
            margin: 40px 0;
            color: @ventu-color-2;
        }
    }



    .ventu-home-panel {
        width: ~'calc(50% - 10px)';
        margin-right: 10px;
        margin-bottom: 40px;
        height: 400px;
        background-position: center;
        background-size: cover;
        color: #fff;
        position: relative;
        float: left;

        h3 {
            font-size: 36px;
            line-height: 36px;
        }

        h4 {
            font-size: 48px;
            line-height: 48px;
            font-family: 'freight';
            margin: 0 0 30px 0;
        }

        &:nth-child(even) {
            margin-right: 0;
            margin-left: 10px;
        }
    }

    .ventu-home-quote-panel {
        width: ~'calc(33% - 8px)';
        padding: 20px 80px;
        margin-bottom: 40px;
        height: 400px;
        color: #1f1f1f;
        float: left;
        font-family: 'freight';
        font-size: 22px;
        line-height: 20px;
        text-align: center;
        font-style: italic;

        img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .ventu-quote-sender {
            font-family: 'graphik';
            font-size: 12px;
            font-style: normal;
            margin-top: 10px;
        }
    }



    .ventu-home-footer {
        text-align: center;
        padding-bottom: 100px;
    }


}


