body.ventu-single {
    background: #D3D3D3;
    overflow: auto;
    padding: 0;
}

body.ventu-menu-single {
    padding-top: 80px;
}

.ventu-single-page {
    margin-bottom: 200px;
}

.ventu-single-content {
    width: 600px;
    margin: 0 auto 40px auto;
    transition: all 0.5s ease;
}

.ventu-inside-text-frame {
    padding-bottom: 30px;
}

.ventu-favorites-navigation .ventu-icon-prev {
    position: absolute;
    left: 20px;
    top: 16px;
}

.ventu-favorites-navigation .ventu-icon-next {
    position: absolute;
    right: 20px;
    top: 16px;
}

.ventu-favorites-icon {
    margin-top: 10px;
}

.ventu-single-main-image {
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.ventu-single-image-overlay {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 500px;
    max-width: calc(100% - 80px);
}

/* cards */

.ventu-single-card {
    padding: 40px;
    border: 1px solid #fff;
    margin-top: 10px;
}

.ventu-single-card-semi {
    display: inline-block;
    width: calc(50% - 5px);
}

.ventu-single-card-semi:nth-child(even) {
    margin-left: 10px;
}

.ventu-single-address {
    padding: 20px;
    background: #fff;
    max-width: 300px;
    margin-top: 10px;
}

.ventu-card-text.ventu-card-text-main {
    display: block;
    background: #fff;
    max-width: 300px;
}

.ventu-card-price {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 100;
}

/* quote */

.ventu-single .ventu-quote {
    color: #fff;
    margin: 40px 0 20px 0;
    padding: 0 15px;
}

/* tools */

.ventu-single-tools {
    padding: 30px;
    color: #fff;
}

.ventu-single-tools .ventu-button-with-icon {
    margin: 0 16px 6px 0;
}

.ventu-single-tools .ventu-button-with-icon .ventu-icon-med {
    padding-top: 0;
}

/* share */

.ventu-single-share {
    border-top: 1px solid #fff;
    padding: 15px;
    color: #fff;
}

.ventu-single-share i {
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.ventu-single-share i:hover {
    color: #1F1F1F;
}

/* content */

.ventu-single-follow-up {
    margin-top: 10px;
    padding: 30px;
    background: #fff;
}

.ventu-single-map {
    height: 300px;
    position: relative;
}

/* footer */

.ventu-single-footer {
    text-align: center;
    margin-bottom: 100px;
}

.ventu-like-as-well {
    padding: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.ventu-like-as-well-set {
    margin-top: 20px;
}

.ventu-mini-card {
    width: 160px;
    height: 170px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    transition: all 0.5s ease;
}

.ventu-mini-card .ventu-card-image:after {
    transition: all 0.3s ease;
}

.ventu-mini-card .ventu-card-image {
    opacity: 1;
}

.ventu-mini-card .ventu-card-text {
    text-align: left;
    padding: 20px;
    transition: all 0.3s ease;
    display: block;
    background: #fff;
    margin-bottom: 10px;
}

.ventu-mini-card:hover {
    transform: scale(1.1);
}

.ventu-mini-card h3 {
    font-size: 14px;
    line-height: 19px;
}

.ventu-single .ventu-stack-container {
    margin: -350px auto 0 auto;
    width: 500px;
    height: 500px;
    z-index: -1;
}

.ventu-single .ventu-counter {
    bottom: 8px;
}


@media (max-width: 768px) {
    /* mobile */

    .ventu-quote {
        font-size: 24px;
        line-height: 28px;
    }

    .ventu-card-price {
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    .ventu-single-content {
        width: 100%;
        padding: 0 20px;
    }

    .ventu-mini-card {
        width: 80px;
        height: 85px;
        margin-right: 6px;
    }

    .ventu-mini-card .ventu-card-text {
        padding: 8px;
    }

    .ventu-mini-card h3 {
        font-size: 8px;
        line-height: 10px;
    }

    .ventu-single .ventu-stack-container {
        width: 100%;
    }

    .ventu-single-image-overlay {
        left: 20px;
        max-width: calc(100% - 40px);
    }


}