@font-face {
    font-family: 'ventu';
    src: url('/fonts/ventu/ventu.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'freight';
    src: url('/fonts/ventu/freight-display.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'graphik';
    src: url('/fonts/ventu/graphik/Graphik-Extralight.otf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'graphik';
    src: url('/fonts/ventu/graphik/Graphik-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'graphik';
    src: url('/fonts/ventu/graphik/Graphik-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'graphik';
    src: url('/fonts/ventu/graphik/Graphik-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'graphik';
    src: url('/fonts/ventu/graphik/Graphik-Thin.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/ventu/ProximaNova/ProximaNova-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/ventu/ProximaNova/ProximaNova-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/ventu/ProximaNova/ProximaNova-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
