

                /* can customize */
                nav.navbar-default {
                    background: #00e5a9 !important;
                }

                /* can customize */
                .navbar-default .navbar-nav>li>a {
                    color: #333333 !important;
                }

                /* cannot customize */
                nav.navbar-default #navbar ul li:hover>a {
                    color: #333333 !important;
                }

                /* can customize */
                nav.navbar-default .navbar-header .navbar-brand .ventu-identity, nav.navbar-default #navbar ul li {
                    border-color: #727272 !important;
                }

                /* cannot customize */
                nav.navbar-default #navbar ul li .dropdown-menu li {
                    border-color: #dddddd !important;
                }

                /* cannot customize */
                .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
                    color: #555 !important;
                }

                /* can customize */
                .ventu-social-media i {
                    color: #164dca !important;
                }

                /* can customize */
                .ventu-search-results-feedback {
                    color: #333333 !important;
                }

                /* can customize */
                .ventu-content-container a, .ventu-login a {
                    color: #164dca !important;
                }

                /* can customize */
                .btn {
                    background-color: #164dca;
                    color: #ffffff !important;
                }

                /* can customize */
                .btn:hover {
                    background-color: #03256b !important;
                }

                /* can customize */
                .ventu-filter-box .ventu-filter-body .ventu-filter-body-content .ventu-filter-toggle.ventu-filter-toggle-active {
                    background-color: #164dca !important;
                    color: #333333 !important;
                }

                /* can customize */
                #ventu-fav-prev, #ventu-fav-next {
                    color: #333333 !important;
                }

            