@import '../../mixins';

.ventu-dialog-center-line {
    position: absolute;
    left: 50px;
    top: 116px;
    width: ~'calc(100% - 100px)';

    > div {
        height: 1px;
    }

    .ventu-dialog-center-line-left {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 16px 1px;
        background-repeat: repeat-x;
        float: left;

        &.ventu-dialog-center-line--hidden {
            background-image: none;
        }
    }

    .ventu-dialog-center-line-middle {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        float: left;

        &.ventu-dialog-center-line--hidden {
            border-bottom: none;
        }
    }

    .ventu-dialog-center-line-right {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        float: left;
        transition: width 0.5s ease;
    }

}