@import '../../mixins';

.ventu-slider-header {
    height: 140px;
    text-align: center;
    color: #fff;

    .ventu-slider-header-section-labels {
        display: inline-block;

        .ventu-slider-header-section-label {
            background: @ventu-color-1;
            color: @ventu-color-2;
            padding: 4px 6px;
            margin: 0 4px 4px 4px;
            cursor: default;
            display: inline-block;
            transform: scale(0.01);
            transition: transform 0.2s ease;

            &.show-label {
                transform: scale(1);
            }
        }
    }
}


@media (max-width: 767px) {

    .ventu-slider-header {
        height: 100px;
        text-align: left;

        .ventu-slider-header-section-text {
            font-size: 16px;
        }
    }

}