@import '../../mixins';

.ventu-search-open {
    float: right;
    width: 60px;
    height: 60px;
    background: @ventu-main-grey-light;
    background-image: url(img/tools/glass.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;

    .ventu-search-container {
        position: absolute;
        right: 100%;
        top: 0;
        width: 0;
        overflow: hidden;
        transition: all 0.2s ease;

        .ventu-search {

        }
    }



    &.ventu-search-open--opened {
        background-image: url(img/tools/close.svg);

        .ventu-search-container {
            width: 500px;
            overflow: visible;
        }
    }

}

@media (max-width: 767px) {

    .ventu-search-open {

            .ventu-search-container {
                position: fixed;
                left: 0;
                top: 60px;
                background: #fff;
            }

        &.ventu-search-open--opened {

            .ventu-search-container {
                width: 100%;
            }
        }
    }

}