#ventu-slider-slide-types .ventu-slider-slide-body {
  padding-top: 10px;
}
#ventu-slider-slide-types .ventu-slider-slide-body .ventu-slider-type-button {
  width: 110px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
}
#ventu-slider-slide-types .ventu-slider-slide-body .ventu-slider-type-button .ventu-slider-type-button-icon {
  height: 80px;
}
#ventu-slider-slide-types .ventu-slider-slide-body .ventu-slider-type-button .ventu-slider-type-button-icon img {
  width: 50px;
  height: auto;
}
#ventu-slider-slide-types .ventu-slider-slide-body .ventu-slider-type-button .ventu-slider-type-button-label {
  color: #fff;
  padding: 6px;
  height: 30px;
  display: inline-block;
}
#ventu-slider-slide-types .ventu-slider-slide-body .ventu-slider-type-button:hover .ventu-slider-type-button-label {
  background: #fff;
  color: #03256b;
}
#ventu-slider-slide-types .ventu-slider-slide-body .ventu-slider-type-button.ventu-slider-type-button--active .ventu-slider-type-button-label {
  background: #00e5a9;
  color: #03256b;
}
#ventu-slider-slide-area .ventu-slider-slide-body {
  padding-top: 38px;
}
#ventu-slider-slide-area .ventu-slider-slide-body span {
  vertical-align: top;
  padding: 4px;
  display: inline-block;
}
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker {
  display: inline-block;
  margin: 0 4px;
  height: 30px;
}
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker .ventu-slider-area-picker-label,
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker input {
  display: inline-block;
  padding: 4px 6px;
  background: #fff;
  color: #03256b;
  height: 30px;
  border: 0;
  vertical-align: top;
  font-size: 16px;
  line-height: 1.4;
}
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker input {
  width: 80px;
}
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker.ventu-slider-area-picker--picked .ventu-slider-area-picker-label,
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker.ventu-slider-area-picker--picked input {
  background: #00e5a9;
}
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker.ventu-slider-area-picker--error .ventu-slider-area-picker-label,
#ventu-slider-slide-area .ventu-slider-slide-body .ventu-slider-area-picker.ventu-slider-area-picker--error input {
  background: red;
}
#ventu-slider-slide-location .ventu-slider-slide-body {
  padding-top: 20px;
}
#ventu-slider-slide-location .ventu-slider-slide-body .ventu-search {
  border-bottom: 0 !important;
}
#ventu-slider-slide-location .ventu-slider-slide-body .ventu-search .ventu-search-results {
  top: calc(100% - 1px) !important;
}
#ventu-slider-slide-transactions .ventu-slider-slide-body {
  padding-top: 38px;
}
#ventu-slider-slide-transactions .ventu-slider-slide-body .ventu-slider-transaction-button {
  padding: 6px 24px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  background: #fff;
  border-right: 1px solid #ededec;
  color: #03256b;
}
#ventu-slider-slide-transactions .ventu-slider-slide-body .ventu-slider-transaction-button:last-child {
  border-right: 0;
}
#ventu-slider-slide-transactions .ventu-slider-slide-body .ventu-slider-transaction-button:hover {
  background: #ededec;
}
#ventu-slider-slide-transactions .ventu-slider-slide-body .ventu-slider-transaction-button.ventu-slider-transaction-button--active {
  background: #00e5a9;
}
#ventu-slider-slide-end .ventu-slider-slide-body .ventu-slider-slide-end-container {
  width: 220px;
  padding-top: 28px;
  margin: 20px auto 0 auto;
  height: 120px;
  background-image: url(img/tools/glass-results.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  animation-name: background-bounce;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}
@keyframes background-bounce {
  0% {
    background-size: 30%;
  }
  50% {
    background-size: 50%;
  }
  100% {
    background-size: 30%;
  }
}
@media (max-width: 767px) {
  .ventu-slider-slide-frame {
    height: 300px;
  }
  .ventu-slider-slide-frame .ventu-slider-navigation-button {
    top: auto;
    bottom: 0;
  }
  .ventu-slider-slide-frame .ventu-slider-navigation-button.ventu-slider-navigation-next {
    right: 0;
  }
  .ventu-slider-slide-frame .ventu-slider-navigation-button.ventu-slider-navigation-prev {
    left: 0;
  }
}
