.ventu-slider-header {
  height: 140px;
  text-align: center;
  color: #fff;
}
.ventu-slider-header .ventu-slider-header-section-labels {
  display: inline-block;
}
.ventu-slider-header .ventu-slider-header-section-labels .ventu-filter-label {
  cursor: default;
  transform: scale(0.01);
  transition: transform 0.2s ease;
}
.ventu-slider-header .ventu-slider-header-section-labels .ventu-filter-label.show-label {
  transform: scale(1);
}
@media (max-width: 767px) {
  .ventu-slider-header {
    height: 100px;
    text-align: left;
  }
  .ventu-slider-header .ventu-slider-header-section-text {
    font-size: 16px;
  }
}
