#ventu-modal {
  position: absolute;
  width: 400px;
  left: calc(50% - 200px);
  z-index: 10000;
  top: 200px;
  display: none;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#ventu-modal.error {
  color: #d9534f;
}
#ventu-modal #ventu-modal-close {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(img/tools/close-grey.svg);
  background-size: 100% 100%;
}
#ventu-modal #ventu-modal-search {
  display: none;
  margin-top: 40px;
}
