.ventu-search-open {
  float: right;
  width: 60px;
  height: 60px;
  background: #ededec;
  background-image: url(img/tools/glass-grey.svg);
  background-position: 50% 50%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}
.ventu-search-open .ventu-search-container {
  position: absolute;
  right: 100%;
  top: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}
.ventu-search-open.ventu-search-open--opened {
  background-image: url(img/tools/close-grey.svg);
}
.ventu-search-open.ventu-search-open--opened .ventu-search-container {
  width: 500px;
  overflow: visible;
}
@media (max-width: 1024px) {
  .ventu-search-open .ventu-search-container {
    position: fixed;
    left: 0;
    top: 60px;
    background: #fff;
    transition: none;
    border-top: 1px solid #cacaca;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  .ventu-search-open.ventu-search-open--opened .ventu-search-container {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .ventu-search-open {
    width: 40px;
    height: 40px;
  }
  .ventu-search-open .ventu-search-container {
    top: 40px;
  }
}
