.ventu-card-button-container .ventu-card-button {
  width: 64px;
  height: 64px;
  padding: 16px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  margin-right: 6px;
}
.ventu-card-button-container .ventu-card-button .ventu-card-button-icon {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.ventu-card-button-container .ventu-card-button-label {
  display: inline-block;
  vertical-align: top;
  padding-top: 18px;
  color: #17141f;
}
.ventu-card-button-container .ventu-card-button-label .ventu-card-button-label-word {
  display: inline-block;
  margin-right: 2px;
}
.ventu-card-button-container .ventu-card-button-label .ventu-card-button-label-number {
  display: inline-block;
}
.ventu-card-button-container:not(:last-child) {
  border-right: 1px solid #ededec;
}
.ventu-card-button-container.ventu-card-button--love:hover {
  background-color: rgba(46, 204, 113, 0.5);
}
.ventu-card-button-container.ventu-card-button--love .ventu-card-button-icon {
  background-color: #2ECC71;
  background-image: url(img/icons/buttons/love.svg);
}
.ventu-card-button-container.ventu-card-button--hate:hover {
  background-color: rgba(223, 0, 65, 0.5);
}
.ventu-card-button-container.ventu-card-button--hate .ventu-card-button-icon {
  background-color: #DF0040;
  background-image: url(img/icons/buttons/hate.svg);
}
.ventu-card-button-container.ventu-card-button--share:hover {
  background-color: rgba(0, 162, 255, 0.5);
}
.ventu-card-button-container.ventu-card-button--share .ventu-card-button-icon {
  background-color: #00A2FF;
  background-image: url(img/icons/buttons/share.svg);
}
.ventu-card-button-container.ventu-card-button--read-more:hover {
  background-color: rgba(255, 141, 0, 0.5);
}
.ventu-card-button-container.ventu-card-button--read-more .ventu-card-button-icon {
  background-color: #FF8D00;
  background-image: url(img/icons/buttons/read-more-down.svg);
}
.ventu-card-button-container.ventu-card-button--group:hover {
  background-color: rgba(131, 184, 198, 0.5);
}
.ventu-card-button-container.ventu-card-button--group .ventu-card-button-icon {
  background-color: #83B8C6;
  background-image: url(img/icons/buttons/group.svg);
}
.ventu-card-button-container.ventu-card-button--rating-good:hover {
  background-color: #ededec;
}
.ventu-card-button-container.ventu-card-button--rating-good .ventu-card-button-icon {
  background-image: url(img/icons/rating/good.svg);
}
.ventu-card-button-container.ventu-card-button--rating-good.ventu-card-button--rating--active .ventu-card-button-icon {
  background-image: url(img/icons/rating/good-active.svg);
}
.ventu-card-button-container.ventu-card-button--rating-neutral:hover {
  background-color: #ededec;
}
.ventu-card-button-container.ventu-card-button--rating-neutral .ventu-card-button-icon {
  background-image: url(img/icons/rating/neutral.svg);
}
.ventu-card-button-container.ventu-card-button--rating-neutral.ventu-card-button--rating--active .ventu-card-button-icon {
  background-image: url(img/icons/rating/neutral-active.svg);
}
.ventu-card-button-container.ventu-card-button--rating-bad:hover {
  background-color: #ededec;
}
.ventu-card-button-container.ventu-card-button--rating-bad .ventu-card-button-icon {
  background-image: url(img/icons/rating/bad.svg);
}
.ventu-card-button-container.ventu-card-button--rating-bad.ventu-card-button--rating--active .ventu-card-button-icon {
  background-image: url(img/icons/rating/bad-active.svg);
}
.ventu-card-button-container.ventu-card-button--rating--active {
  color: #164DC8;
  cursor: default!important;
}
.ventu-card-button-container.ventu-card-button--rating--active:hover {
  background-color: transparent;
}
