.ventu-card.ventu-card--float {
  width: 100%;
}
.ventu-card.ventu-card--float .ventu-card-image {
  width: 320px;
  float: left;
}
.ventu-card.ventu-card--float .ventu-card-text {
  float: right;
  width: calc(100% - 320px);
  padding: 0 18px;
}
.ventu-card.ventu-card--float .ventu-card-text .ventu-card-rating {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 51px;
  border-top: 1px solid #ededec;
  width: calc(100% - 320px);
}
.ventu-card.ventu-card--float .ventu-card-text .ventu-card-rating .ventu-card-button-container {
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  border: 0;
}
.ventu-card.ventu-card--float .ventu-card-text .ventu-card-rating .ventu-card-button-container .ventu-card-button {
  width: 25px;
  height: 25px;
  margin-top: 11px;
}
.ventu-card.ventu-card--float .ventu-card-buttons {
  width: 320px;
  clear: both;
  border-right: 1px solid #ededec;
  text-align: center;
}
.ventu-card.ventu-card--float .ventu-card-buttons .ventu-card-button {
  margin: 13px 6px 0 0;
  width: 20px;
  height: 20px;
  padding: 0;
}
@media (max-width: 767px) {
  .ventu-card.ventu-card--float {
    width: 100%;
  }
  .ventu-card.ventu-card--float .ventu-card-image {
    width: 100%;
    float: none;
  }
  .ventu-card.ventu-card--float .ventu-card-text {
    float: none;
    width: 100%;
  }
  .ventu-card.ventu-card--float .ventu-card-buttons {
    width: 100%;
    border-right: 0;
  }
}
