@import '../mixins';


#ventu-bottom-bar {
    height: 50px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);

    #ventu-bottom-bar-counter {
        background: @ventu-main-grey-light;
    }

    .ventu-bottom-bar-sub {
        border-right: 1px solid @ventu-main-grey-light;
        height: 100%;
        padding: 18px 30px;
        float: right;
        position: relative;

        .ventu-bottom-bar-sub-status {
            position: absolute;

            top: 0;
            height: 100%;
            content: '';
            z-index: 0;
        }

        &#ventu-bottom-bar-hate {

            .ventu-bottom-bar-sub-status {
                background: @ventu-color-hate-hover;
                right: 0;
            }
        }

        &#ventu-bottom-bar-love {

            .ventu-bottom-bar-sub-status {
                left: 0;
                background: @ventu-color-love-hover;
            }
        }

        .ventu-bottom-bar-sub-content {
            position: relative;
            z-index: 1;

            .ventu-bottom-bar-icon {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-size: 100% 100%;
                display: inline-block;

                &.ventu-bottom-bar-icon--love {
                    background-color: @ventu-color-love;
                    background-image: url(img/icons/buttons/love.svg);
                }

                &.ventu-bottom-bar-icon--hate {
                    background-color: @ventu-color-hate;
                    background-image: url(img/icons/buttons/hate.svg);
                }
            }

            .ventu-bottom-bar-label-container {
                width: 30px;
                height: 20px;
                display: inline-block;
                position: relative;
                vertical-align: top;
                transform-style: preserve-3d;
                -webkit-transform-style: preserve-3d;
                -webkit-perspective: 150px;
                perspective: 150px;
                -webkit-perspective-origin: 50% 50%;
                perspective-origin: 50% 50%;

                .venu-bottom-bar-label-rotor {
                    transform: translateZ(-5px) rotateX(0deg);
                    transition: all 0.8s ease;



                    .venu-bottom-bar-label-front {
                        -ms-transform: translateZ(-1px) translateY(0px);
                        -webkit-transform: translateZ(-1px) translateY(0px);
                        transform: translateZ(-1px) translateY(0px);

                    }

                    .venu-bottom-bar-label-back {
                        -ms-transform: translateZ(-5px) rotateY(180deg) rotateZ(180deg);
                        -webkit-transform: translateZ(-5px) rotateY(180deg) rotateZ(180deg);
                        transform: translateZ(-5px) rotateY(180deg) rotateZ(180deg);
                    }

                    .ventu-bottom-bar-label-text {
                        text-align: right;
                        background: #fff;
                    }
                }

                &.ventu-bottom-bar-label-container--rotated {

                    .venu-bottom-bar-label-rotor {
                        transform: translateZ(-5px) rotateX(180deg);
                    }
                }
            }

            .ventu-bottom-bar-label-text {
                width: 30px;
                height: 20px;
                padding: 2px;
                display: inline-block;
                vertical-align: top;
            }
        }



        &:last-child {
            border-right: 0;
        }
    }
}