@import '../mixins';


.ventu-filter-area-box {
    border: 1px solid @ventu-main-grey-light;
    display: inline-block;
    margin-right: 2px;
    height: 30px;
    padding: 0 4px;
    color: @ventu-color-secundary;

    input {
        border: 0;
        padding: 4px 0;
        color: @ventu-color-secundary;
        width: 42px;
        text-align: center;
        height: 28px;
    }
}