#ventu-filter-type {
  display: none;
}
.ventu-filter-box {
  display: inline-block;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: relative;
  cursor: default;
  vertical-align: top;
  max-width: 320px;
}
.ventu-filter-box:hover .ventu-filter-head {
  padding: 20px 40px 20px 20px;
}
.ventu-filter-box:hover .ventu-filter-head .ventu-filter-title {
  font-weight: 700;
}
.ventu-filter-box:hover .ventu-filter-edit {
  display: block;
}
.ventu-filter-box.filter-active .ventu-filter-head {
  padding: 20px !important;
  font-weight: 700;
}
.ventu-filter-box.filter-active .ventu-filter-title {
  font-weight: 700;
}
.ventu-filter-box:not(:first-child) {
  margin-left: -5px;
}
.ventu-filter-box:nth-child(1) {
  z-index: 4;
}
.ventu-filter-box:nth-child(2) {
  z-index: 3;
}
.ventu-filter-box:nth-child(3) {
  z-index: 2;
}
.ventu-filter-box:nth-child(4) {
  z-index: 1;
}
.ventu-filter-box .ventu-filter-head {
  transition: all 0.2s ease;
  padding: 10px;
}
.ventu-filter-box .ventu-filter-head .ventu-filter-title {
  display: inline-block;
}
.ventu-filter-box .ventu-filter-head .ventu-filter-summary {
  display: inline-block;
}
.ventu-filter-box .ventu-filter-edit {
  position: absolute;
  right: 10px;
  top: 16px;
  display: none;
}
.ventu-filter-box .ventu-filter-edit.hidden {
  display: none!important;
}
.ventu-filter-box .ventu-filter-body {
  display: none;
  position: relative;
}
.ventu-filter-box .ventu-filter-body .ventu-filter-body-content {
  padding: 20px;
}
.ventu-filter-box .ventu-filter-body .ventu-filter-body-content input {
  padding: 4px;
}
.ventu-filter-box .ventu-filter-body .ventu-filter-body-content span {
  vertical-align: top;
  line-height: 22px;
}
.ventu-filter-box .ventu-filter-body .ventu-filter-body-content .ventu-mini-map-set {
  margin-bottom: 12px;
}
.ventu-filter-box .ventu-filter-body .ventu-filter-body-content .ventu-mini-map-set .ventu-mini-map-body {
  display: inline-block;
  opacity: 0.3;
  transition: all 0.5s ease;
}
.ventu-filter-box .ventu-filter-body .ventu-filter-body-content .ventu-mini-map-set input {
  width: 30px;
}
.ventu-filter-box .ventu-filter-body .ventu-filter-body-content .ventu-mini-map-set.selected .ventu-mini-map-body {
  opacity: 1;
}
.ventu-filter-box .ventu-filter-body .ventu-filter-body-content .ventu-filter-toggle {
  padding: 10px;
  background: #ddd;
  display: inline-block;
  margin: 0 3px 3px 0;
  cursor: pointer;
}
.ventu-filter-box .ventu-filter-body .ventu-filter-body-content .ventu-filter-toggle.ventu-filter-toggle-active {
  background: #00e5a9;
}
.ventu-filter-box .ventu-filter-body .ventu-filter-buttons {
  border-top: 1px solid #727272;
  padding: 20px;
  margin-top: 20px;
  text-align: right;
}
.ventu-filter-box .ventu-filter-body .ventu-filter-buttons .ventu-filter-ready {
  cursor: pointer;
}
.ventu-filter-box .ventu-filter-body .ventu-filter-close {
  position: absolute;
  right: 10px;
  top: -44px;
}
#save-all-filter {
  display: none;
}
#save-all-filter .ventu-filter-body-content {
  text-align: right;
}
#save-all-filter .ventu-filter-body-content .ventu-filter-button {
  padding: 12px;
  margin-right: 10px;
}
.ventu-filter-button {
  padding: 4px 6px;
  background: #ddd;
  display: inline-block;
}
.ventu-filter-button:hover {
  background: #00e5a9;
}
@media (max-width: 768px) {
  .ventu-filter-box {
    max-width: 250px;
  }
}
@media (max-width: 767px) {
  #ventu-filters {
    height: calc(100% - 50px) !important;
    overflow: auto;
    border-bottom: 1px solid #727272;
    background: #fff;
  }
  #ventu-filters #ventu-filter-search-area.ventu-filter-box {
    display: none;
  }
  #ventu-filters #ventu-filter-type {
    display: block;
  }
  #ventu-filters .ventu-filter-box {
    display: block;
    box-shadow: none;
    max-width: 100%;
    border-bottom: 1px solid #727272;
    margin: 0;
  }
  #ventu-filters .ventu-filter-box .ventu-filter-head {
    padding: 20px !important;
  }
  #ventu-filters .ventu-filter-box .ventu-filter-head .ventu-filter-title {
    font-weight: 700;
  }
  #ventu-filters .ventu-filter-box .ventu-filter-head .ventu-filter-summary {
    display: none;
  }
  #ventu-filters .ventu-filter-box .ventu-filter-edit {
    display: none !important;
  }
  #ventu-filters .ventu-filter-box .ventu-filter-body {
    display: block;
  }
  #ventu-filters .ventu-filter-box .ventu-filter-body .ventu-filter-body-content {
    padding: 20px;
  }
  #ventu-filters .ventu-filter-box .ventu-filter-body .ventu-filter-body-content input {
    padding: 4px;
  }
  #ventu-filters .ventu-filter-box .ventu-filter-body .ventu-filter-body-content span {
    vertical-align: top;
    line-height: 22px;
  }
  #ventu-filters .ventu-filter-box .ventu-filter-body .ventu-filter-body-content .ventu-mini-map-set {
    margin-bottom: 12px;
  }
  #ventu-filters .ventu-filter-box .ventu-filter-body .ventu-filter-body-content .ventu-mini-map-set .ventu-mini-map-body {
    display: inline-block;
    opacity: 0.3;
    transition: all 0.5s ease;
  }
  #ventu-filters .ventu-filter-box .ventu-filter-body .ventu-filter-body-content .ventu-mini-map-set input {
    width: 30px;
  }
  #ventu-filters .ventu-filter-box .ventu-filter-body .ventu-filter-body-content .ventu-mini-map-set.selected .ventu-mini-map-body {
    opacity: 1;
  }
  #ventu-filters .ventu-filter-box .ventu-filter-body .ventu-filter-buttons {
    display: none;
  }
  #ventu-filters .ventu-filter-box .ventu-filter-body .ventu-filter-close {
    display: none;
  }
  #ventu-filters #save-all-filter {
    display: block;
  }
}
