@import '../mixins';


#ventu-filters {

    #ventu-filter-content {
        height: ~'calc(100% - 121px)';
        overflow: auto;
    }

    #ventu-filter-tools {
        height: 121px;
        border-top: 1px solid @ventu-main-grey-light;
    }
}

.ventu-filter-section {
    border-bottom: 1px solid @ventu-main-grey-light;
    padding: 16px;
    font-family: ProximaNova;

    h5 {
        text-align: center;
    }

    .ventu-filter-header {
        position: relative;

        .ventu-filter-read-more {
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            padding-right: 14px;

            &:after {
                width: 8px;
                height: 5px;
                background-size: 100% 100%;
                content: '';
                position: absolute;
                right: 0;
                top: 6px;
                background-image: url(img/tools/arrow-down.svg);
            }

            &.ventu-filter-read-more--open {

                &:after {
                    background-image: url(img/tools/arrow-up.svg);
                }

                .ventu-filter-read-more-label {

                    .ventu-filter-read-more-label--close {
                        display: none;
                    }

                    .ventu-filter-read-more-label--open {
                        display: block;
                    }
                }
            }

            .ventu-filter-read-more-label {
                text-align: right;

                .ventu-filter-read-more-label--close {
                    display: block;
                }

                .ventu-filter-read-more-label--open {
                    display: none;
                }
            }
        }
    }

    .ventu-filter-label-container {
        margin-top: 16px;

        .ventu-filter-label {

        }
    }


    .ventu-filter-full-text-container {
        overflow: hidden;
        transition: all 0.2s ease;

        .ventu-filter-full-text {
            border-top: 1px solid @ventu-main-grey-light;
            padding: 16px 0;
            margin-top: 16px;

            .ventu-filter-button {
                padding: 10px 12px 0 12px;
                height: 35px;
                margin-bottom: 3px;
                cursor: pointer;
                position: relative;

                &::first-letter {
                    text-transform: capitalize;
                }

                &:after {
                    position: absolute;
                    right: 12px;
                    top: 5px;
                    width: 25px;
                    height: 25px;
                    content: '';
                    background-size: 100% 100%;
                }

                &:hover {
                    background: @ventu-main-grey-light;
                }

                &.ventu-filter-button--active {
                    background: @ventu-color-primary;
                    color: @ventu-color-secundary;
                }

                &.ventu-filter-button--office:after {
                    background-image: url(img/icons/types/office-grey.svg);
                }

                &.ventu-filter-button--business:after {
                    background-image: url(img/icons/types/business-grey.svg);
                }

                &.ventu-filter-button--shop:after {
                    background-image: url(img/icons/types/shop-grey.svg);
                }

                &.ventu-filter-button--catering:after {
                    background-image: url(img/icons/types/catering-grey.svg);
                }

                &.ventu-filter-button--other:after {
                    background-image: url(img/icons/types/other-grey.svg);
                }

                &.ventu-filter-button--leisure:after {
                    background-image: url(img/icons/types/leisure-grey.svg);
                }

                &.ventu-filter-button--land:after {
                    background-image: url(img/icons/types/land-grey.svg);
                }

                &.ventu-filter-button--distribution:after {
                    background-image: url(img/icons/types/distribution-grey.svg);
                }

                &.ventu-filter-button--workplace:after {
                    background-image: url(img/icons/types/workplace-grey.svg);
                }

                &.ventu-filter-button--social:after {
                    background-image: url(img/icons/types/social-grey.svg);
                }

                &.ventu-filter-button--education:after {
                    background-image: url(img/icons/types/education-grey.svg);
                }

                &.ventu-filter-button--parking:after {
                    background-image: url(img/icons/types/parking-grey.svg);
                }

                &.ventu-filter-button--agricultural:after {
                    background-image: url(img/icons/types/agricultural-grey.svg);
                }

            }

            .ventu-filter-search-type-button {
                cursor: pointer;
                padding-left: 16px;
                position: relative;

                &:after {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 10px;
                    text-align: center;
                    content: '';
                    font-size: 20px;
                }

                &.ventu-filter-search-type-button--active {

                    &:after {
                        content: 'x';
                    }
                }

                &:hover {

                    .ventu-filter-search-type-label {
                        background: @ventu-main-grey-light;
                    }

                }

                .ventu-filter-search-type-image {
                    display: inline-block;
                    margin-right: 6px;

                    img {
                        width: 25px;
                        height: auto;
                    }
                }

                .ventu-filter-search-type-label {
                    display: inline-block;
                    vertical-align: top;
                    padding: 6px;

                    input {
                        width: 30px;
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    .ventu-filter-passive-text {
        color: @ventu-main-grey-dark;
        font-style: italic;
    }

    &:last-child {
        border-bottom: 0;
    }
}