/* main color 1 */
.ventu-map-tools {
  background: red;
}
.ventu-map-circle:hover {
  border: 2px solid red;
}
@keyframes ventu-loading {
  0% {
    border: 2px solid red;
  }
  50% {
    border: 5px solid #727272;
  }
  100% {
    border: 2px solid red;
  }
}
.ventu-map-circle-handle:hover {
  border: 2px solid red;
}
.ventu-single-tools {
  background: red;
}
.ventu-favorites-counter {
  background: red;
}
.ventu-triangle-bottom.ventu-triangle-green:after {
  border-bottom: 17px solid red;
}
.ventu-triangle-top.ventu-triangle-green:after {
  border-top: 17px solid red;
}
.ventu-triangle-left.ventu-triangle-green:after {
  border-left: 17px solid red;
}
.ventu-triangle-right.ventu-triangle-green:after {
  border-right: 17px solid red;
}
/* dark variation */
.ventu-single-tools .ventu-icon {
  color: darkred;
}
/* light variation */
.ventu-counter {
  background: #f88;
}
/* main color 2 */
.ventu-slider .slider-selection {
  background: purple;
}
.ventu-slider .tooltip.top .tooltip-arrow {
  border-top-color: purple;
}
.ventu-slider .tooltip.bottom .tooltip-arrow {
  border-bottom-color: purple;
}
.ventu-slider .tooltip-inner {
  background: purple;
}
.btn-main-color-2 {
  color: #fff;
  background: purple;
}
.navbar-default .navbar-nav > li > a {
  color: purple;
}
/* dark variation */
.btn-main-color-2:hover {
  color: #fff;
  background: #550055;
}
