* {
    box-sizing: border-box;
}

input {
    font-size: 12px;
    color: @ventu-black;
    outline: none;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}