@import '../mixins';

.ventu-slider-header {
    height: 140px;
    text-align: center;
    color: #fff;

    .ventu-slider-header-section-labels {
        display: inline-block;

        .ventu-filter-label {
            cursor: default;
            transform: scale(0.01);
            transition: transform 0.2s ease;
            margin-left: 4px;

            &.show-label {
                transform: scale(1);
            }
        }
    }
}


@media (max-width: 767px) {

    .ventu-slider-header {
        height: 100px;
        text-align: left;

        .ventu-slider-header-section-text {
            font-size: 16px;
        }
    }

}