.ventu-discover-icon-container {
  margin: 50px 0;
}
.ventu-discover-icon-container .ventu-discover-icon {
  display: inline-block;
  margin: 0 25px;
}
.ventu-discover-icon-container .ventu-discover-icon img {
  width: 45px;
  height: auto;
  display: block;
}
