#ventu-features ol,
#ventu-features-icons ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#ventu-features ol li,
#ventu-features-icons ol li {
  margin: 0 20px 10px 0;
}
#ventu-features ol li img,
#ventu-features-icons ol li img {
  margin-right: 8px;
}
section.features,
section.parties {
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 40px;
  padding-bottom: 20px;
}
section.features h4,
section.parties h4 {
  padding: 20px 20px 0 20px;
  margin: 0;
}
section.features h5,
section.parties h5 {
  padding: 0;
  margin: 0;
}
section.features ol {
  list-style-type: none;
  padding: 0;
  line-height: 1.88;
  margin-left: 20px;
}
section.features a.button {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  display: block;
}
section.features a.button,
section.proximity a.button {
  color: #ffffff;
}
section.features .divider,
section.parties .divider {
  margin: 20px 0;
}
@media (min-width: 768px) {
  ol.features li {
    float: left;
    margin-bottom: 0;
  }
  div.background,
  div.background::before {
    min-height: 346.5px;
  }
  .news-text {
    margin: 0 auto;
    max-width: 60%;
  }
}
