.ventu-inspiration {
  height: 280px;
  background-size: cover;
  position: relative;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  display: block;
  width: 100%;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 0.2s ease;
  opacity: 1;
}
.ventu-inspiration::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
}
.ventu-inspiration::after {
  position: absolute;
  width: 70px;
  height: 54px;
  content: '';
  background-image: url(img/identity/ventu-icon--inspiration.png);
  z-index: 1;
  left: calc(50% - 35px);
  top: 30%;
}
.ventu-inspiration:hover::before {
  background: rgba(3, 37, 107, 0.8);
}
.ventu-inspiration .ventu-inspiration-text {
  position: absolute;
  left: 0;
  width: 100%;
  top: calc(30% + 74px);
}
.ventu-inspiration .ventu-inspiration-text h3 {
  text-align: center;
  color: #fff;
  max-width: 300px;
  margin: 0 auto;
}
