#ventu-location .ventu-location-legend {
  margin-top: 40px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section {
  margin-bottom: 20px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section h55 {
  margin-bottom: 10px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section .switch-wrapper {
  margin-bottom: 6px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section .switch-wrapper img {
  margin-right: 20px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section .legenda-wrapper {
  margin-bottom: 2px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section .legenda-wrapper img {
  margin-right: 6px;
}
#ventu-location .real-estate-mix {
  margin-top: 40px;
}
