#ventu-location h4 {
  margin: 20px 0 10px 0;
}
#ventu-location .switch-wrapper {
  margin-bottom: 6px;
}
#ventu-location .switch-wrapper img {
  margin-right: 20px;
}
#ventu-location .legenda-wrapper {
  margin-bottom: 2px;
}
#ventu-location .legenda-wrapper img {
  margin-right: 6px;
}
#ventu-location .real-estate-mix {
  margin-top: 40px;
}
@media (min-width: 1200px) {
  #ventu-location #map-postcode {
    margin-top: 40px;
  }
}
