#ventu-location .ventu-location-legend {
  margin-top: 40px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section {
  margin-bottom: 20px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section h4 {
  margin: 20px 0 10px 0;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section .switch-wrapper {
  margin-bottom: 6px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section .switch-wrapper img {
  margin-right: 20px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section .legenda-wrapper {
  margin-bottom: 2px;
}
#ventu-location .ventu-location-legend .ventu-location-legend-section .legenda-wrapper img {
  margin-right: 6px;
}
#ventu-location .real-estate-mix {
  margin-top: 40px;
}
@media (min-width: 1200px) {
  #ventu-location #map-postcode {
    margin-top: 40px;
  }
}
