nav.navbar-default {
  border: 0!important;
  margin: 0;
  background: #00e5a9 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
nav.navbar-default .navbar-header .navbar-brand {
  padding: 0;
}
nav.navbar-default .navbar-header .navbar-toggle {
  border-radius: 0;
  border: 0;
  padding: 20px;
  margin: 0;
  width: 60px;
  height: 60px;
  background: white;
}
nav.navbar-default .navbar-header .navbar-toggle:hover {
  background: #00e5a9;
}
nav.navbar-default .navbar-header .navbar-toggle .icon-bar {
  border-radius: 0;
  background-color: #03256b;
  height: 3px;
}
nav.navbar-default #navbar {
  height: 100%;
}
nav.navbar-default #navbar ul {
  height: 100%;
  margin: 0;
}
nav.navbar-default #navbar ul li {
  display: block;
  height: 100%;
  background: #fff;
  border-left: 1px solid #ededec;
}
nav.navbar-default #navbar ul li:hover {
  background: #ededec;
}
nav.navbar-default #navbar ul li a {
  padding: 20px 24px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
  color: #03256b;
  display: block;
  height: 100%;
  font-family: 'ProximaNova';
}
nav.navbar-default #navbar ul li a.ventu-nav-icon-button {
  height: 60px;
  padding: 17px 12px;
}
nav.navbar-default #navbar ul li a.ventu-nav-icon-button .ventu-nav-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: 100% 100%;
}
nav.navbar-default #navbar ul li a.ventu-nav-icon-button .ventu-nav-label {
  color: #03256b;
  display: inline-block;
  vertical-align: top;
  padding: 4px 0 0 4px;
}
nav.navbar-default #navbar ul li a.ventu-nav-icon-button.ventu-nav-button--hangout-lists .ventu-nav-icon {
  background-image: url(img/icons/hangout/list-grey.svg);
}
@media (max-width: 767px) {
  nav.navbar-default {
    background: transparent!important;
    box-shadow: none;
  }
  nav.navbar-default .navbar-header {
    background: #00e5a9 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  }
  nav.navbar-default #navbar ul li {
    background: transparent;
    border-left: none;
  }
  nav.navbar-default #navbar ul:hover {
    background: transparent;
  }
}
