body {
    background: @ventu-main-grey-2;
    font-size: 16px;
    line-height: 1.25;
    color: @ventu-black;
    font-family: 'Alegreya Sans';
}



@media (max-width: 1024px) {

    // overwrite bootstrap settings
    // container is full width, padding is arranged with .ventu-block
    .container {
        width: 100%;
        overflow: hidden;
    }

}