.ventu-card {

    &.ventu-card--static {
        cursor: default;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
    }
}


@media (max-width: 767px) {

    .ventu-card {


        &.ventu-card--static {
            width: 320px;
            height: 360px;
        }
    }

}