#ventu-footer {
    padding-top: 0;

    a {
        font-family: ProximaNova;
        color: @ventu-black;
        text-decoration: none;

        &:hover {
            color: @ventu-color-2;
            text-decoration: underline;
        }
    }

    #ventu-footer-menu {
        padding: 32px 0;
        text-align: center;
        border-bottom: 1px solid @ventu-main-grey-2;


    }

    #ventu-footer-direct-links {

        h2 {
            font-size: 30px;
            font-weight: 700;
            line-height: 0.67;
            color: @ventu-color-2;
        }
    }

}