.ventu-home-block {
    padding: 80px 40px;

    &.ventu-home-block--with-background {
        background-size: cover;
    }

    &.ventu-home-block--grey {
        background: #ebebeb;
    }

    .ventu-home-block-header {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;

        &.ventu-home-block-header--left {
            text-align: left;
        }



        .ventu-home-block-header-text {
            margin-bottom: 40px;

            h1 {
                font-weight: 700;
                margin: 0 0 20px 0;
                padding: 0;
                font-size: 60px;
                line-height: 1;
                color: @ventu-color-2;
            }

            h2 {
                font-weight: 700;
                margin: 0 0 20px 0;
                padding: 0;
                font-size: 40px;
                color: @ventu-color-2;
            }

            h5 {
                font-size: 20px;
                line-height: 1.25;
                color: @ventu-black;
                margin: 0;
            }

            h6 {
                font-size: 16px;
                line-height: 1.25;
                color: @ventu-black;
                margin: 0;
            }

            &.ventu-home-block-header-text--white {


                h1, h2, h5, h6 {
                    color: #fff;
                }
            }
        }
    }
}