#ventu-chat-entry {
    height: 800px;
    background-image: url('../img/home/ventu-samen-map.jpg');

    .ventu-chat-pins-container {
        position: relative;
    }
}

#ventu-search-entry{
    height: 800px;
    background-image: url('../img/home/skyline.png');
    background-size: contain!important;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

#ventu-discover-entry{
    height: 800px;
    background-image: url('../img/home/discover-bg.jpg');
}

#ventu-dialog-entry {
    height: 800px;
    background-image: url('../img/home/discover-bg.jpg');
}

.ventu-home-content {
    background: #fff;
    font-size: 16px;
    line-height: 1.25;
    color: @ventu-black;
}


