@import '../mixins';

nav.navbar-default {
    height: 60px;
    border: 0!important;
    margin: 0;
    width: 100%;
    background: @ventu-color-1!important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);

    .navbar-header {

        .navbar-brand {
            padding: 0;

            .ventu-identity {
                display: inline-block;
                background-image: url('../img/identity/ventu-logo-small.png');
                background-size: cover;
                width: 153px;
                height: 60px;
                margin-right: 20px;
            }
        }

        .navbar-toggle {
            border-radius: 0;
            border: 1px solid @ventu-black;
            margin-top: 21px;
            margin-right: 18px;
            padding: 6px;

            &:hover {
                background: white;

            }

            .icon-bar {
                border-radius: 0;
                background-color: @ventu-black;
                height: 1px;
            }
        }
    }

    #navbar {
        height: 100%;

        ul {
            height: 100%;

            li {
                border-left: 1px solid @ventu-menu-bar-grey;
                display: block;
                height: 100%;
                background: #fff;

                &:hover {
                    background: @ventu-menu-bar-grey;
                }

                a {
                    padding: 20px 24px;
                    font-size: 14px;
                    font-weight: 500;
                    transition: all 0.2s ease;
                    color: @ventu-color-2;

                    display: block;
                    height: 100%;
                    font-family: 'ProximaNova';
                }

                .dropdown-menu {
                    background-color: #fff;
                    border: 0;
                    height: auto;
                    border-radius: 0;
                    padding: 0;

                    li {
                        border-left: 0;
                        border-bottom: 1px solid #ddd;

                        &:hover {
                            background: transparent;
                        }

                        a {
                            padding: 16px 32px;
                            height: auto;

                            &:hover {
                                background: @button-hover-color;
                            }
                        }
                    }
                }
            }
        }
    }

}


@media (max-width: 1024px) {

    // make navbar collapse on this breakpoint already

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    nav.navbar {
        min-height: 63px;

        #navbar {
            clear: both;
            width: 100%;
            float: none;
            overflow: auto;
            background: #fff;
            border-top: @ventu-border-1;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);

            ul {
                li {
                    border-bottom: 1px solid #ddd;

                    &:hover {
                        background: transparent;
                    }

                    &:last-child {
                        border-bottom: 0 !important;
                    }

                    a {
                        padding: 16px 32px;
                        height: auto;

                        &:hover {
                            background: @button-hover-color;
                        }
                    }

                    .dropdown-menu {
                        a {
                            padding: 8px 32px 8px 48px !important;
                        }
                    }

                }
            }
        }
    }
}


@media (max-width: 768px) {

    nav.navbar {
        min-height: 50px;

        .navbar-header {

            .navbar-brand {

                .ventu-identity {
                    background-image: url('../img/ventu-icon.png');
                    width: 50px;
                    height: 50px;
                    margin-right: 12px;
                }
            }

            #ventu-type-picker {
                margin-top: 10px;
            }

            .ventu-map-search {
                margin-top: 10px;
                width: 200px;
            }

            .ventu-search-results-feedback {
                margin-top: 20px;
            }

            .navbar-toggle {
                margin-top: 13px;
                margin-right: 14px;
            }
        }
    }

}



@media (max-width: 767px) {





    nav.navbar {

        .navbar-header {

            #ventu-type-picker {
                display: none;
            }




            .ventu-search-results-feedback {
                position: fixed;
                left: 12px;
                bottom: 16px;
                font-weight: 700;
            }
        }
    }
    
    .to-filter .ventu-search-results-feedback {
        display: none!important;
    }


}