.ventu-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 10000;
}

.ventu-popup {
    margin: 100px auto;
    background: #fff;
    position: relative;
    display: none;

    &.ventu-login {
        width: 350px;
    }

    &.ventu-settings {
        width: 300px;
    }

    .ventu-popup-head {
        padding: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        h2 {
            margin: 0;
            font-weight: 700;
            font-size: 30px;
        }
    }

    .ventu-popup-body {
        padding-bottom: 30px;

        .dropdown-menu {
            border-top: 0;
            border-radius: 0;
            box-shadow: none;
            display: block!important;
            float: none;
            position: relative;

            li {

                a {

                    padding: 8px 32px;

                    &:hover {
                        background: @button-hover-color;
                    }
                }


            }
        }

        &.with-padding {
            padding: 30px;
        }
    }
}

.ventu-close-popup {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 24px;
    width: 32px;
    height: 32px;
    text-align: center;
    padding-top: 8px;
    border-radius: 16px;

    &:hover {
        background: #ddd;
        color: #000;
    }
}


@media (max-width: 767px) {

    .ventu-overlay {

        .ventu-popup {
            margin: 40px auto;
            max-width: ~'calc(100% - 40px)';

            &.ventu-login {
                width: 350px;
            }

            &.ventu-settings {
                width: 300px;
            }
        }
    }

}
