@import '../mixins';

.ventu-list-counter {

    padding: 4px 6px;
    color: #fff;
    display: inline-block;

    &.love {
        background: @ventu-color-love;
    }

    &.hate {
        background: @ventu-color-hate;
    }
}

.ventu-bottom-bar-sub {
    position: absolute;
    top: ~'calc(100% - 44px)';
    padding: 0 20px 14px 20px;
    display: inline-block;
    float: right;
    height: 800px;
    background: #fff;
    border: @ventu-border-1;
    transition: all 0.5s ease;
    margin-right: -1px;
    width: 320px;
    transform: translateY(0) translateZ(0);

    &.ventu-bottom-bar-sub-love {
        right: -70px;
    }

    &.ventu-bottom-bar-sub-hate {
        right: 249px;
    }

    &.ventu-bottom-bar-sub.selected{
        animation: shift-under 0.5s 1;
        -webkit-animation: shift-under 0.5s 1;
        -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;

        .ventu-bottom-bar-catcher {
            width: 100%;
            height: 223px; // 276px * 0.8 +2
            margin: 0;
        }
    }

    &:hover {
        animation: move-over 0.5s 1;
        -webkit-animation: move-over 0.5s 1;
        -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
    }

    .ventu-bottom-bar-header {
        margin-bottom: 20px;
        cursor: default;

        .ventu-list-label {
            display: inline-block;
            padding-top: 10px;
            margin-right: 4px;
        }
    }

    .ventu-bottom-bar-catcher {
        border: 1px dashed #333;
        width: 59px;
        height: 59px;
        margin: 5px;
        float: left;
        transition: all 0.2s ease;
        position: relative;

        .ventu-card {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;

            .ventu-card-buttons {
                border: 0;
            }
        }
    }

    .ventu-bottom-bar-list {

        .ventu-bottom-bar-list-item {
            width: 59px;
            height: 59px;
            background: #fff;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
            float: left;
            margin: 5px;
            position: relative;

            .ventu-bottom-bar-list-item-image {
                height: 60%;
                background-size: cover;
                background-position: center center;
            }
        }

        .ventu-list-more {
            display: inline-block;
            width: 36px;
            height: 36px;
            border-radius: 18px;
            background: @ventu-main-grey;
            color: #fff;
            text-align: center;
            padding-top: 10px;
            margin: 15px 12px 0 12px;
        }
    }
}

#to-filter {
    position: absolute;
    right: 100px;
    top: 10px;
    display: none;
    cursor: pointer;

    .ventu-icon {
        border: 1px solid @ventu-black;
    }

    &:hover .ventu-text-along-icon {
        border-bottom: 1px solid @ventu-black
    }
}


a.ventu-to-list {
    position: fixed;
    bottom: 9px;
    color: #000;
    padding-bottom: 2px;
    border-bottom: 1px solid #333;

    &:hover {
        text-decoration: none;
    }

    &.ventu-to-list-love {
        right: 75px;
    }

    &.ventu-to-list-hate {
        right: 404px;
    }
}



@media (max-width: 767px) {

    #ventu-bottom-bar {
        height: 50px;
        background: transparent;
        left: 0;
        right: auto;
        transform-style: flat;
        -webkit-transform-style: flat;
        width: 100%;

        .ventu-list-counter {
            display: inline-block;
            position: absolute;
            top: 10px;
            height: 30px;
            width: 30px;
            border-radius: 15px;
            text-align: center;
            padding-top: 7px;

            &.love {
                background: @ventu-color-love;
                right: 20px;
            }

            &.hate {
                background: @ventu-color-hate;
                right: 60px;
            }
        }

        #to-filter {
            display: block;
        }
    }

}