@import '../mixins';


.ventu-avatar-image {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    vertical-align: top;

    &.ventu-avatar-image--big {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    &.ventu-avatar-image--no-avatar {
        background-color: @ventu-main-grey-light;
        background-image: url(img/icons/hangout/no-avatar-grey.svg);
    }

    &.ventu-avatar-image--empty-profile {
        background-image: url(img/icons/hangout/emptyprofile-white.svg);
        cursor: pointer;

        &:hover {
            background-color: @ventu-main-grey-dark;
        }
    }
}

@media (max-width: 767px) {

    .ventu-avatar-image {
        width: 30px;
        height: 30px;
    }
}