@import '../mixins';

.btn {
    border-radius: 20px;
    height: 40px;
    font-size: 16px;
    line-height: 1;
    padding: 12px 20px;
    border: 0;
    cursor: pointer;
    transition: all 0s ease;
    color: #fff;
    display: inline-block;
    background: @ventu-active-button;
    box-shadow: 1px 1px 0 #E38625;
    margin-bottom: 1px;
    text-decoration: none;

    &:hover {
        background: @ventu-active-button-hover;
        color: #fff;
    }

    &.btn-big {
        padding: 8px 16px;
        color: #fff;
        display: inline-block;
        vertical-align: top;
    }

    &.btn-sm {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        height: 26px;
        border-radius: 13px;
    }
}
