@import '../mixins';


.ventu-communication-screen {
    border-top: 1px solid @ventu-main-grey-light;
    padding: 40px 0 60px 0;

    .ventu-man-container {

        .ventu-man {
            width: 100px;
            height: 100px;
            background-image: url(img/illustrations/ventu-man-100px.png);
            background-size: 100% 100%;
            position: relative;

            .ventu-man-icon {
                position: absolute;
                left: 90px;
                top: 20px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-size: 100% 100%;

                &.ventu-man-icon--account {
                    background-color: @ventu-main-grey-light;
                    background-image: url(img/icons/no-avatar.svg);
                }
            }

            .ventu-chat-balloon-container {
                top: 57px;
                left: 80px;
                width: 420px;
            }
        }
    }
}

@media (max-width: 520px) { // this is the size of the .ventu-sign-in-container

    .ventu-communication-screen {


        .ventu-man-container {

            .ventu-man {

                .ventu-chat-balloon-container {

                    width: ~'calc(100% - 100px)';
                }
            }
        }
    }

}