@import '../mixins';

.divider {
    border-bottom: @ventu-divider-border;
    margin: 20px 0;
}

section.section--small-padding {

    .divider {
        margin-left: -20px;
        margin-right: -20px;
    }
}