.ventu-features {
    padding: 10px 0;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0 20px 10px 0;
            height: 16px;
            padding-left: 20px;
            position: relative;
            display: inline-block;

            &:after {
                position: absolute;
                left: 0;
                top: 2px;
                width: 12px;
                height: 12px;
                background-size: 100% 100%;
                content: '';
            }

            &.ventu-features-objectusage-1:after {
                background-image: url(img/icons/types/office-grey.svg);
            }

            &.ventu-features-objectusage-2:after {
                background-image: url(img/icons/types/business-grey.svg);
            }

            &.ventu-features-objectusage-3:after {
                background-image: url(img/icons/types/shop-grey.svg);
            }

            &.ventu-features-objectusage-4:after {
                background-image: url(img/icons/types/catering-grey.svg);
            }

            &.ventu-features-objectusage-5:after {
                background-image: url(img/icons/types/other-grey.svg);
            }

            &.ventu-features-objectusage-6:after {
                background-image: url(img/icons/types/leisure-grey.svg);
            }

            &.ventu-features-objectusage-8:after {
                background-image: url(img/icons/types/land-grey.svg);
            }

            &.ventu-features-objectusage-9:after {
                background-image: url(img/icons/types/distribution-grey.svg);
            }

            &.ventu-features-objectusage-10:after {
                background-image: url(img/icons/types/workplace-grey.svg);
            }

            &.ventu-features-objectusage-11:after {
                background-image: url(img/icons/types/social-grey.svg);
            }

            &.ventu-features-objectusage-12:after {
                background-image: url(img/icons/types/education-grey.svg);
            }

            &.ventu-features-objectusage-13:after {
                background-image: url(img/icons/types/parking-grey.svg);
            }

            &.ventu-features-objectusage-14:after {
                background-image: url(img/icons/types/agricultural-grey.svg);
            }





            &.ventu-features-area:after {
                background-image: url(img/icons/features/area.svg);
            }

            &.ventu-features-price:after {
                background-image: url(img/icons/features/price.svg);
            }

            &.ventu-features-location:after {
                background-image: url(img/icons/features/location.svg);
            }
        }
    }
}