@import '../mixins';


.ventu-icon {
    border-radius: 50%;
    cursor: pointer;
    background-size: 100% 100%;

    &.ventu-icon--in-text {
        width: 20px;
        height: 20px;
        cursor: default;
        display: inline-block;
        vertical-align: top;
    }

    &.ventu-icon--add {
        background-color: @ventu-color-share;
        color: #fff;
        background-image: url(img/icons/buttons/plus.svg);
    }
}

