@import '../mixins';


.ventu-icon {
    border-radius: 50%;
    cursor: pointer;
    background-size: 100% 100%;

    &.ventu-icon--in-text {
        width: 20px;
        height: 20px;
        cursor: default;
        display: inline-block;
        vertical-align: top;
    }

    &.ventu-icon--add {
        background-color: @ventu-color-share;
        color: #fff;
        background-image: url(img/icons/buttons/plus.svg);
    }

    &.ventu-icon--love {
        background-color: @ventu-color-love;
        color: #fff;
        background-image: url(img/icons/buttons/love.svg);
    }

    &.ventu-icon--hate {
        background-color: @ventu-color-hate;
        color: #fff;
        background-image: url(img/icons/buttons/hate.svg);
    }

    &.ventu-icon--read-more {
        background-color: @ventu-color-details;
        color: #fff;
        background-image: url(img/icons/buttons/read-more-down.svg);
    }

    &.ventu-icon--share {
        background-color: @ventu-color-share;
        color: #fff;
        background-image: url(img/icons/buttons/share.svg);
    }
}

