@import '../mixins';


.aspect16by9 {
    background-color: @ventu-black;
    display: block;
    height: auto;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;

    img {
        bottom: 0;
        display: block;
        left: 0;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}