@import '../mixins';

.ventu-chat-pin {
    position: absolute;
    width: 83px;
    height: 91px;
    background-image: url(img/chat/pin.png);
    background-size: 100% 100%;
    padding: 10px 0 0 9px;

    .ventu-chat-pin-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-size: cover;
    }
}

