@import '../mixins';


.ventu-search-common {
    background: #fff;
    border-radius: 4px;
    position: relative;
    height: 32px;

    &:after {
        position: absolute;
        left: 9px;
        top: 9px;
        width: 14px;
        height: 14px;
        background-image: url(img/tools/glass-grey.svg);
        background-size: 100% 100%;
        content: '';
    }

    input {
        width: ~'calc(100% - 40px)';
        position: absolute;
        left: 32px;
        height: 32px;
        background: transparent;
        border: 0;
        padding: 4px;
        color: @ventu-black;
        font-family: ProximaNova;
        font-weight: 300;
    }
}