.ventu-hangout-add-member.ventu-popup {

    input {
        display: inline-block;
        margin-bottom: 10px;
    }

    #messages {

        ul {
            list-style-type: none;
            margin-top: 20px;
            padding-left: 0;
        }
    }

    .externalMemberContainer{
        margin-top:20px;
    }
}