@import '../mixins';


.ventu-hangout-tools {
    margin: 30px 90px 20px 90px;

    .ventu-hangouts-tools-search {
        height: 32px;

        .ventu-search-common {
            width: ~'calc(100% - 50px)';
            float: left;
        }

        .ventu-sort {
            width: 43px;
            height: 32px;
            cursor: pointer;
            float: right;
            background: #fff;
            border-radius: 4px;
            background-image: url(img/tools/sort-grey.svg);
            background-position: 50% 50%;
            background-size: 20px 20px;
            background-repeat: no-repeat;
        }
    }

    .ventu-hangout-tools-sort {
        text-align: center;
        margin-top: 30px;
        color: #fff;

        .ventu-hangout-tools-sort-button {
            color: #fff;
            margin-left: 40px;
            display: inline-block;
            text-decoration: underline;
            position: relative;

            &:hover {
                color: @ventu-black!important;
            }

            &.ventu-hangout-tools-sort-button--active {
                text-decoration: none;
                font-weight: 700;

                &:after {
                    position: absolute;
                    right: -14px;
                    top: 6px;
                    width: 8px;
                    height: 8px;
                    background-size: 100% 100%;

                    content: '';
                }

                &.ventu-hangout-tools-sort-button--active-down {

                    &:after {
                        background-image: url(img/tools/arrow-down-white.svg);
                    }

                }

                &.ventu-hangout-tools-sort-button--active-up {

                    &:after {
                        background-image: url(img/tools/arrow-up-white.svg);
                    }
                }

                &:hover {
                    color: #fff!important;
                }

            }
        }

    }
}

@media (max-width: 767px) {

    .ventu-hangout-tools {

        .ventu-hangout-tools-sort {
            width: 43px;
            height: 32px;
            cursor: pointer;
            float: right;
            background: #fff;
            border-radius: 4px;
            background-image: url(img/tools/sort-grey.svg);
            background-position: 50% 50%;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            content: '';
        }
    }

}