@import '../mixins';


#ventu-hangout-list {
    padding-top: 60px!important;

    &.ventu-hangout-list-love {
        .ventu-hangout-list-header {
            background: @ventu-color-love;
        }
    }

    &.ventu-hangout-list-hate {
        .ventu-hangout-list-header {
            background: @ventu-color-hate;
        }
    }

    &.ventu-hangout-list-share {
        .ventu-hangout-list-header {
            background: @ventu-color-share;
        }
    }

    &.ventu-hangout-list-follow {
        .ventu-hangout-list-header {
            background: @ventu-color-follow;
        }
    }

    #ventu-hangout-list-cards {
        padding-top: 32px!important;

        .ventu-card--static {


        }
    }


}