@import '../../mixins';

#ventu-footer {

    #ventu-footer-legal {
        text-align: center;
        padding-top: 8px;

        a {
            color: @ventu-black;
        }
    }

    #ventu-footer-social {
        text-align: right;
        padding-top: 3px;

        a {
            margin-left: 10px;

            i {
                color: @ventu-main-grey-dark;
                font-size: 20px;
            }

            &:hover {
                text-decoration: none;
                i {
                    color: @ventu-color-primary;
                }
            }
        }
    }
}


@media (max-width: 767px) {

    #ventu-footer {@import '../../mixins';

        #ventu-footer-legal,
        #ventu-footer-social {
            text-align: left;
        }

    }


}