@import '../mixins';


#ventu-get-in-touch {

    input,
    textarea {
        border: solid 1px @ventu-main-grey-light;
        border-radius: 0;
        box-shadow: none;
    }

    button {
        margin-top: 40px;

    }
}