#ventu-location {






    .ventu-location-legend {
        margin-top: 40px;

        .ventu-location-legend-section {
            margin-bottom: 20px;

            h55 {
                margin-bottom: 10px;
            }

            .switch-wrapper {
                margin-bottom: 6px;

                img {
                    margin-right: 20px;
                }
            }

            .legenda-wrapper {
                margin-bottom: 2px;

                img {
                    margin-right: 6px;
                }

            }

        }
    }

    .real-estate-mix {
        margin-top: 40px;
    }
}
