@import '../mixins';

nav.navbar-default {
    border: 0!important;
    margin: 0;
    background: @ventu-color-primary!important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);


    .navbar-header {

        .navbar-brand {
            padding: 0;
            height: 100%;
        }

        .navbar-toggle {
            border-radius: 0;
            border: 0;
            padding: 20px;
            margin: 0;
            width: 60px;
            height: 60px;
            background: white;

            &:hover {
                background: @ventu-color-primary;

            }

            .icon-bar {
                border-radius: 0;
                background-color: @ventu-color-secundary;
                height: 3px;
            }
        }
    }

    #navbar {
        height: 100%;
        background: #fff;
        padding: 0;

        ul {
            height: 100%;
            margin: 0;

            li {
                display: block;
                height: 100%;
                background: #fff;
                border-left: 1px solid @ventu-main-grey-light;

                &:hover {
                    background: @ventu-main-grey-light;
                }

                a {
                    padding: 20px 24px;
                    font-size: 14px;
                    font-weight: 500;
                    transition: all 0.2s ease;
                    color: @ventu-color-secundary;
                    display: block;
                    height: 100%;
                    font-family: 'ProximaNova';


                    // logged in buttons
                    &.ventu-nav-icon-button {
                        height: 60px;
                        padding: 17px 20px;

                        .ventu-nav-icon {
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            background-size: 100% 100%;
                        }

                        .ventu-nav-label {
                            color: @ventu-color-secundary;
                            display: inline-block;
                            vertical-align: top;
                            padding: 4px 0 0 4px;
                        }

                        &.ventu-nav-button--hangout-lists {

                            .ventu-nav-icon {
                                background-image: url(img/icons/hangout/list-grey.svg);
                            }
                        }
                    }

                    &.ventu-avatar {
                        padding: 10px 20px;
                        height: 60px;

                        .ventu-avatar-label {
                            display: inline-block;
                            margin-left: 6px;
                            vertical-align: top;
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: 767px) {

    nav.navbar-default {
        background: transparent!important;
        box-shadow: none;

        .navbar-header {
            background: @ventu-color-primary!important;
            box-shadow: 0 1px 3px rgba(0,0,0,0.15);
        }

        #navbar {
            box-shadow: @ventu-box-shadow-3;

            ul {

                li {
                    background: transparent;
                    border-left: none;
                    border-bottom: 1px solid @ventu-main-grey-light;

                    &:last-child {
                        border-bottom: 0;
                    }
                }

                &:hover {
                    background: transparent;
                }
            }
        }
    }
}

@media (max-width: 320px) {

    nav.navbar-default {
        height: 40px;

        .navbar-header {

            .navbar-toggle {
                padding: 12px;
                width: 40px;
                height: 40px;
            }

            .ventu-identity {

                img {
                    height: 40px;
                    width: auto;
                }
            }
        }

    }
}