#ventu-parties {

    .broker-logo {
        margin-bottom: 20px;
    }

    .ventu-parties-contact-icon {
        padding-top: 11px;

        img {
            width: 25px;
            height: auto;
        }

    }
}

