@import '../mixins';

#ventu-transactions {

    .ventu-transaction-card {
        height: 310px;
        border-radius: 8px;
        background-color: @ventu-main-grey-light;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        padding: 45px 30px 30px;

        .ventu-transaction-icon {
            margin-bottom: 40px;

            img {
                width: 60px;
                height: auto;
            }
        }
    }

}

@media (max-width: 767px) {

    .ventu-transaction-card {
        margin-bottom: 20px;
    }

}