.ventu-form,
form {
  font-size: 16px;
  line-height: 1.25;
}
.ventu-form h2,
form h2 {
  margin-top: 0;
}
.ventu-form .ventu-form-section,
form .ventu-form-section {
  margin-bottom: 60px;
}
.ventu-form input,
form input {
  width: 100%;
  border: 1px solid #ededec;
  color: #333;
  margin-bottom: 20px;
  background: transparent;
  max-width: 400px;
  display: block;
  border-radius: 0;
  box-shadow: 0;
  padding: 8px;
  font-size: 16px;
  line-height: 1.25;
  font-family: ProximaNova;
}
.ventu-form input:focus,
form input:focus {
  box-shadow: none!important;
}
.ventu-form input[type=submit],
form input[type=submit] {
  width: auto;
}
.ventu-form input[type=submit].submit-inactive,
form input[type=submit].submit-inactive {
  background: #ededec;
  cursor: not-allowed;
  box-shadow: none;
}
.ventu-form input[type=submit].submit-inactive:hover,
form input[type=submit].submit-inactive:hover {
  color: #fff;
}
.ventu-form label,
form label {
  font-weight: 400;
  font-size: 14px;
}
.ventu-form .ventu-input-label,
form .ventu-input-label {
  margin-bottom: 12px;
}
.ventu-form .ventu-form-send,
form .ventu-form-send {
  margin-top: 40px;
}
.ventu-form .checkbox label,
form .checkbox label {
  line-height: 1.3;
}
.ventu-form a,
form a {
  font-family: ProximaNova;
  color: #17141f;
  text-decoration: none;
  display: block;
}
.ventu-form a:hover,
form a:hover {
  color: #03256b;
  text-decoration: underline;
}
.ventu-form button[type=submit],
form button[type=submit] {
  margin-top: 20px;
}
