.ventu-icon {
  border-radius: 50%;
  cursor: pointer;
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.ventu-icon.ventu-icon--in-text {
  width: 20px;
  height: 20px;
  cursor: default;
  display: inline-block;
  vertical-align: top;
}
.ventu-icon.ventu-icon--add {
  background-color: #00A2FF;
  color: #fff;
  background-image: url(img/icons/buttons/plus.svg);
}
.ventu-icon.ventu-icon--love {
  background-color: #2ECC71;
  color: #fff;
  background-image: url(img/icons/buttons/love.svg);
}
.ventu-icon.ventu-icon--hate {
  background-color: #DF0040;
  color: #fff;
  background-image: url(img/icons/buttons/hate.svg);
}
.ventu-icon.ventu-icon--read-more {
  background-color: #FF8D00;
  color: #fff;
  background-image: url(img/icons/buttons/read-more-down.svg);
}
.ventu-icon.ventu-icon--share {
  background-color: #00A2FF;
  color: #fff;
  background-image: url(img/icons/buttons/share.svg);
}
.ventu-icon.ventu-icon--follow {
  background-color: #8400C6;
  color: #fff;
  background-image: url(img/icons/buttons/follow-white.svg);
}
