.ventu-icon {
  cursor: pointer;
  display: inline-block;
  font-family: 'ventu';
  text-align: center;
  transition: all 0.2s ease;
  color: #17141f;
}
.ventu-icon-white {
  color: #fff;
}
.ventu-icon-white.ventu-icon-hover:hover {
  color: #1F1F1F!important;
}
.ventu-icon:after {
  content: 'x';
  /* fallback when no icon content is set */
}
.ventu-icon-big {
  width: 32px;
  height: 32px;
  margin-right: 2px;
  padding-top: 8px;
  font-size: 26px;
}
.ventu-icon-med {
  width: 30px;
  height: 30px;
  margin-right: 2px;
  padding-top: 7px;
  font-size: 25px;
}
.ventu-icon-right {
  float: right;
  margin-right: 0;
  margin-left: 2px;
}
.ventu-icon-box {
  /*border: 0.75px solid #1F1F1F;*/
}
.ventu-icon-photo:after,
.ventu-icon-image:after {
  content: 'p';
}
.ventu-icon-download:after {
  content: 'd';
}
.ventu-icon-search:after {
  content: 's';
}
.ventu-icon-comment:after {
  content: 'R';
}
.ventu-icon-add:after {
  content: '+';
}
.ventu-icon-remove:after,
.ventu-icon-close:after,
.ventu-icon-hate:after {
  content: 'x';
}
.ventu-icon-reload:after {
  content: 'r';
}
.ventu-icon-prev:after,
.ventu-icon-home:after {
  content: '<';
}
.ventu-icon-next:after,
.ventu-icon-details:after {
  content: '>';
}
.ventu-icon-login:after {
  content: 'l';
}
.ventu-icon-filter:after {
  content: '-';
}
.ventu-icon-video:after {
  content: 'P';
}
.ventu-icon-document:after {
  content: 'D';
}
.ventu-icon-3d:after {
  content: '3';
}
.ventu-icon-love:after {
  content: 'L';
}
.ventu-text-along-icon {
  display: inline-block;
  padding: 8px 0 0 1px;
  vertical-align: top;
  font-size: 10px;
}
