.aspect16by9 {
  background-color: #000;
  display: block;
  height: auto;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}
.aspect16by9 img {
  bottom: 0;
  display: block;
  left: 0;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
