.popover {
  border-radius: 0;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 0;
}
.popover .popover-content {
  padding: 0;
}
.popover .popover-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.popover .popover-content ul li {
  border-bottom: 1px solid #fff;
  background-color: #ededec;
}
.popover .popover-content ul li a {
  display: block;
  text-decoration: none;
  padding: 12px 16px;
  color: #17141f;
}
.popover .popover-content ul li a .ventu-icon {
  margin-right: 10px;
  cursor: pointer;
}
.popover .popover-content ul li a img {
  margin-right: 10px;
}
.popover .popover-content ul li:last-child {
  border-bottom: 0;
}
.popover .popover-content ul li:hover {
  background: #fff;
}
.popover.popover--grey-dark .popover-content ul li {
  background-color: #727272;
  border-bottom: 0;
}
.popover.popover--grey-dark .popover-content ul li a {
  color: #fff;
}
.popover.popover--grey-dark .popover-content ul li:hover a {
  text-decoration: underline;
}
.popover.top > .arrow {
  z-index: -1;
  bottom: -6px;
}
.popover.top > .arrow:after {
  border-top-color: #ededec;
}
.popover.top.popover--grey-dark > .arrow:after {
  border-top-color: #727272;
}
