.ventu-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
}
.ventu-popup {
  margin: 100px auto;
  background: #fff;
  position: relative;
  display: none;
}
.ventu-popup.ventu-login {
  width: 350px;
}
.ventu-popup.ventu-settings {
  width: 300px;
}
.ventu-popup .ventu-popup-head {
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.ventu-popup .ventu-popup-head h2 {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
}
.ventu-popup .ventu-popup-body {
  padding-bottom: 30px;
}
.ventu-popup .ventu-popup-body .dropdown-menu {
  border-top: 0;
  border-radius: 0;
  box-shadow: none;
  display: block!important;
  float: none;
  position: relative;
}
.ventu-popup .ventu-popup-body .dropdown-menu li a {
  padding: 8px 32px;
}
.ventu-popup .ventu-popup-body .dropdown-menu li a:hover {
  background: #ddd;
}
.ventu-popup .ventu-popup-body.with-padding {
  padding: 30px;
}
.ventu-close-popup {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  text-align: center;
  padding-top: 2px;
  border-radius: 16px;
}
.ventu-close-popup:hover {
  background: #ddd;
  color: #000;
}
@media (max-width: 767px) {
  .ventu-overlay .ventu-popup {
    margin: 40px auto;
    max-width: calc(100% - 40px);
  }
  .ventu-overlay .ventu-popup.ventu-login {
    width: 350px;
  }
  .ventu-overlay .ventu-popup.ventu-settings {
    width: 300px;
  }
}
