.ventu-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
}
.ventu-overlay .ventu-popup {
  width: 570px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  display: none;
  top: 60px;
  height: calc(100% - 60px);
  overflow: auto;
}
.ventu-overlay .ventu-popup .ventu-popup-head {
  padding: 30px;
  border-bottom: 1px solid #ededec;
  text-align: center;
}
.ventu-overlay .ventu-popup .ventu-popup-head h3 {
  font-size: 25px;
  margin: 0 0 20px 0;
}
.ventu-overlay .ventu-popup-close {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
  background-image: url(img/tools/close-white.svg);
  cursor: pointer;
}
