section {
  padding: 70px 32px;
  background: #fff;
  border-left: 1px solid #ededec;
  border-right: 1px solid #ededec;
  border-bottom: solid 0.5px #ededec;
}
section > h1:first-child,
section > h2:first-child,
section > h3:first-child {
  margin: 0 0 20px 0;
}
section .section-color-fill {
  width: 100%;
  height: 100%;
  background-color: rgba(58, 101, 192, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
section.header-section {
  padding-top: 30px;
  padding-bottom: 30px;
}
section.header-section h1 {
  text-align: center;
  margin: 0;
}
section.section--transparent {
  background: transparent;
  border: 0;
}
section.section--with-background {
  background-size: cover;
  border-left: 0;
  border-right: 0;
}
section.section--without-padding {
  padding: 0;
}
section.section--without-side-padding {
  padding: 20px 0;
}
section.section--without-top-padding {
  padding-top: 0;
  padding-bottom: 0;
}
section.section--small-padding {
  padding: 20px;
}
section.section--with-shadow {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}
section.section--grey {
  background: #ebebeb;
}
section.section--with-color-fill {
  position: relative;
}
section.section--with-color-fill > *:not(.section-color-fill) {
  position: relative;
  z-index: 1;
}
section .sub-section {
  margin: 0 90px 40px 90px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ededec;
}
section .sub-section:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
section .sub-section h4 {
  margin-bottom: 60px;
}
section .section-header {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
section .section-header.section-header--left {
  text-align: left;
}
section .section-header .section-header-text {
  margin-bottom: 40px;
}
section .section-header .section-header-text h1 {
  margin: 0 0 20px 0;
}
section .section-header .section-header-text h2 {
  margin: 0 0 20px 0;
}
section .section-header .section-header-text h5 {
  margin: 0;
}
section .section-header .section-header-text h6 {
  margin: 0;
}
section .section-header .section-header-text.section-header-text--white h1,
section .section-header .section-header-text.section-header-text--white h2,
section .section-header .section-header-text.section-header-text--white h5,
section .section-header .section-header-text.section-header-text--white h6 {
  color: #fff;
}
@media (max-width: 1024px) {
  section {
    padding-left: 40px;
    padding-right: 40px;
  }
  section .sub-section {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  section,
  body.ventu-home section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
