.ventu-tools-button {
  position: relative;
  cursor: pointer;
  height: 60px;
  padding: 17px 12px 18px 12px;
  text-align: center;
  border-bottom: 1px solid #ededec;
}
.ventu-tools-button:hover {
  background: #ededec;
}
.ventu-tools-button .ventu-tools-button-icon {
  width: 25px;
  height: 25px;
  content: '';
  background-size: 100% 100%;
  display: inline-block;
}
.ventu-tools-button.ventu-tools-button--save .ventu-tools-button-icon {
  background-image: url(img/tools/save-grey.svg);
}
.ventu-tools-button.ventu-tools-button--erase .ventu-tools-button-icon {
  background-image: url(img/icons/hangout/erase-list-grey.svg);
}
.ventu-tools-button .ventu-tools-button-label {
  text-decoration: underline;
  display: inline-block;
  vertical-align: top;
  padding: 3px 8px;
}
#ventu-filter-button {
  display: inline-block;
  margin-right: 12px;
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
#ventu-filter-button:after {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
  background-image: url(img/tools/filter-grey.svg);
  content: '';
}
