@ventu-color-1: #00e5a9;
@ventu-main-grey: #727272;
@ventu-black: #333;
@ventu-color-hate: #DF0040;
@ventu-color-love: #00e5a9;
@ventu-color-details: #FF8D00;

@ventu-box-shadow-1: 0 2px 4px rgba(0,0,0,0.4);


@ventu-border-1: 1px solid #727272;