.ventu-ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 1;
    background: inherit;

}

.ventu-card-button:hover .ventu-ripple,
.ventu-card-button.hover .ventu-ripple {
    //width: 500%;
    //height: 500%;
    //left: -200%;
    //top: -200%;
    //opacity: 0;
    //transition: all 1s ease;
    animation: ripple 1.5s 1;
    transition: none!important;
}

@keyframes ripple {
    0%{
        width: 0;
        height: 0;
        left: 50%;
        top: 50%;
        opacity: 1;
    }

    48%{
        width: 500%;
        height: 500%;
        left: -200%;
        top: -200%;
        opacity: 0;
    }

    49%{
        width: 0;
        height: 0;
        left: 50%;
        top: 50%;
        opacity: 0;
    }

    50%{
        width: 0;
        height: 0;
        left: 50%;
        top: 50%;
        opacity: 1;
    }

    98%{
        width: 500%;
        height: 500%;
        left: -200%;
        top: -200%;
        opacity: 0;
    }

    99%{
        width: 0;
        height: 0;
        left: 50%;
        top: 50%;
        opacity: 0;
    }

    100%{
        width: 0;
        height: 0;
        left: 50%;
        top: 50%;
        opacity: 0;
    }

}