.select2-container {
    vertical-align: top;
    width: auto!important;
    min-width: 150px;
    position: relative;

    &:after {
        position: absolute;
        right: 12px;
        top: 14px;
        content: '';
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px dashed;
        display: inline-block;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        width: 0;
    }

    .selection {

        .select2-selection {
            border-radius: 0;
            border: @ventu-border-1;
            height: 32px;
            padding: 1px 3px;

            .select2-selection__rendered {

                .select2-search__field {
                    margin-top: 7px;
                    max-width: 200px;
                }
            }
        }

    }

    .select2-dropdown {

        border: @ventu-border-1;
        border-top: 1px solid #ddd;
        border-radius: 0;
        position: relative;
        top: -1px;

        .select2-results__options {
            height: auto;
            max-height: 600px!important;

            li {
                border-bottom: 1px solid #ddd;
                padding: 8px 16px;
                color: @ventu-black;

                &:last-child {
                    border-bottom: 0;
                }

                &:hover {
                    background: @button-hover-color;
                    color: @ventu-black;
                }

                &.select2-results__option--highlighted[aria-selected] {
                    background: @button-hover-color;
                }
            }
        }

    }


}

